Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

[KOGITO-2957] Considering K_SINK env var when comparing Deployments
  pkg/framework/comparator.go
  pkg/framework/comparator_test.go
Due: operator

[KOGITO-2978] Run all non native BDD tests in Kogito PR check (#495)
  Jenkinsfile
Due: none

add integration test - tracing addon and trusty service
  test/features/deploy_quarkus_service.feature
Due: none

Revert "add integration test - tracing addon and trusty service"
  test/features/deploy_quarkus_service.feature
Due: none

update integration test
  test/features/install_trusty.feature
Due: none

fix integration test
  test/features/install_trusty.feature
Due: none

[KOGITO-2957] Considering K_SINK env var when comparing Deployments (#496)
  pkg/framework/comparator.go
  pkg/framework/comparator_test.go
Due: operator

KOGITO-2999 BDD: Disable optaplanner native
  test/features/deploy_kogito_runtime.feature
  test/scripts/examples/process-optaplanner-quarkus.feature
Due: none

KOGITO-3001 Unstable if build examples imgs fail
  Jenkinsfile.deploy
Due: none

KOGITO-3001 Unstable if build examples imgs fail (#499)
  Jenkinsfile.deploy
Due: none

[KOGITO-3005] Add exe extension to Windows CLI
  hack/go-build-cli.sh
Due: none

[KOGITO-3005] Add exe extension to Windows CLI (#501)
  hack/go-build-cli.sh
Due: none

KOGITO-2999 BDD: Disable optaplanner native (#498)
  test/features/deploy_kogito_runtime.feature
  test/scripts/examples/process-optaplanner-quarkus.feature
Due: none

[KOGITO-2290][KOGITO-2291] Setup stages for release
  Jenkinsfile.deploy
  Jenkinsfile.promote
  Makefile
Due: none

updates after release
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

Update Jenkinsfile.promoteCo-authored-by: Kevin Mok <kevin.mok@live.ca>
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

[KOGITO-2940] Tests: Fix missing request body in HTTP request step (#488)
  test/steps/http.go
Due: none

KOGITO-2932 Install operators one after the other (#490)
  test/steps/operator.go
Due: none

[KOGITO-2871] - Remove depreciated properties from kogito-cloud-operator
  pkg/infrastructure/services/infinispan.go
  pkg/infrastructure/services/infinispan_test.go
Due: operator

Retrigger build
  pkg/infrastructure/services/infinispan.go
Due: operator

[KOGITO-1998] - Incorporate review comment
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitobuilds_crd.yaml
  pkg/apis/app/v1alpha1/conditions.go
Due: operator

KOGITO-2988 BDD: Revert detection for docker build
  test/framework/dockerfile_provider.go
Due: none

KOGITO-2355: BDD tests: Test Jobs service using external Infinispan and Kafka connection
  test/features/install_jobs_service.feature
Due: none

Please ignore me
  Jenkinsfile
Due: none

[KOGITO-2290][KOGITO-2291] Setup stages for release (#420)
  Jenkinsfile.deploy
  Jenkinsfile.promote
  Makefile
Due: none

fix trusty kafka topics, add link to trusty readme
  cmd/kogito/command/install/trusty.go
  cmd/kogito/command/shared/install_services.go
  pkg/controller/kogitotrusty/kogitotrusty_controller.go
Due: operator, cli

Update comments.yml
  .github/bot-files/comments.yml
Due: none

[KOGITO-2871] - Fix formatting issue
  pkg/infrastructure/services/infinispan.go
Due: operator

KOGITO-3025 Disable native binary build test
  test/features/deploy_kogito_build.feature
Due: none

KOGITO-2355: BDD tests: Test Jobs service using external Infinispan and Kafka connection (#494)
  test/features/install_jobs_service.feature
Due: none

[KOGITO-3032] - Ignoring any injected variables on PodSpecTemplate
  pkg/framework/comparator.go
  pkg/framework/comparator_test.go
  pkg/framework/env_var.go
  pkg/framework/env_var_test.go
Due: operator

KOGITO-3025 Disable native binary build test (#506)
  test/features/deploy_kogito_build.feature
Due: none

[KOGITO-3030] Tests: Retry image build in case of failure
  test/framework/command.go
  test/framework/container_engine.go
Due: none

Update project version to 0.13.1 for release
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/0.13.1/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.1/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.1/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.1/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.1/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.1/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.1/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.1/kogito-operator.v0.13.1.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  version/version.go
Due: cli

Update comments.yml for jenkins tests (#505)
  .github/bot-files/comments.yml
Due: none

KOGITO-2888 Cleanup old pipeline(s)
  Jenkinsfile.nightly
Due: none

KOGITO-3045 Set image's deployment properties
  Jenkinsfile.deploy
Due: none

KOGITO-3052: Allow to see the exception stacktrace.
  test/steps/data.go
Due: none
