Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - api/
      - controllers/
      - internal/
      - core/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

[KOGITO-5865] BDD: Cleanup installed operators (#1012)
  hack/clean-cluster-operators.sh
  hack/env.sh
  hack/run-tests.sh
  hack/run-tests.sh.bats
Due: none

[1.11.x] [KOGITO-5865] BDD: Cleanup installed operators (#1013)
  hack/clean-cluster-operators.sh
  hack/env.sh
  hack/run-tests.sh
  hack/run-tests.sh.bats
Due: none

Update retrieval of build runtime image
  test/pkg/framework/dockerfile_provider.go
  test/pkg/framework/kogitobuild.go
  test/pkg/framework/util.go
Due: none

KOGITO-5845 Add @rhpam native scenarios
  test/features/deploy_kogito_runtime.feature
  test/features/service_discovery.feature
Due: none

KOGITO-5845 Add @rhpam native scenarios (#1005)
  test/features/deploy_kogito_runtime.feature
  test/features/service_discovery.feature
  test/pkg/framework/dockerfile_provider.go
  test/pkg/framework/kogitobuild.go
  test/pkg/framework/util.go
Due: none

[KOGITO-5740] Unnecessary reconciliations triggered for Service
  RELEASE_NOTES.md
  core/framework/comparator.go
  core/framework/comparator_test.go
Due: operator

Change custom service comparator to only compare required fields
  core/framework/comparator.go
  core/framework/comparator_test.go
  core/kogitoservice/deployer_resources.go
Due: operator

Moved service comparator for access to logging
  core/framework/comparator.go
  core/kogitoservice/deployer_resources.go
Due: operator

Moved service comparator tests for access to service deployer
  core/framework/comparator_test.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
Due: operator

Add additional service comparator tests
  core/kogitoservice/deployer_resources_test.go
Due: operator

[KOGITO-5740] Unnecessary reconciliations triggered for Service (#999)
  RELEASE_NOTES.md
  core/framework/comparator.go
  core/framework/comparator_test.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
Due: operator

Remove namespace option from BDD tests
  .ci/jenkins/Jenkinsfile
  .ci/jenkins/Jenkinsfile.profiling
  .ci/jenkins/scripts/helper.groovy
  hack/run-tests.sh
  test/Makefile
  test/pkg/config/config.go
  test/pkg/framework/kogitoserviceutils.go
  test/pkg/framework/util.go
Due: none

correction
  go.sum
  hack/run-tests.sh.bats
  test/pkg/steps/image_registry.go
Due: none

[KOGITO-5888] Remove namespace option from BDD tests (#1017)
  .ci/jenkins/Jenkinsfile
  .ci/jenkins/Jenkinsfile.profiling
  .ci/jenkins/scripts/helper.groovy
  go.sum
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/Makefile
  test/pkg/config/config.go
  test/pkg/framework/kogitoserviceutils.go
  test/pkg/framework/util.go
  test/pkg/steps/image_registry.go
Due: none

[KOGITO-5740] Unnecessary reconciliations triggered for Service (#999)
  RELEASE_NOTES.md
  core/framework/comparator.go
  core/framework/comparator_test.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
  go.sum
Due: operator

[KOGITO-5740] Unnecessary reconciliations triggered for Service (#999) (#1018)
  RELEASE_NOTES.md
  core/framework/comparator.go
  core/framework/comparator_test.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
  go.sum
Due: operator

Update project version to 1.11.1
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

[1.11.x] Update snapshot version to 1.11.2-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

Fix test cases
  controllers/app/suite_test.go
  core/infrastructure/deployment.go
  core/kogitoservice/status.go
Due: operator

Fix BDD tests
  test/pkg/framework/operator.go
  test/pkg/framework/subscription.go
  test/pkg/meta/meta.go
  test/pkg/steps/data.go
Due: none

Increase memory to 200mi
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
Due: none

Add user in profiling
  profiling/image.yaml
Due: none

Change kube proxy version to 0.5.0 due to compatiblity issues
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/full/manager_auth_proxy_patch.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
Due: none

KOGITO-5536 Changed version names for clarity in pipelines
  .ci/jenkins/Jenkinsfile.deploy
  .ci/jenkins/Jenkinsfile.examples-images.promote
  .ci/jenkins/Jenkinsfile.promote
  .ci/jenkins/dsl/jobs.groovy
  .ci/jenkins/scripts/helper.groovy
Due: none

test
  .ci/jenkins/Jenkinsfile.deploy
  .ci/jenkins/Jenkinsfile.examples-images.deploy
Due: none

[KOGITO-5745] BDD tests: Add Node scraper for performance tests
  .github/workflows/Kogito-Operator-PR-Check.yaml
  hack/run-tests.sh
  test/features/kogito_service_performance.feature
  test/pkg/framework/kubernetes.go
  test/pkg/installers/hyperfoil_node_scraper_installer.go
  test/pkg/steps/hyperfoil.go
Due: none

[KOGITO-5745] BDD tests: Add Node scraper for performance tests (#986)
  .github/workflows/Kogito-Operator-PR-Check.yaml
  hack/run-tests.sh
  test/features/kogito_service_performance.feature
  test/pkg/framework/kubernetes.go
  test/pkg/installers/hyperfoil_node_scraper_installer.go
  test/pkg/steps/hyperfoil.go
Due: none

correct
  .ci/jenkins/scripts/helper.groovy
Due: none

BDD tests: Increase the Keycloak instance timeout for slow environment
  test/pkg/framework/keycloak.go
Due: none

BDD tests: Increase the Keycloak instance timeout for slow environment (#1022)
  test/pkg/framework/keycloak.go
Due: none

KOGITO-5730 Restructure DSL folders
  .ci/jenkins/dsl/jobs.groovy
Due: none

KOGITO-5730 Restructure DSL folders (#987)
  .ci/jenkins/dsl/jobs.groovy
Due: none

KOGITO-5730 Restructure DSL folders (#987) (#1023)
  .ci/jenkins/dsl/jobs.groovy
Due: none

[KOGITO-5945] BDD tests: Add option to run tests using released operator
  test/pkg/config/config.go
  test/pkg/installers/kogito_installer.go
Due: none

Specify timeout for cluster resource delete
  go.tools.mod
  go.tools.sum
  hack/env.sh
Due: none

Specify timeout for cluster resource delete (#1027)
  go.tools.mod
  go.tools.sum
  hack/env.sh
Due: none

[KOGITO-5945] BDD tests: Add option to run tests using released operator (#1026)
  test/pkg/config/config.go
  test/pkg/installers/kogito_installer.go
Due: none
