Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

refactoring
  cmd/kogito/command/flag/runtime_flag.go
  cmd/kogito/command/install/kogito_operator.go
  cmd/kogito/command/project/project.go
Due: cli

clean up
  deploy/crds/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
Due: none

[KOGITO-3579] - travel-agency example not updated to reflect infrastructure change (#616)
  examples/kubernetes/travel-agency/data-index.yaml
  examples/kubernetes/travel-agency/deploy.sh
  examples/kubernetes/travel-agency/kogito-travels.yaml
  examples/kubernetes/travel-agency/kogito-visas.yaml
  examples/kubernetes/travel-agency/management-console.yaml
Due: none

KOGITO-3643 Setup 0.17.0-rc1
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/kogito-operator.v0.17.0-rc1.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  test/.default_config
  version/version.go
Due: cli

Fix owner issue
  pkg/controller/kogitosupportingservice/dataindex/dataindex_reconciler.go
  pkg/controller/kogitosupportingservice/dataindex/dataindex_service.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller_test.go
  pkg/controller/kogitosupportingservice/kogitosupporting_service.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
  pkg/framework/owner.go
Due: operator

corrected csv files
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/kogito-operator.v0.17.0-rc1.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
Due: none

small fix to ignore 1.0.0-snapshot in olm
  hack/bump-version.sh
Due: none

Copy manifests version 0.16.0 to master
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/kogito-operator.v0.16.0.clusterserviceversion.yaml
Due: none

Copy manifests version 0.16.0 to master (#619)
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/kogito-operator.v0.16.0.clusterserviceversion.yaml
Due: none

[0.17.x] [KOGITO-3643] Setup 0.17.0-rc1 version (#618)
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0-rc1/kogito-operator.v0.17.0-rc1.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  hack/bump-version.sh
  test/.default_config
  version/version.go
Due: cli

[KOGITO-3094] - Enable persistence selection in Data Index controller
  RELEASE_NOTES.md
  pkg/controller/kogitodataindex/kogitodataindex_controller.go
  pkg/controller/kogitodataindex/kogitodataindex_controller_test.go
  pkg/infrastructure/data_index.go
Due: operator

Copy manifests version 0.16.0 to master (#619) (#622)
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/kogito-operator.v0.16.0.clusterserviceversion.yaml
Due: none

Fix owner issue
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
  pkg/framework/controller_watcher.go
  pkg/framework/owner.go
Due: operator

reduce packages and refactor
  examples/explainability.yaml
  examples/jobs-service.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  examples/management-console.yaml
  examples/trusty.yaml
  go.mod
  hack/deploy-operator-on-ocp.sh
  pkg/controller/kogitosupportingservice/explainability_reconciler.go
  pkg/controller/kogitosupportingservice/explainability_reconciler_test.go
  pkg/controller/kogitosupportingservice/jobsservice_reconciler.go
  pkg/controller/kogitosupportingservice/jobsservice_reconciler_test.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller_test.go
  pkg/controller/kogitosupportingservice/kogitosupporting_service.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller_test.go
  pkg/controller/kogitosupportingservice/mgmt_reconciler.go
  pkg/controller/kogitosupportingservice/mgmt_reconciler_test.go
  pkg/controller/kogitosupportingservice/mgmtconsole/mgmt_service.go
  pkg/controller/kogitosupportingservice/supportingservice_resource.go
  pkg/controller/kogitosupportingservice/trustyai_reconciler.go
  pkg/controller/kogitosupportingservice/trustyai_reconciler_test.go
  pkg/controller/kogitosupportingservice/trustyui/trustyui_service.go
  pkg/controller/kogitosupportingservice/trustyui_reconciler.go
  pkg/controller/kogitosupportingservice/trustyui_reconciler_test.go
Due: operator

fetch and deploy grafana dashboards
  go.mod
  go.sum
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/deployment.go
  pkg/infrastructure/services/prometheus.go
Due: operator

Fix Kogito CLI
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/remove/remove.go
  cmd/kogito/command/remove/setup_test.go
  cmd/kogito/command/remove/supportingservices.go
  cmd/kogito/command/remove/supportingservices_test.go
  cmd/kogito/command/shared/default_services.go
Due: cli

add test
  go.sum
  pkg/infrastructure/services/dashboards_test.go
Due: operator

clean up
  pkg/infrastructure/services/dashboards.go
Due: operator

small typos and leftover
  cmd/kogito/command/converter/kogitobuildtype_converter.go
  cmd/kogito/command/remove/factory.go
  cmd/kogito/command/remove/kogitoinfra.go
  cmd/kogito/command/remove/kogitoinfra_test.go
  deploy/crds/app.kiegroup.org_v1alpha1_kogitosupportingservice_cr.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  examples/explainability.yaml
  examples/kubernetes/travel-agency/management-console.yaml
Due: cli

Fix typos
  deploy/role.yaml
  examples/data-index.yaml
  pkg/apis/app/v1alpha1/kogitosupportingservice_types.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/controller/kogitoruntime/kogitoruntime_service.go
  pkg/controller/kogitosupportingservice/explainability_reconciler.go
  pkg/controller/kogitosupportingservice/jobsservice_reconciler.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
  pkg/controller/kogitosupportingservice/mgmt_reconciler.go
  pkg/controller/kogitosupportingservice/trustyai_reconciler.go
  pkg/controller/kogitosupportingservice/trustyui_reconciler.go
  pkg/framework/controller_watcher.go
  pkg/infrastructure/kogito_runtime.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/deployer_test.go
  pkg/infrastructure/services/prometheus.go
Due: operator

fix tests
  cmd/kogito/command/install/supportingservices.go
  pkg/controller/kogitosupportingservice/explainability_reconciler_test.go
  pkg/controller/kogitosupportingservice/jobsservice_reconciler.go
  pkg/controller/kogitosupportingservice/jobsservice_reconciler_test.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller_test.go
  pkg/controller/kogitosupportingservice/mgmt_reconciler_test.go
  pkg/controller/kogitosupportingservice/trustyai_reconciler.go
  pkg/controller/kogitosupportingservice/trustyai_reconciler_test.go
  pkg/controller/kogitosupportingservice/trustyui_reconciler_test.go
Due: operator, cli

review comments
  deploy/crds/app.kiegroup.org_v1alpha1_kogitosupportingservice_cr.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
Due: operator

review comments
  pkg/infrastructure/infinispan.go
Due: operator

update tests
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/dashboards_test.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/deployer_test.go
  pkg/infrastructure/services/messaging_test.go
  pkg/infrastructure/services/prometheus.go
Due: operator

review suggestions
  cmd/kogito/command/install/kogito_operator.go
  cmd/kogito/command/install/kogito_operator_test.go
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/message/data_index.go
  cmd/kogito/command/message/explainability.go
  cmd/kogito/command/message/supporting_services.go
  cmd/kogito/command/shared/install_services.go
  examples/jobs-service.yaml
  pkg/controller/kogitoruntime/deployer.go
  pkg/controller/kogitosupportingservice/mgmt_reconciler.go
  pkg/controller/kogitosupportingservice/trustyui_reconciler.go
  pkg/infrastructure/data_index.go
  pkg/infrastructure/jobs_service.go
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/services/prometheus.go
  pkg/infrastructure/trusty.go
Due: operator, cli

fix tests and deployment
  go.sum
  pkg/client/meta/meta.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/deployer_test.go
Due: operator

[KOGITO-3094] - Provide data-index-infinispan/mongodb as independent images
  RELEASE_NOTES.md
  examples/data-index-mongodb.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  pkg/infrastructure/data_index.go
Due: operator

review suggestions
  cmd/kogito/command/message/mgmt_console.go
  cmd/kogito/command/project/project.go
  cmd/kogito/command/shared/default_services.go
Due: cli

fix permissions
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  deploy/role.yaml
  go.sum
  pkg/infrastructure/services/deployer.go
Due: operator

fix selectors
  go.sum
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/dashboards_test.go
  pkg/infrastructure/services/deployer.go
Due: operator

add docs
  pkg/infrastructure/services/dashboards.go
Due: operator

refactoring
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/dashboards_test.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/deployer_test.go
  pkg/infrastructure/services/messaging_test.go
  pkg/infrastructure/services/mock_svc_test.go
Due: operator

review suggestions
  pkg/controller/kogitosupportingservice/kogitodataindex_controller.go
  pkg/infrastructure/jobs_service.go
  pkg/infrastructure/kogito_service.go
Due: operator

added required validation for serviceType
  pkg/apis/app/v1alpha1/kogitosupportingservice_types.go
Due: operator

Path conditions:
  operator: any of: pkg/
  cli: any of: cmd/
