Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - api/
      - controllers/
      - internal/
      - core/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

setup rhpam tag
  test/features/deploy_kogito_runtime.feature
Due: none

added temp command
  command
Due: none

review comments
  test/pkg/framework/kafka.go
Due: none

corrected lint
  test/pkg/framework/kafka.go
Due: none

[KOGITO-5673] Setup BDD test for runtime with only events (#966)
  Makefile
  core/infrastructure/kafka.go
  go.sum
  test/features/deploy_kogito_runtime.feature
  test/pkg/framework/kafka.go
  test/pkg/steps/kafka.go
Due: operator

Fix build problem with addlicense library
  go.tools.mod
  go.tools.sum
  hack/addheaders.sh
Due: none

Fix build problem with addlicense library (#969)
  go.tools.mod
  go.tools.sum
  hack/addheaders.sh
Due: none

KOGITO-5685 RHPAM BDD tests with events
  api/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types.go
  test/pkg/framework/kogitoinfra.go
  test/pkg/framework/mappers/cr_to_cli.go
  test/pkg/steps/kogitoinfra.go
  test/pkg/steps/mappers/create_kogito_infra.go
Due: operator

[KOGITO-5694] BDD tests: Increase failure threshold for startup probe
  test/pkg/framework/kogitoruntime.go
  test/pkg/framework/kogitoserviceutils.go
Due: none

[KOGITO-5694] BDD tests: Increase failure threshold for startup probe (#970)
  test/pkg/framework/kogitoruntime.go
  test/pkg/framework/kogitoserviceutils.go
Due: none

KOGITO-5685 RHPAM BDD tests with events (#968)
  api/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types.go
  test/pkg/framework/kogitoinfra.go
  test/pkg/framework/mappers/cr_to_cli.go
  test/pkg/steps/kogitoinfra.go
  test/pkg/steps/mappers/create_kogito_infra.go
Due: operator

update
  test/pkg/framework/operator.go
Due: none

Setup StartingCSV option
  test/pkg/framework/operator.go
  test/pkg/installers/service_installer.go
Due: none

allow to disable log of community objects
  test/pkg/executor/bdd_executor.go
Due: none

fix
  test/pkg/framework/operator.go
Due: none

Fix build problem with addlicense library (#969) (#972)
  go.tools.mod
  go.tools.sum
  hack/addheaders.sh
Due: none

Update project version to 1.10.0
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

KOGITO-5686 RHPAM BDD tests with events against AMQ streams (#971)
  test/pkg/executor/bdd_executor.go
  test/pkg/framework/operator.go
  test/pkg/installers/service_installer.go
Due: none

[KOGITO-4700] BDD tests for Data Index Service with PostgreSQL persistence
  core/kogitosupportingservice/dataindex_reconciler.go
  test/features/deploy_kogito_runtime.feature
  test/features/install_dataindex.feature
  test/pkg/steps/kogitodataindex.go
Due: operator

Dashboard name must follow RFC 1123 standard
  core/kogitoservice/dashboards.go
Due: operator

[KOGITO-4700] BDD tests for Data Index Service with PostgreSQL persistence (#950)
  core/kogitosupportingservice/dataindex_reconciler.go
  test/features/deploy_kogito_runtime.feature
  test/features/install_dataindex.feature
  test/pkg/steps/kogitodataindex.go
Due: operator

Dashboard name must follow RFC 1123 standard (#975)
  core/kogitoservice/dashboards.go
Due: operator

KOGITO-5707 Disable mgmt/task keycloak tests
  test/features/keycloak.feature
Due: none

KOGITO-5707 Disable mgmt/task keycloak tests (#978)
  test/features/keycloak.feature
Due: none

KOGITO-5707 Disable mgmt/task keycloak tests (#979)
  test/features/keycloak.feature
Due: none

[KOGITO-5612] BDD tests: Migrate performance tests to Hyperfoil
  go.mod
  go.sum
  hack/run-tests.sh
  hack/run-tests.sh.bats
  meta/meta.go
  test/Makefile
  test/features/kogito_service_performance.feature
  test/pkg/config/config.go
  test/pkg/framework/http.go
  test/pkg/installers/hyperfoil_installer.go
  test/pkg/steps/data.go
  test/pkg/steps/hyperfoil.go
Due: none

Add testcases and incorporate review comments
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/volumereference.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitoinfras.yaml
  config/crd/bases/app.kiegroup.org_kogitoinfras.yaml
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller_test.go
  core/infrastructure/configmap.go
  core/infrastructure/secret.go
  core/kogitoinfra/configmapreference_reconciler.go
  core/kogitoinfra/configmapreference_reconciler_test.go
  core/kogitoinfra/infinispan_reconciler_test.go
  core/kogitoinfra/infinispanconfig_reconciler.go
  core/kogitoinfra/infinispanconfig_reconciler_test.go
  core/kogitoinfra/infinispancredential_reconciler.go
  core/kogitoinfra/infinispancredential_reconciler_test.go
  core/kogitoinfra/infinispantruststore_reconciler.go
  core/kogitoinfra/infinispantruststore_reconciler_test.go
  core/kogitoinfra/infraproperties_reconciler.go
  core/kogitoinfra/infraproperties_reconciler_test.go
  core/kogitoinfra/kafkaconfig_reconciler_test.go
  core/kogitoinfra/mongodb_reconciler_test.go
  core/kogitoinfra/mongodbconfig_reconciler_test.go
  core/kogitoinfra/mongodbcredential_reconciler.go
  core/kogitoinfra/mongodbcredential_reconciler_test.go
  core/kogitoinfra/secretreference_reconciler_test.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/messaging_kafka_test.go
  core/kogitosupportingservice/dataindex_reconciler_test.go
  core/kogitosupportingservice/explainability_reconciler_test.go
  core/kogitosupportingservice/trustyai_reconciler_test.go
  core/test/fake_client.go
  core/test/infinispan.go
  core/test/kafka.go
  core/test/kogitoinfra.go
  core/test/mongodb.go
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
Due: operator

[KOGITO-5612] BDD tests: Migrate performance tests to Hyperfoil (#957)
  go.mod
  go.sum
  hack/run-tests.sh
  hack/run-tests.sh.bats
  meta/meta.go
  test/Makefile
  test/features/kogito_service_performance.feature
  test/pkg/config/config.go
  test/pkg/framework/http.go
  test/pkg/installers/hyperfoil_installer.go
  test/pkg/steps/data.go
  test/pkg/steps/hyperfoil.go
Due: none

[1.10.x] Update snapshot version to 1.10.1-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

KOGITO-5636 Native build image with another image
  .jenkins/dsl/jobs.groovy
  .jenkins/scripts/helper.groovy
  Jenkinsfile.deploy
  README.md
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/Makefile
  test/features/deploy_kogito_build.feature
  test/pkg/config/config.go
  test/pkg/framework/maven.go
  test/pkg/steps/kogitobuild.go
Due: none

qqqqq
  test/features/kogito_service_performance.feature
  test/pkg/framework/kubernetes.go
  test/pkg/installers/hyperfoil_node_scraper_installer.go
  test/pkg/steps/hyperfoil.go
Due: none

Update Jenkins deploy jobs
  Jenkinsfile.deploy
  Jenkinsfile.examples-images.deploy
Due: none

KOGITO-5636 Native build image with another image (#976)
  .jenkins/dsl/jobs.groovy
  .jenkins/scripts/helper.groovy
  Jenkinsfile.deploy
  README.md
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/Makefile
  test/features/deploy_kogito_build.feature
  test/pkg/config/config.go
  test/pkg/framework/maven.go
  test/pkg/steps/kogitobuild.go
Due: none
