Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

Prometheus BDD test adjustment
  test/features/prometheus.feature
Due: none

[KOGITO-3516] Services now listen to default HTTP port (#598)
  hack/go-vet.sh
  pkg/controller/kogitodataindex/kogitodataindex_controller_test.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller_test.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
  pkg/controller/kogitotrusty/kogitotrusty_controller_test.go
  pkg/framework/containers.go
  pkg/infrastructure/services/route.go
Due: operator

KOGITO-3552: BDD tests: Enable Trusty - Keycloak test
  test/features/keycloak.feature
Due: none

[KOGITO-3375] - Incorporate review comments
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/services/deployer.go
  test/steps/mappers/create_kogito_service.go
Due: operator

[KOGITO-3543] - Wrong environment values for Kogito Services after reconcile cycles (#599)
  pkg/infrastructure/services/deployment.go
Due: operator

[KOGITO-3375] - Incorporate review comments
  pkg/apis/app/v1alpha1/kogitoservices_types.go
  pkg/framework/containers.go
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/services/prometheus.go
Due: operator

[KOGITO-3543] - Wrong environment values for Kogito Services after reconcile cycles (#599) (#603)
  pkg/infrastructure/services/deployment.go
Due: operator

[KOGITO-3375] - Fix Build issue
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/framework/containers.go
Due: operator

Update project version to 0.16.0 for release
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/kogito-operator.v0.16.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  test/.default_config
  version/version.go
Due: cli

[KOGITO-3375] - Incorporate review comments
  pkg/framework/containers.go
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/services/prometheus.go
  pkg/infrastructure/services/prometheus_test.go
Due: operator

Update project version to 0.16.0 for release
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/kogito-operator.v0.16.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  test/.default_config
  version/version.go
Due: cli

Copy manifests version 0.16.0 to master
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.16.0/kogito-operator.v0.16.0.clusterserviceversion.yaml
Due: none

KOGITO-3280: Cucumber Tests: Add test for management-console with Keycloak (#597)
  test/features/keycloak.feature
Due: none

KOGITO-3552: BDD tests: Enable Trusty - Keycloak test (#601)
  test/features/keycloak.feature
Due: none

Fix EXAMPLES_DIR path
  examples/kubernetes/travel-agency/deploy.sh
Due: none

KOGITO-3510 Set creds as params (#595)
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

[KOGITO-3579] - travel-agency example not updated to reflect infrastructure change
  deploy/crds/app.kiegroup.org_v1alpha1_kogitoinfra_cr.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  examples/data-index.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  examples/kubernetes/travel-agency/kogito-travels.yaml
  examples/kubernetes/travel-agency/kogito-visas.yaml
  examples/travelapp-kogito-travel-agency.yaml
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
Due: operator

[KOGITO-3579] - Incorporate review comments
  examples/kubernetes/travel-agency/data-index.yaml
  examples/kubernetes/travel-agency/management-console.yaml
Due: none

add grafana support infra
  cmd/kogito/command/flag/runtime_flag.go
  cmd/kogito/command/install/kogito_operator.go
  cmd/kogito/command/project/project.go
  deploy/crds/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator-operatorsource.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  go.mod
  go.sum
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/kogitoinfra/grafana/grafana_reconciler.go
  pkg/controller/kogitoinfra/grafana/resource.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
  pkg/controller/kogitoinfra/kogitoinfra_service.go
  pkg/infrastructure/grafana.go
  pkg/infrastructure/services/deployer.go
  test/steps/mappers/create_kafka.go
Due: operator, cli

Fix EXAMPLES_DIR path (#608)
  examples/kubernetes/travel-agency/deploy.sh
Due: none

KOGITO-3586 BDD tests should have unique namespace
  test/steps/data.go
Due: none

review update
  test/steps/data.go
Due: none

lint correction
  pkg/infrastructure/infinispan.go
  pkg/infrastructure/kafka.go
  pkg/infrastructure/keycloak.go
Due: operator

KOGITO-2986 Removed test/controller dependency
  cmd/kogito/command/flag/infraresource_flag.go
  cmd/kogito/command/install/kogito_infra_test.go
  pkg/controller/kogitobuild/build/image_stream_kogito.go
  pkg/controller/kogitobuild/build/image_stream_kogito_test.go
  pkg/controller/kogitobuild/build/manager_test.go
  pkg/controller/kogitobuild/kogitobuild_controller_test.go
  pkg/controller/kogitoinfra/infinispan/infinispan_reconciler.go
  pkg/controller/kogitoinfra/infinispan/resource.go
  pkg/controller/kogitoinfra/kafka/kafka_reconciler.go
  pkg/controller/kogitoinfra/kafka/resource.go
  pkg/controller/kogitoinfra/keycloak/keyclock_reconciler.go
  pkg/controller/kogitoinfra/keycloak/resource.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
  pkg/controller/kogitoinfra/kogitoinfra_service.go
  pkg/infrastructure/infinispan.go
  pkg/infrastructure/kafka.go
  pkg/infrastructure/keycloak.go
  pkg/infrastructure/kogito_images.go
  pkg/infrastructure/services/kafka.go
  pkg/infrastructure/services/kafka_test.go
  test/framework/dockerfile_provider.go
  test/framework/kogitobuild.go
  test/framework/kogitoinfra.go
  test/steps/kafka.go
Due: operator, cli

[KOGITO-3579] - travel-agency example not updated to reflect infrastr… (#609)
  deploy/crds/app.kiegroup.org_v1alpha1_kogitoinfra_cr.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  examples/data-index.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  examples/kubernetes/travel-agency/kogito-travels.yaml
  examples/kubernetes/travel-agency/kogito-visas.yaml
  examples/kubernetes/travel-agency/management-console.yaml
  examples/travelapp-kogito-travel-agency.yaml
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
Due: operator

KOGITO-3465 Handle self-signed certificate
  Jenkinsfile
  Jenkinsfile.deploy
  Makefile
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/framework/kogitobuild.go
Due: none

[KOGITO-3586] BDD tests should have unique namespace (#611)
  test/steps/data.go
Due: none

use scheme from packages
  pkg/infrastructure/infinispan.go
  pkg/infrastructure/kafka.go
  pkg/infrastructure/keycloak.go
Due: operator

[KOGITO-3094] - Enable persistence selection in Data Index controller
  RELEASE_NOTES.md
  pkg/controller/kogitodataindex/kogitodataindex_controller.go
  pkg/controller/kogitodataindex/kogitodataindex_controller_test.go
  pkg/infrastructure/data_index.go
Due: operator

Update pkg/infrastructure/keycloak.go
  pkg/infrastructure/keycloak.go
Due: operator

correction
  pkg/infrastructure/keycloak.go
Due: operator

[KOGITO-3579] - travel-agency example not updated to reflect infrastructure change
  examples/kubernetes/travel-agency/data-index.yaml
  examples/kubernetes/travel-agency/deploy.sh
  examples/kubernetes/travel-agency/kogito-travels.yaml
  examples/kubernetes/travel-agency/kogito-visas.yaml
  examples/kubernetes/travel-agency/management-console.yaml
Due: none

[KOGITO-2986] Remove controller package dependency in tests (#612)
  cmd/kogito/command/flag/infraresource_flag.go
  cmd/kogito/command/install/kogito_infra_test.go
  pkg/controller/kogitobuild/build/image_stream_kogito.go
  pkg/controller/kogitobuild/build/image_stream_kogito_test.go
  pkg/controller/kogitobuild/build/manager_test.go
  pkg/controller/kogitobuild/kogitobuild_controller_test.go
  pkg/controller/kogitoinfra/infinispan/infinispan_reconciler.go
  pkg/controller/kogitoinfra/infinispan/resource.go
  pkg/controller/kogitoinfra/kafka/kafka_reconciler.go
  pkg/controller/kogitoinfra/kafka/resource.go
  pkg/controller/kogitoinfra/keycloak/keyclock_reconciler.go
  pkg/controller/kogitoinfra/keycloak/resource.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
  pkg/controller/kogitoinfra/kogitoinfra_service.go
  pkg/infrastructure/infinispan.go
  pkg/infrastructure/kafka.go
  pkg/infrastructure/keycloak.go
  pkg/infrastructure/kogito_images.go
  pkg/infrastructure/services/kafka.go
  pkg/infrastructure/services/kafka_test.go
  test/framework/dockerfile_provider.go
  test/framework/kogitobuild.go
  test/framework/kogitoinfra.go
  test/steps/kafka.go
Due: operator, cli

KOGITO-3465 Handle self-signed certificate (#613)
  Jenkinsfile
  Jenkinsfile.deploy
  Makefile
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/framework/kogitobuild.go
Due: none

update grafana operator to v3 + add tests
  go.mod
  go.sum
  pkg/client/meta/meta.go
  pkg/controller/kogitoinfra/grafana/grafana_reconciler.go
  pkg/controller/kogitoinfra/grafana/resource.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
  pkg/infrastructure/grafana.go
  pkg/test/client.go
Due: operator

clean up
  deploy/olm-catalog/kogito-operator/kogito-operator-operatorsource.yaml
  test/steps/mappers/create_kafka.go
Due: none
