Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - api/
      - controllers/
      - internal/
      - core/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

KOGITO-4798 Extracted Makefile test commands (#821)
  Makefile
  test/Makefile
Due: none

[KOGITO-3507] Mounting custom Truststore for KogitoServices (#811)
  RELEASE_NOTES.md
  api/kogitoservices_types.go
  api/v1beta1/kogitoservices.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitoruntimes.yaml
  bundle/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  cmd/kogito/command/flag/install_flag.go
  cmd/kogito/command/service/runtime_service.go
  config/crd/bases/app.kiegroup.org_kogitoruntimes.yaml
  config/crd/bases/app.kiegroup.org_kogitosupportingservices.yaml
  core/framework/volume.go
  core/kogitoservice/deployer.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/errors.go
  core/kogitoservice/truststore.go
  core/kogitosupportingservice/mgmtconsole_reconciler_test.go
  core/kogitosupportingservice/taskconsole_reconciler_test.go
  core/kogitosupportingservice/trustyui_reconciler_test.go
  core/manager/infra_manager.go
  examples/custom-truststore.yaml
  examples/process-quarkus-example-binary-builds.yaml
  internal/kogitoinfra.go
  kogito-operator.yaml
Due: operator, cli

[KOGITO-3105] - Missing status for failures for KogitoRuntime CRs (#817)
  RELEASE_NOTES.md
  api/kogitoservices_types.go
  controllers/kogitoruntime_controller_test.go
  core/infrastructure/image.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/errors.go
Due: operator

[KOGITO-4826] Service ClusterIPs triggers reconciliation
  RELEASE_NOTES.md
  core/framework/comparator.go
  core/framework/comparator_test.go
  core/kogitoservice/deployer_resources.go
Due: operator

[KOGITO-4826] Service ClusterIPs triggers reconciliation (#823)
  RELEASE_NOTES.md
  core/framework/comparator.go
  core/framework/comparator_test.go
  core/kogitoservice/deployer_resources.go
Due: operator

[KOGITO-4826] Service ClusterIPs triggers reconciliation (#825)
  RELEASE_NOTES.md
  core/framework/comparator.go
  core/framework/comparator_test.go
  core/kogitoservice/deployer_resources.go
Due: operator

KOGITO-4837 Allow to update snapshot version
  .jenkins/dsl/jobs.groovy
  .jenkins/scripts/helper.groovy
  Jenkinsfile.deploy
Due: none

Set 1.5.0-snapshot version
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  test/.default_config
  version/version.go
Due: cli

Updated reviewers bot file
  .github/bot-files/reviewers.yml
Due: none

small update
  .github/bot-files/reviewers.yml
Due: none

update
  Jenkinsfile.deploy
Due: none

correction
  Jenkinsfile.deploy
Due: none

Updated reviewers bot file (#829)
  .github/bot-files/reviewers.yml
Due: none

[KOGITO-4849] BDD tests: Add support for deploying files and folders using OC client
  test/features/deploy_kogito_build.feature
  test/features/deploy_source_files.feature
  test/steps/deploy_files.go
  test/steps/kogitobuild.go
Due: none

correction (#831)
  Jenkinsfile.deploy
Due: none

Set 1.5.0-snapshot version (#828)
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  test/.default_config
  version/version.go
Due: cli

[KOGITO-4837] Allow to update snapshot version (#827)
  .jenkins/dsl/jobs.groovy
  .jenkins/scripts/helper.groovy
  Jenkinsfile.deploy
Due: none

[KOGITO-4729] - Upgrade from Operator 1.3.0 to 1.4.0 fails with reference to Kafka Topics
  core/infrastructure/kafka/v1beta1/kafka_types.go
  core/infrastructure/kafka/v1beta1/zz_generated.deepcopy.go
  core/infrastructure/kafka_test.go
  core/test/kafka.go
  test/steps/kafka.go
Due: operator

Update release note
  RELEASE_NOTES.md
Due: none

[KOGITO-4849] BDD tests: Add support for deploying files and folders using OC client (#830)
  test/features/deploy_kogito_build.feature
  test/features/deploy_source_files.feature
  test/steps/deploy_files.go
  test/steps/kogitobuild.go
Due: none

[KOGITO-4849] BDD tests: Add support for deploying files and folders using OC client (#834)
  test/features/deploy_kogito_build.feature
  test/features/deploy_source_files.feature
  test/steps/deploy_files.go
  test/steps/kogitobuild.go
Due: none

[KOGITO-4877] Implement YAML based approach for Infinispan installation
  examples/process-quarkus-example-persistence-nobuild.yaml
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/Makefile
  test/config/config.go
  test/framework/infinispan.go
  test/framework/kubernetes.go
  test/installers/infinispan_installer.go
  test/steps/infinispan.go
Due: none

Update kafka api version from v1beta1 to v1beta2
  api/v1beta1/kogitoinfra_types.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoinfra_controller_test.go
  core/infrastructure/kafka.go
  core/infrastructure/kafka/v1beta2/doc.go
  core/infrastructure/kafka/v1beta2/kafka_types.go
  core/infrastructure/kafka/v1beta2/kafkatopic_types.go
  core/infrastructure/kafka/v1beta2/register.go
  core/infrastructure/kafka/v1beta2/zz_generated.deepcopy.go
  core/infrastructure/kafka_test.go
  core/kogitoinfra/errors.go
  core/kogitoinfra/kafka_reconciler.go
  core/kogitoinfra/kafka_reconciler_test.go
  core/kogitoinfra/reconciler.go
  core/kogitoinfra/status_test.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/messaging_kafka_test.go
  core/test/fake_client.go
  core/test/kafka.go
  core/test/kogitoinfra.go
  examples/data-index-mongodb.yaml
  examples/data-index.yaml
  examples/explainability.yaml
  examples/kogitoinfra-kafka.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  examples/process-quarkus-example-persistence.yaml
  examples/travelapp-kogito-travel-agency.yaml
  examples/travelapp-kogito-visas.yaml
  examples/trusty.yaml
  meta/meta.go
  test/framework/kafka.go
  test/installers/kafka_installer.go
  test/steps/kafka.go
Due: operator

[KOGITO-4877] Implement YAML based approach for Infinispan installation (#835)
  examples/process-quarkus-example-persistence-nobuild.yaml
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/Makefile
  test/config/config.go
  test/framework/infinispan.go
  test/framework/kubernetes.go
  test/installers/infinispan_installer.go
  test/steps/infinispan.go
Due: none

[KOGITO-4729] - Upgrade from Operator 1.3.0 to 1.4.0 fails with refer… (#833)
  RELEASE_NOTES.md
  api/v1beta1/kogitoinfra_types.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoinfra_controller_test.go
  core/infrastructure/kafka.go
  core/infrastructure/kafka/v1beta2/doc.go
  core/infrastructure/kafka/v1beta2/kafka_types.go
  core/infrastructure/kafka/v1beta2/kafkatopic_types.go
  core/infrastructure/kafka/v1beta2/register.go
  core/infrastructure/kafka/v1beta2/zz_generated.deepcopy.go
  core/infrastructure/kafka_test.go
  core/kogitoinfra/errors.go
  core/kogitoinfra/kafka_reconciler.go
  core/kogitoinfra/kafka_reconciler_test.go
  core/kogitoinfra/reconciler.go
  core/kogitoinfra/status_test.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/messaging_kafka_test.go
  core/test/fake_client.go
  core/test/kafka.go
  core/test/kogitoinfra.go
  examples/data-index-mongodb.yaml
  examples/data-index.yaml
  examples/explainability.yaml
  examples/kogitoinfra-kafka.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  examples/process-quarkus-example-persistence.yaml
  examples/travelapp-kogito-travel-agency.yaml
  examples/travelapp-kogito-visas.yaml
  examples/trusty.yaml
  meta/meta.go
  test/framework/kafka.go
  test/installers/kafka_installer.go
  test/steps/kafka.go
Due: operator

KOGITO-4858 Automatic build of examples
  .gitignore
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/Makefile
  test/bdd_executor.go
  test/examples/main_test.go
  test/scripts/examples/dmn-drools-quarkus-metrics.feature
  test/scripts/examples/dmn-quarkus-example.feature
  test/scripts/examples/dmn-springboot-example.feature
  test/scripts/examples/dmn-tracing-quarkus.feature
  test/scripts/examples/kogito-travel-agency.feature
  test/scripts/examples/onboarding-example.feature
  test/scripts/examples/process-mongodb-persistence-quarkus-example.feature
  test/scripts/examples/process-mongodb-persistence-springboot-example.feature
  test/scripts/examples/process-optaplanner-quarkus.feature
  test/scripts/examples/process-quarkus-example.feature
  test/scripts/examples/process-springboot-example.feature
  test/scripts/examples/process-timer-quarkus.feature
  test/scripts/examples/process-timer-springboot.feature
  test/scripts/examples/ruleunit-quarkus-example.feature
  test/steps/image_registry.go
  test/steps/mappers/create_maven_options.go
  test/steps/maven.go
Due: none

update
  test/bdd_executor.go
Due: none

lint correction
  test/pkg/gherkin/feature.go
  test/pkg/steps/maven.go
Due: none

update
  test/examples/main_test.go
Due: none

[KOGITO-4894] - Remove `image` default value in KogitoRuntime CR (problem in OCP console)
  RELEASE_NOTES.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/samples/app_v1beta1_kogitobuild.yaml
  config/samples/app_v1beta1_kogitoruntime.yaml
Due: none

small update on examples images deploy
  Jenkinsfile.examples-images.deploy
Due: none

Updated & simplified pipelines
  .jenkins/dsl/jobs.groovy
  Jenkinsfile
  Jenkinsfile.deploy
  Jenkinsfile.examples-images.deploy
  test/Makefile
Due: none

[KOGITO-4888] Update Prometheus operator GitHub link
  controllers/runtime_deployer.go
  core/framework/comparator.go
  core/kogitoservice/prometheus.go
  go.mod
  go.sum
  meta/meta.go
  test/pkg/framework/prometheus.go
Due: operator

[KOGITO-4905] Fix COPY line in springboot.Dockerfile
  RELEASE_NOTES.md
  examples/springboot.Dockerfile
Due: none
