Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - api/
      - controllers/
      - internal/
      - core/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

[RHPAM-3681] - Introduce BuildContext
  controllers/kogitobuild_controller.go
  core/kogitobuild/buid_config_test.go
  core/kogitobuild/build_config.go
  core/kogitobuild/build_context.go
  core/kogitobuild/decorator.go
  core/kogitobuild/decorator_test.go
  core/kogitobuild/image_stream.go
  core/kogitobuild/image_stream_test.go
  core/kogitobuild/manager.go
  core/kogitobuild/manager_build_binary.go
  core/kogitobuild/manager_build_source.go
  core/kogitobuild/manager_test.go
  core/kogitobuild/status.go
  core/kogitobuild/status_test.go
  internal/kogitobuild.go
Due: operator

[RHPAM-3681] - Introduce BuildContext (#921)
  controllers/kogitobuild_controller.go
  core/kogitobuild/buid_config_test.go
  core/kogitobuild/build_config.go
  core/kogitobuild/build_context.go
  core/kogitobuild/decorator.go
  core/kogitobuild/decorator_test.go
  core/kogitobuild/image_stream.go
  core/kogitobuild/image_stream_test.go
  core/kogitobuild/manager.go
  core/kogitobuild/manager_build_binary.go
  core/kogitobuild/manager_build_source.go
  core/kogitobuild/manager_test.go
  core/kogitobuild/status.go
  core/kogitobuild/status_test.go
  internal/kogitobuild.go
Due: operator

[1.5.x] [RHPAM-3681] Fix file name typo
  core/kogitobuild/build_config_test.go
Due: operator

[RHPAM-3681] Fix file name typo
  core/kogitobuild/build_config_test.go
Due: operator

[RHPAM-3681] Fix file name typo (#923)
  core/kogitobuild/build_config_test.go
Due: operator

[1.5.x] [RHPAM-3681] Fix file name typo (#922)
  core/kogitobuild/build_config_test.go
Due: operator

KOGITO-4362 BDD wait for OperatorGroup creation
  test/pkg/framework/operator.go
Due: none

[KOGITO-5246] Update namespace cleanup (#896)
  Jenkinsfile
  Jenkinsfile.deploy
  Jenkinsfile.profiling
  test/pkg/framework/namespace.go
  test/pkg/installers/service_installer.go
Due: none

KOGITO-4362 BDD wait for OperatorGroup creation (#751)
  test/pkg/framework/operator.go
Due: none

BDD tests: Introduce timeout for default HTTP client
  test/pkg/framework/http.go
Due: none

BDD tests: Log ImageStreamList just for OpenShift
  test/pkg/executor/bdd_executor.go
  test/pkg/steps/data.go
Due: none

BDD tests: Fix OLM operator installation for Kubernetes
  test/pkg/config/config.go
  test/pkg/executor/bdd_executor.go
  test/pkg/framework/operator.go
  test/pkg/installers/grafana_installer.go
  test/pkg/installers/infinispan_installer.go
  test/pkg/installers/kafka_installer.go
  test/pkg/installers/keycloak_installer.go
  test/pkg/installers/kogito_installer.go
  test/pkg/installers/prometheus_installer.go
  test/pkg/installers/service_installer.go
Due: none

Various BDD adjustments (#919)
  test/pkg/config/config.go
  test/pkg/executor/bdd_executor.go
  test/pkg/framework/http.go
  test/pkg/framework/operator.go
  test/pkg/installers/grafana_installer.go
  test/pkg/installers/infinispan_installer.go
  test/pkg/installers/kafka_installer.go
  test/pkg/installers/keycloak_installer.go
  test/pkg/installers/kogito_installer.go
  test/pkg/installers/prometheus_installer.go
  test/pkg/installers/service_installer.go
  test/pkg/steps/data.go
Due: none

[KOGITO-5478] - Management console does not work on OpenShift
  api/v1beta1/kogitosupportingservice_types.go
  api/v1beta1/kogitosupportingservice_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/kogito/command/remove/supportingservices.go
  core/manager/supportingservice_manager.go
  go.sum
  internal/kogitosupportingservice.go
  test/pkg/installers/kogito_installer.go
Due: operator, cli

Update release note
  RELEASE_NOTES.md
Due: none

[KOGITO-5478]- [1.8.x] - Management console does not work on OpenShift
  RELEASE_NOTES.md
  api/v1beta1/kogitosupportingservice_types.go
  api/v1beta1/kogitosupportingservice_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/kogito/command/remove/supportingservices.go
  core/manager/supportingservice_manager.go
  internal/kogitosupportingservice.go
  test/pkg/installers/kogito_installer.go
Due: operator, cli

BDD tests: GetActiveReplicaSetByDeployment incorrectly detected active replica
  test/pkg/framework/kubernetes.go
Due: none

try using CRC
  .jenkins/scripts/openshift.groovy
  Jenkinsfile.deploy
Due: none

added wait for CRC
  Jenkinsfile.deploy
Due: none

BDD tests: Add HTTP client timeout for Graphql client
  test/pkg/framework/graphql.go
Due: none

BDD tests: Expose Grafana service using Ingress for k8s
  test/pkg/framework/grafana.go
  test/pkg/framework/kogitoserviceutils.go
  test/pkg/framework/kubernetes.go
Due: none

BDD tests: Expose Prometheus service using Ingress for k8s
  test/pkg/framework/prometheus.go
Due: none

Various BDD adjustments (#928)
  test/pkg/framework/grafana.go
  test/pkg/framework/graphql.go
  test/pkg/framework/kogitoserviceutils.go
  test/pkg/framework/kubernetes.go
  test/pkg/framework/prometheus.go
Due: none

added ansible
  Jenkinsfile.deploy
Due: none

udpate
  Jenkinsfile.deploy
Due: none

test
  Jenkinsfile.deploy
  hack/ci/run-olm-tests.sh
Due: none

update
  Jenkinsfile.deploy
Due: none

updated lock
  .jenkins/scripts/openshift.groovy
  Jenkinsfile.deploy
Due: none

install mvn
  Jenkinsfile.deploy
Due: none

fix
  Jenkinsfile.deploy
Due: none

KOGITO-5480 Reorganized seed jobs & trigger automatically
  .jenkins/dsl/Jenkinsfile.seed
Due: none

updated load factor
  Jenkinsfile.deploy
Due: none

[KOGITO-4699] BDD tests for Jobs Service with PostgreSQL persistence
  README.md
  core/kogitosupportingservice/jobsservice_reconciler.go
  test/features/install_jobs_service.feature
  test/pkg/steps/data.go
  test/pkg/steps/kogitojobsservice.go
  test/pkg/steps/mappers/create_postgresql_instance.go
  test/pkg/steps/postgresql.go
Due: operator

[KOGITO-4699] BDD tests for Jobs Service with PostgreSQL persistence (#930)
  README.md
  core/kogitosupportingservice/jobsservice_reconciler.go
  test/features/install_jobs_service.feature
  test/pkg/steps/data.go
  test/pkg/steps/kogitojobsservice.go
  test/pkg/steps/mappers/create_postgresql_instance.go
  test/pkg/steps/postgresql.go
Due: operator

Incorporate review comment
  api/v1beta1/kogitosupportingservice_types.go
  api/v1beta1/kogitosupportingservice_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/kogito/command/remove/supportingservices.go
  test/pkg/installers/kogito_installer.go
Due: operator, cli

concurrent 2
  Jenkinsfile.deploy
Due: none
