Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - api/
      - controllers/
      - internal/
      - core/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

Update project version to 1.6.0-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  test/.default_config
  version/version.go
Due: cli

Update project version to 1.6.0-snapshot (#855)
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  test/.default_config
  version/version.go
Due: cli

[KOGITO-4993] Operator crash when data-index is created
  RELEASE_NOTES.md
  core/kogitoservice/deployer_test.go
  core/manager/infra_manager.go
Due: operator

KOGITO-4639 Setup BDD tests coverage (#840)
  .jenkins/dsl/jobs.groovy
  Jenkinsfile
  Jenkinsfile.profiling
  Makefile
  config/full/kustomization.yaml
  config/full/manager_auth_proxy_patch.yaml
  config/full/manager_webhook_patch.yaml
  config/full/webhookcainjection_patch.yaml
  config/profiling-data-access/bases/profiling_data_access_pod.yaml
  config/profiling-data-access/kustomization.yaml
  config/profiling/bases/profiling_pvc.yaml
  config/profiling/kustomization.yaml
  config/profiling/patches/manager_profiling_entrypoint.yaml
  config/profiling/patches/manager_profiling_volume_mount.yaml
  hack/run-tests.sh
  hack/run-tests.sh.bats
  main.go
  main_test.go
  modules/buildProfilingOperator/install.sh
  modules/buildProfilingOperator/module.yaml
  profiling/entrypoint-profiling
  profiling/image.yaml
  profiling/kogito-operator-profiling-data-access.yaml
  profiling/kogito-operator-profiling.yaml
  test/Makefile
  test/pkg/config/config.go
  test/pkg/executor/bdd_executor.go
  test/pkg/framework/operator.go
  test/pkg/installers/kogito_installer.go
Due: none

[KOGITO-4993] Operator crash when data-index is created (#858)
  RELEASE_NOTES.md
  core/kogitoservice/deployer_test.go
  core/manager/infra_manager.go
Due: operator

[KOGITO-4993] Operator crash when data-index is created (#857)
  RELEASE_NOTES.md
  core/kogitoservice/deployer_test.go
  core/manager/infra_manager.go
Due: operator

Fix Kustomize version and release note
  RELEASE_NOTES.md
  profiling/kogito-operator-profiling.yaml
Due: none

[KOGITO-4898] Set probe defaults based on YAML action values
  RELEASE_NOTES.md
  controllers/kogitoruntime_controller.go
  core/kogitoservice/deployer.go
  core/kogitoservice/deployment.go
  core/kogitoservice/deployment_test.go
  core/kogitoservice/probe.go
  core/kogitoservice/probe_test.go
  core/kogitosupportingservice/dataindex_reconciler.go
  core/kogitosupportingservice/explainability_reconciler.go
  core/kogitosupportingservice/jobsservice_reconciler.go
  core/kogitosupportingservice/trustyai_reconciler.go
Due: operator

fix explainability dto
  test/features/keycloak.feature
Due: none

add space
  test/features/keycloak.feature
Due: none

[1.6.x] Fix explainability dto (#861)
  test/features/keycloak.feature
Due: none

Fix explainability dto (#862)
  test/features/keycloak.feature
Due: none

[KOGITO-4898] Set probe defaults based on YAML action values (#841)
  RELEASE_NOTES.md
  controllers/kogitoruntime_controller.go
  core/kogitoservice/deployer.go
  core/kogitoservice/deployment.go
  core/kogitoservice/deployment_test.go
  core/kogitoservice/probe.go
  core/kogitoservice/probe_test.go
  core/kogitosupportingservice/dataindex_reconciler.go
  core/kogitosupportingservice/explainability_reconciler.go
  core/kogitosupportingservice/jobsservice_reconciler.go
  core/kogitosupportingservice/trustyai_reconciler.go
Due: operator

Update project version to 1.6.0
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  version/version.go
Due: cli

[1.6.x] Update snapshot version to 1.6.1-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  version/version.go
Due: cli

[1.6.x] Update snapshot version to 1.6.1-snapshot (#864)
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  version/version.go
Due: cli

[KOGITO-5063] BDD tests: Support using builder images from insecure registry
  test/pkg/framework/openshift.go
Due: none

[KOGITO-5063] BDD tests: Support using builder images from insecure registry (#865)
  test/pkg/framework/openshift.go
Due: none

[KOGITO-5063] BDD tests: Support using builder images from insecure registry
  test/framework/openshift.go
Due: none

[KOGITO-5063] BDD tests: Support using builder images from insecure registry (#866)
  test/framework/openshift.go
Due: none

[RHPAM-3653] - RHPAM Kogito operator creates wrong default image tags
  controllers/kogitobuild_controller.go
  controllers/kogitobuild_controller_test.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitoruntime_finalizer.go
  controllers/kogitosupportingservice_controller.go
  controllers/kogitosupportingservice_finalizer.go
  core/infrastructure/image.go
  core/infrastructure/image_test.go
  core/kogitobuild/build_config.go
  core/kogitobuild/image_stream.go
  core/kogitobuild/image_stream_test.go
  core/kogitobuild/manager_test.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/deployment_test.go
  core/operator/context.go
  test/framework/kogitoserviceutils.go
  test/framework/util.go
Due: operator

Update Release note
  RELEASE_NOTES.md
Due: none

Fix comment
  core/infrastructure/image.go
Due: operator

[KOGITO-5104] - [1.6.x] - RHPAM Kogito operator creates wrong default image tags
  RELEASE_NOTES.md
  controllers/kogitobuild_controller.go
  controllers/kogitobuild_controller_test.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitoruntime_finalizer.go
  controllers/kogitosupportingservice_controller.go
  controllers/kogitosupportingservice_finalizer.go
  core/infrastructure/image.go
  core/infrastructure/image_test.go
  core/kogitobuild/build_config.go
  core/kogitobuild/image_stream.go
  core/kogitobuild/image_stream_test.go
  core/kogitobuild/manager_test.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/deployment_test.go
  core/operator/context.go
  test/pkg/framework/kogitoserviceutils.go
  test/pkg/framework/util.go
Due: operator

[KOGITO-5104] - [1.7.x] - RHPAM Kogito operator creates wrong default image tags
  RELEASE_NOTES.md
  controllers/kogitobuild_controller.go
  controllers/kogitobuild_controller_test.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitoruntime_finalizer.go
  controllers/kogitosupportingservice_controller.go
  controllers/kogitosupportingservice_finalizer.go
  core/infrastructure/image.go
  core/infrastructure/image_test.go
  core/kogitobuild/build_config.go
  core/kogitobuild/image_stream.go
  core/kogitobuild/image_stream_test.go
  core/kogitobuild/manager_test.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/deployment_test.go
  core/operator/context.go
  test/pkg/framework/kogitoserviceutils.go
  test/pkg/framework/util.go
Due: operator

[KOGITO-5104] - RHPAM Kogito operator creates wrong default image tags
  RELEASE_NOTES.md
  controllers/kogitobuild_controller.go
  controllers/kogitobuild_controller_test.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitoruntime_finalizer.go
  controllers/kogitosupportingservice_controller.go
  controllers/kogitosupportingservice_finalizer.go
  core/infrastructure/image.go
  core/infrastructure/image_test.go
  core/kogitobuild/build_config.go
  core/kogitobuild/image_stream.go
  core/kogitobuild/image_stream_test.go
  core/kogitobuild/manager_test.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/deployment_test.go
  core/operator/context.go
  test/pkg/framework/kogitoserviceutils.go
  test/pkg/framework/util.go
Due: operator

Update project version to 1.7.0-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

test-olm
  controllers/kogitobuild_controller.go
Due: operator

[KOGITO-4453] Fix getAppPropsFromConfigMap
  RELEASE_NOTES.md
  core/kogitoservice/configmap.go
  core/kogitoservice/configmap_test.go
Due: operator

fix failing olm test
  hack/ci/ensure-image.sh
  hack/ci/olm-pretest.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/run-olm-tests.sh
Due: none

fix failing olm test
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  hack/ci/ensure-image.sh
  hack/ci/olm-pretest.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/run-olm-tests.sh
Due: none

set 1.5.x channel
  Makefile
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
Due: none

[KOGITO-4453] Fix getAppPropsFromConfigMap (#874)
  RELEASE_NOTES.md
  core/kogitoservice/configmap.go
  core/kogitoservice/configmap_test.go
Due: operator
