Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

[KOGITO-3270] - Accepting external ConfigMaps to be mounted in a given KogitoService
  RELEASE_NOTES.md
  deploy/crds/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/crds/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/crds/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/crds/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/crds/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitoservices_types.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/client/kubernetes/resource_reader.go
  pkg/controller/kogitobuild/build/manager.go
  pkg/controller/kogitoruntime/kogitoruntime_controller_test.go
  pkg/infrastructure/services/configmap.go
  pkg/infrastructure/services/configmap_test.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/resources.go
Due: operator

[PLANNER-2084] Tests: Disable Optaplanner native test (#573)
  test/features/operator/deploy_kogito_runtime.feature
  test/scripts/examples/process-optaplanner-quarkus.feature
Due: none

Adding CLI flag to create the custom map from a properties file
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/flag/runtime_flag.go
  cmd/kogito/command/service/config.go
  cmd/kogito/command/service/runtime_service.go
  cmd/kogito/command/util/common_util.go
  cmd/kogito/command/util/common_util_test.go
  deploy/crds/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/infrastructure/services/configmap.go
  pkg/infrastructure/services/configmap_test.go
  pkg/infrastructure/services/resources_test.go
Due: operator, cli

Cucumber Tests: Add test for explainability-service with Keycloak
  test/features/integration/keycloak.feature
Due: none

[KOGITO-3388] Remove the PrometheusCli from operator code
  pkg/client/client.go
  pkg/client/client_builder.go
  pkg/client/client_builder_test.go
  pkg/test/client.go
Due: operator

[KOGITO-3350] CLI fails to download GitHub file properly
  cmd/kogito/command/service/buildresource_service.go
  cmd/kogito/command/service/buildresource_service_test.go
Due: cli

[KOGITO-3382] Transitive dependency of Keycloak operator module missing (#577)
  go.mod
  go.sum
Due: none

KOGITO-3391 - Fix logging in BDD tests case of the failed scenario
  test/steps/data.go
Due: none

[KOGITO-3039] - provide support to remove kogito-infra using kogito-cli
  cmd/kogito/command/remove/delete_kogitoinfra.go
  cmd/kogito/command/remove/delete_kogitoinfra_test.go
  cmd/kogito/command/remove/factory.go
  cmd/kogito/command/shared/resource_checks.go
  pkg/controller/kogitoinfra/kafka/kafka_properties.go
  pkg/controller/kogitoinfra/kafka/kafka_reconciler.go
  pkg/controller/kogitoinfra/kafka/manage_status.go
  pkg/infrastructure/kafka.go
  pkg/infrastructure/kafka_test.go
Due: operator, cli

[KOGITO-3350] CLI fails to download GitHub file properly (#578)
  cmd/kogito/command/service/buildresource_service.go
  cmd/kogito/command/service/buildresource_service_test.go
Due: cli

Update cmd/kogito/command/service/config.go
  cmd/kogito/command/service/config.go
Due: cli

KOGITO-3391 - Fix logging in BDD tests case of the failed scenario (#581)
  test/steps/data.go
Due: none

fixing configMap suffix const
  cmd/kogito/command/service/config.go
Due: cli

Cucumber Tests: Add test for explainability-service with Keycloak (#575)
  test/features/integration/keycloak.feature
Due: none

[KOGITO-3382] Transitive dependency of Keycloak operator module missing
  go.mod
  go.sum
Due: none

[KOGITO-3382] Transitive dependency of Keycloak operator module missing (#582)
  go.mod
  go.sum
Due: none

[KOGITO-3388] Remove the PrometheusCli from operator code (#579)
  pkg/client/client.go
  pkg/client/client_builder.go
  pkg/client/client_builder_test.go
  pkg/test/client.go
Due: operator

[KOGITO-3270] - Accepting external ConfigMaps to be mounted in a give… (#567)
  RELEASE_NOTES.md
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/flag/runtime_flag.go
  cmd/kogito/command/service/config.go
  cmd/kogito/command/service/runtime_service.go
  cmd/kogito/command/util/common_util.go
  cmd/kogito/command/util/common_util_test.go
  deploy/crds/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/crds/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/crds/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/crds/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/crds/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/crds/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitoservices_types.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/client/kubernetes/resource_reader.go
  pkg/controller/kogitobuild/build/manager.go
  pkg/controller/kogitoruntime/kogitoruntime_controller_test.go
  pkg/infrastructure/services/configmap.go
  pkg/infrastructure/services/configmap_test.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/resources.go
  pkg/infrastructure/services/resources_test.go
Due: operator, cli

KOGITO-3360: Cucumber Tests: Keep logs only for test failures
  Jenkinsfile
  Jenkinsfile.deploy
Due: none

KOGITO-3281: Cucumber Tests: Add test for trusty-service with Keycloak
  test/features/integration/keycloak.feature
Due: none

OLM test fix
  deploy/crds/app.kiegroup.org_v1alpha1_kogitoruntime_cr.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
Due: none

Description changed in types, removed duplicate code Changed Examples with this new format for image
  deploy/crds/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/crds/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/crds/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/crds/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/crds/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/crds/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/crds/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  examples/example-custom-build-images.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  examples/kubernetes/travel-agency/kogito-travels.yaml
  examples/kubernetes/travel-agency/kogito-visas.yaml
  examples/kubernetes/travel-agency/management-console.yaml
  examples/process-quarkus-example-runtime-build-webhook.yaml
  examples/process-quarkus-example-runtime-build.yaml
  examples/process-quarkus-example-runtime.yaml
  pkg/apis/app/v1alpha1/kogitobuild_types.go
  pkg/apis/app/v1alpha1/kogitoservices_types.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  test/framework/mappers/cr_to_cli.go
Due: operator

fix lint test
  test/framework/mappers/cr_to_cli.go
Due: none

KOGITO-3360: Cucumber Tests: Keep logs only for test failures (#570)
  Jenkinsfile
  Jenkinsfile.deploy
Due: none

KOGITO-3369: Cucumber Tests - Refactor Kogito Explainability Changes
  pkg/controller/kogitoexplainability/kogitoexplainability_controller.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller_test.go
  pkg/infrastructure/explainability.go
  test/features/operator/install_explainability.feature
  test/framework/kafka.go
  test/framework/keycloak.go
  test/framework/kogitotrusty.go
  test/steps/kafka.go
  test/steps/kogitoexplainability.go
Due: operator

KOGITO-3281: Cucumber Tests: Add test for trusty-service with Keycloak (#552)
  test/features/integration/keycloak.feature
Due: none

KOGITO-3369: Cucumber Tests - Refactor Kogito Explainability Changes (#574)
  pkg/controller/kogitoexplainability/kogitoexplainability_controller.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller_test.go
  pkg/infrastructure/explainability.go
  test/features/operator/install_explainability.feature
  test/framework/kafka.go
  test/framework/keycloak.go
  test/framework/kogitotrusty.go
  test/steps/kafka.go
  test/steps/kogitoexplainability.go
Due: operator

[KOGITO-3382] Add KOGITO-3382 issue to release notes
  RELEASE_NOTES.md
Due: none

update release notes with image change
  RELEASE_NOTES.md
Due: none

[KOGITO-3382] Add KOGITO-3382 issue to release notes (#583)
  RELEASE_NOTES.md
Due: none

update release notes with image change (#584)
  RELEASE_NOTES.md
Due: none

Ignore me
  docs/GUIDE_TO_KOGITO_DEVS.md
Due: none

[KOGITO-2113] Simplify binary build deployment
  RELEASE_NOTES.md
  cmd/kogito/command/converter/binarybuildtype_converter.go
  cmd/kogito/command/converter/binarybuildtype_converter_test.go
  cmd/kogito/command/converter/native_converter.go
  cmd/kogito/command/converter/native_converter_test.go
  cmd/kogito/command/converter/runtimetype_converter.go
  cmd/kogito/command/converter/runtimetype_converter_test.go
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/flag/binary_build_type.go
  cmd/kogito/command/flag/build_flag.go
  cmd/kogito/command/iozip/zip_files.go
  cmd/kogito/command/iozip/zip_files_test.go
  cmd/kogito/command/message/kogitobuild.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/buildresource_service.go
  cmd/kogito/command/service/buildresource_service_test.go
  cmd/kogito/command/test/mkdir.go
  cmd/kogito/command/util/build_from_file.go
  cmd/kogito/command/util/build_from_file_test.go
  examples/process-quarkus-example-runtime-build.yaml
  go.mod
  go.sum
  pkg/client/openshift/buildconfig.go
  pkg/client/openshift/buildconfig_test.go
Due: operator, cli

Add BDD test coverage for binary build using CLI
  test/features/operator/deploy_kogito_build.feature
  test/framework/kogitobuild.go
  test/steps/kogitobuild.go
  test/types/holder.go
Due: none

[KOGITO-3039] - Incorporate review comments
  cmd/kogito/command/converter/infraresource_converter_test.go
  deploy/crds/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  go.mod
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/kogitodataindex/kogitodataindex_controller.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller.go
  pkg/controller/kogitoinfra/infinispan/infinispan_properties.go
  pkg/controller/kogitoinfra/kafka/kafka_properties.go
  pkg/controller/kogitojobsservice/kogitojobsservice_controller.go
  pkg/controller/kogitotrusty/kogitotrusty_controller.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/kafka.go
  pkg/infrastructure/services/resources.go
Due: operator, cli

KOGITO-2113 Simplify binary build deployment (#563)
  RELEASE_NOTES.md
  cmd/kogito/command/converter/binarybuildtype_converter.go
  cmd/kogito/command/converter/binarybuildtype_converter_test.go
  cmd/kogito/command/converter/native_converter.go
  cmd/kogito/command/converter/native_converter_test.go
  cmd/kogito/command/converter/runtimetype_converter.go
  cmd/kogito/command/converter/runtimetype_converter_test.go
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/flag/binary_build_type.go
  cmd/kogito/command/flag/build_flag.go
  cmd/kogito/command/iozip/zip_files.go
  cmd/kogito/command/iozip/zip_files_test.go
  cmd/kogito/command/message/kogitobuild.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/buildresource_service.go
  cmd/kogito/command/service/buildresource_service_test.go
  cmd/kogito/command/test/mkdir.go
  cmd/kogito/command/util/build_from_file.go
  cmd/kogito/command/util/build_from_file_test.go
  examples/process-quarkus-example-runtime-build.yaml
  go.mod
  go.sum
  pkg/client/openshift/buildconfig.go
  pkg/client/openshift/buildconfig_test.go
  test/features/operator/deploy_kogito_build.feature
  test/framework/kogitobuild.go
  test/steps/kogitobuild.go
  test/types/holder.go
Due: operator, cli

Test PR for PR check verification
  Jenkinsfile
  test/features/deploy_kogito_build.feature
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_service_resources.feature
  test/features/deploy_source_files.feature
  test/features/deploy_travel_agency.feature
  test/features/install_dataindex.feature
  test/features/install_explainability.feature
  test/features/install_jobs_service.feature
  test/features/install_kogitoinfra.feature
  test/features/install_mgmtconsole.feature
  test/features/install_trusty.feature
  test/features/install_trustyui.feature
  test/features/keycloak.feature
  test/features/kogito_service_performance.feature
  test/features/olm/cli_install_operator.feature
  test/features/olm/cli_new_project.feature
  test/features/olm/cli_use_project.feature
  test/features/prometheus.feature
  test/features/service_discovery.feature
  test/features/update_httpport.feature
Due: none
