Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

[KOGITO-2064] - Fix native build issue
  cmd/kogito/command/flag/build_flag.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/build_service_test.go
Due: cli

olm test fix
  hack/ci/operator-ensure-manifests.sh
Due: none

workflow sep
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/kogito-unit-tests.yaml
Due: none

another test
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/kogito-unit-tests.yaml
Due: none

added path on pul_req
  .github/workflows/kogito-unit-tests.yaml
Due: none

[KOGITO-2064] - Incorporate review comments
  cmd/kogito/command/converter/envvar_converter_test.go
  cmd/kogito/command/service/build_service.go
Due: cli

Changed Testing Image to use the older version
  hack/ci/operator-olm-test.sh
Due: none

Changed Testing Image to use the older version (#449)
  hack/ci/operator-olm-test.sh
Due: none

KOGITO-2738 - Run unit tests only when change in operator or cli files change see: https://issues.redhat.com/browse/KOGITO-2738
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/Kogito-operator-unit-tests.yaml
  codecov.yml
Due: none

KOGITO 2723 post-release updates (#439)
  Jenkinsfile.deploy
  test/features/deploy_quarkus_service.feature
Due: none

KOGITO-2522: Webhooks seems not working when deploying a Kogito Build
  pkg/controller/kogitobuild/build/build_config.go
  pkg/controller/kogitobuild/build/build_config_test.go
  test/features/build_webhooks.feature
  test/framework/kogitobuild.go
  test/framework/openshift.go
  test/mappers/table_to_cr.go
  test/steps/openshift.go
Due: operator

KOGITO-2522: Webhooks seems not working when deploying a Kogito Build
  pkg/controller/kogitobuild/build/build_config.go
  pkg/controller/kogitobuild/build/build_config_test.go
Due: operator

seperate OLM and run olny when change in related files
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/Kogito-Operator-Unit-tests.yaml
Due: none

typo
  .github/workflows/Kogito-Operator-OLM-tests.yaml
Due: none

KOGITO-2522: Webhooks seems not working when deploying a Kogito Build (#451)
  pkg/controller/kogitobuild/build/build_config.go
  pkg/controller/kogitobuild/build/build_config_test.go
Due: operator

KOGITO-2738 - Run unit tests only when change in operator or cli file… (#450)
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/Kogito-Operator-Unit-tests.yaml
  codecov.yml
Due: none

[KOGITO-2784] - Bump to 0.13.0
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  hack/bump-version.sh
  hack/go-build.sh
  version/version.go
Due: cli

Rolling back devpreview channel
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
Due: none

[KOGITO-2064] - Incorporate review comments
  cmd/kogito/command/converter/infinispanmeta_converter.go
  cmd/kogito/command/converter/infinispanmeta_converter_test.go
  cmd/kogito/command/deploy/factory.go
Due: cli

[KOGITO-2749] Fix invalid memory address for unsuccessful HTTP request
  test/framework/http.go
Due: none

[KOGITO-2119] - Kogito CLI support for setting variable values from s… (#404)
  cmd/kogito/command/deploy/common.go
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/install/data_index.go
  cmd/kogito/command/install/jobs_service.go
  cmd/kogito/command/install/mgmt_console.go
  cmd/kogito/command/shared/converter_test.go
  cmd/kogito/command/shared/converters.go
  cmd/kogito/command/util/common_util.go
  cmd/kogito/command/util/common_util_test.go
  pkg/framework/env_var.go
  pkg/framework/env_var_test.go
  pkg/util/maps.go
  pkg/util/maps_test.go
Due: operator, cli

[KOGITO-2749] Fix invalid memory address for unsuccessful HTTP request (#448)
  test/framework/http.go
Due: none

[KOGITO-2747] Tests: Store log informations about image streams and Kogito objects
  test/framework/logging.go
  test/steps/data.go
Due: none

[KOGITO-2793] Set cr_deployment_only flag to true for image generation
  Makefile
Due: none

[KOGITO-2793] Set cr_deployment_only flag to true for image generation (#458)
  Makefile
Due: none

[KOGITO-2747] Tests: Store log informations about image streams and Kogito objects (#445)
  test/framework/logging.go
  test/steps/data.go
Due: none

Reverting back test config update
  hack/bump-version.sh
Due: none

[KOGITO-2784] - Bump to 0.13.0 (#454)
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  hack/bump-version.sh
  hack/go-build.sh
  version/version.go
Due: cli

[KOGITO-2797] - Fixing Deployment comparator
  pkg/controller/kogitodataindex/kogitodataindex_controller_test.go
  pkg/framework/comparator.go
  pkg/framework/comparator_test.go
  pkg/infrastructure/services/resources.go
Due: operator

Sorting Pod Volumes
  pkg/framework/comparator.go
  pkg/framework/comparator_test.go
Due: operator

Formating errors fixed :(
  pkg/framework/comparator_test.go
Due: operator

[KOGITO-2119] - Kogito CLI support for setting variable values from secret
  cmd/kogito/command/converter/envvar_converter.go
  cmd/kogito/command/converter/envvar_converter_test.go
  cmd/kogito/command/converter/resourcerequirement_converter.go
  cmd/kogito/command/converter/webhooksecret_converter.go
  cmd/kogito/command/deploy/delete_service_test.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/flag/build_flag.go
  cmd/kogito/command/flag/env_flag.go
  cmd/kogito/command/flag/image_flag.go
  cmd/kogito/command/flag/install_flag.go
  cmd/kogito/command/flag/podresource_flag.go
  cmd/kogito/command/flag/runtime_flag.go
  cmd/kogito/command/flag/webhook_flag.go
  cmd/kogito/command/install/data_index.go
  cmd/kogito/command/install/jobs_service.go
  cmd/kogito/command/install/mgmt_console.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/build_service_mock.go
  cmd/kogito/command/service/build_service_test.go
  cmd/kogito/command/service/runtime_service.go
  cmd/kogito/command/service/runtime_service_mock.go
  cmd/kogito/command/service/runtime_service_test.go
  cmd/kogito/command/shared/resource_checks_mock.go
  cmd/kogito/command/util/common.go
  cmd/kogito/command/util/common_util_test.go
  pkg/framework/env_var.go
  pkg/framework/env_var_test.go
  pkg/util/maps.go
  pkg/util/maps_test.go
Due: operator, cli

Sorting MountPath instead of Name
  pkg/framework/comparator.go
  pkg/framework/comparator_test.go
Due: operator

add tests
  cmd/kogito/command/install/trusty.go
  cmd/kogito/command/install/trusty_test.go
  pkg/controller/kogitotrusty/kogitotrusty_controller_test.go
  pkg/infrastructure/kogito_service_test.go
  pkg/infrastructure/trusty.go
  pkg/infrastructure/trusty_test.go
Due: operator, cli

[KOGITO-2797] - Fixing Deployment comparator (#461)
  pkg/controller/kogitodataindex/kogitodataindex_controller_test.go
  pkg/framework/comparator.go
  pkg/framework/comparator_test.go
  pkg/infrastructure/services/resources.go
Due: operator

KOGITO-2640 Upgrade tests to godog 0.10.0
  go.mod
  go.sum
  test/feature.go
  test/main_test.go
  test/steps/data.go
  test/steps/deploy_files.go
  test/steps/git.go
  test/steps/graphql.go
  test/steps/http.go
  test/steps/image_registry.go
  test/steps/infinispan.go
  test/steps/kafka.go
  test/steps/kogito_service_table_parser.go
  test/steps/kogitoapp.go
  test/steps/kogitobuild.go
  test/steps/kogitodataindex.go
  test/steps/kogitoinfra.go
  test/steps/kogitojobsservice.go
  test/steps/kogitomgmtconsole.go
  test/steps/kogitoruntime.go
  test/steps/kubernetes.go
  test/steps/maven.go
  test/steps/openshift.go
  test/steps/operator.go
  test/steps/process.go
  test/steps/prometheus.go
  test/steps/task.go
  test/steps/utils.go
Due: none

fix tests
  cmd/kogito/command/install/trusty.go
Due: cli

fix tests
  Makefile
  README.md
  cmd/kogito/command/install/trusty.go
  hack/run-tests.sh
  hack/run-tests.sh.bats
Due: cli

Path conditions:
  operator: any of: pkg/
  cli: any of: cmd/
