Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

KOGITO-3052: Allow to see the exception stacktrace. (#513)
  test/steps/data.go
Due: none

[KOGITO-3032] - Ignoring any injected variables on PodSpecTemplate (#508)
  pkg/framework/comparator.go
  pkg/framework/comparator_test.go
  pkg/framework/env_var.go
  pkg/framework/env_var_test.go
Due: operator

KOGITO-2888 Cleanup old pipeline(s) (#510)
  Jenkinsfile.nightly
Due: none

[KOGITO-2966] Tests: Remove Strimzi workaround (#493)
  test/steps/data.go
Due: none

[KOGITO-3030] Tests: Retry image build in case of failure (#507)
  test/framework/command.go
  test/framework/container_engine.go
Due: none

KOGITO-3061 BDD: Correct invalid pointer reference
  test/framework/kubernetes.go
Due: none

KOGITO-3045 Set image's deployment properties (#512)
  Jenkinsfile.deploy
Due: none

KOGITO-2988 BDD: Revert detection for docker build (#497)
  test/framework/dockerfile_provider.go
Due: none

KOGITO-3061 BDD: Correct invalid pointer reference (#514)
  test/framework/kubernetes.go
Due: none

KOGITO-3044 Improve build images time in deploy
  Jenkinsfile.deploy
Due: none

[KOGITO-3050] - Fixing from file build trigger
  cmd/kogito/command/deploy/delete_service.go
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/message/kogitobuild.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/runtime_service.go
  pkg/client/openshift/buildconfig.go
  pkg/client/openshift/buildconfig_test.go
  pkg/controller/kogitobuild/build/image_stream_kogito.go
  pkg/controller/kogitobuild/kogitobuild_controller.go
  pkg/test/client.go
  pkg/test/fake_build.go
Due: operator, cli

Fixing buildservice returning nil when err, adjusting build timeouts
  cmd/kogito/command/message/kogitobuild.go
  cmd/kogito/command/service/build_service.go
  pkg/client/openshift/buildconfig.go
Due: operator, cli

[KOGITO-3063] Redirecting kogito CLI default output to stdout
  cmd/kogito/command/command.go
  cmd/kogito/command/context/logger.go
Due: cli

Default to stdout in the logger framework
  pkg/logger/logger.go
Due: operator

[KOGITO-3063] Redirecting kogito CLI default output to stdout (#516)
  cmd/kogito/command/command.go
  cmd/kogito/command/context/logger.go
  pkg/logger/logger.go
Due: operator, cli

another trigger test
  .github/bot-files/labels.yml
Due: none

please ignore me one last time
  .github/bot-files/reviewers.yml
Due: none

update trusty integration test
  test/features/install_trusty.feature
Due: none

[KOGITO-3050] - Fixing from file build trigger (#515)
  cmd/kogito/command/deploy/delete_service.go
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/message/kogitobuild.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/runtime_service.go
  pkg/client/openshift/buildconfig.go
  pkg/client/openshift/buildconfig_test.go
  pkg/controller/kogitobuild/build/image_stream_kogito.go
  pkg/controller/kogitobuild/kogitobuild_controller.go
  pkg/test/client.go
  pkg/test/fake_build.go
Due: operator, cli

[KOGITO-2960] - Remove unwanted file `kogito-operator.v0.13.0.clusterserviceversion.yaml`
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
Due: none

[KOGITO-2960] - Remove unwanted file `kogito-operator.v0.13.0.clusterserviceversion.yaml`
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
Due: none

KOGITO-3044 Improve build images time in deploy (#511)
  Jenkinsfile.deploy
Due: none

add dmn-tracing-quarkus example in pipeline
  test/scripts/examples/dmn-tracing-quarkus.feature
Due: none

fix IT
  test/features/install_trusty.feature
Due: none

[KOGITO-2871] - Remove deprecated properties from kogito-cloud-operator (#503)
  pkg/infrastructure/services/infinispan.go
  pkg/infrastructure/services/infinispan_test.go
Due: operator

[KOGITO-2960] - Prometheus integration with kogito-cloud-operator
  cmd/kogito/command/converter/prometheus_converter.go
  cmd/kogito/command/converter/prometheus_converter_test.go
  cmd/kogito/command/flag/prometheus_flag.go
  cmd/kogito/command/flag/runtime_flag.go
  cmd/kogito/command/service/runtime_service.go
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  deploy/operator.yaml
  pkg/apis/app/v1alpha1/kogitoruntime_types.go
  pkg/apis/app/v1alpha1/prometheus.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/client/prometheus/servicemonitor.go
  pkg/controller/kogitoruntime/deployer.go
  pkg/framework/comparator.go
  pkg/infrastructure/services/custom_reader.go
  pkg/infrastructure/services/custom_writer.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/prometheus.go
  pkg/infrastructure/services/resources.go
Due: operator, cli

KOGITO-3103 Improve writing new tests doc
  test/README.md
Due: none

[KOGITO-2960] - Incorporate review comment
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  deploy/operator.yaml
  pkg/controller/kogitoruntime/deployer.go
  pkg/framework/comparator.go
Due: operator

Update project version to 0.14.0 for release
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/kogito-operator.v0.14.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  test/.default_config
  version/version.go
Due: cli

[KOGITO-2960] - Incorporate review comments
  pkg/client/custom_reader.go
  pkg/client/custom_writer.go
  pkg/client/prometheus/prometheus.go
  pkg/client/prometheus/servicemonitor.go
  pkg/client/prometheus/servicemonitor_test.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/prometheus.go
  pkg/infrastructure/services/resources.go
  pkg/infrastructure/services/service.go
Due: operator

KOGITO-3103 Improve writing new tests doc (#523)
  test/README.md
Due: none

Update deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
Due: none

Update deploy/olm-catalog/kogito-operator/0.14.0/kogito-operator.v0.14.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/kogito-operator.v0.14.0.clusterserviceversion.yaml
Due: none

Update test/.default_config
  test/.default_config
Due: none

KOGITO-3132 Correct set test config on release
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

[KOGITO-2960] - Incorporate review comments
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitoruntime_types.go
Due: operator

KOGITO-2860 Pipeline to copy manifests
  Jenkinsfile.copy_csv_files
Due: none

Path conditions:
  operator: any of: pkg/
  cli: any of: cmd/
