Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

[KOGITO-4905] Fix COPY line in springboot.Dockerfile (#838)
  RELEASE_NOTES.md
  examples/springboot.Dockerfile
Due: none

[KOGITO-4894] - Remove `image` default value in KogitoRuntime CR (problem in OCP console) (#837)
  RELEASE_NOTES.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/samples/app_v1beta1_kogitobuild.yaml
  config/samples/app_v1beta1_kogitoruntime.yaml
Due: none

[KOGITO-4781] Fix deployment constantly updating
  RELEASE_NOTES.md
  core/kogitoservice/probe.go
  core/kogitoservice/probe_test.go
Due: operator

[KOGITO-4888] Update Prometheus operator GitHub link (#836)
  controllers/runtime_deployer.go
  core/framework/comparator.go
  core/kogitoservice/prometheus.go
  go.mod
  go.sum
  meta/meta.go
  test/pkg/framework/prometheus.go
Due: operator

[KOGITO-4781] Fix deployment constantly updating (#822)
  RELEASE_NOTES.md
  core/kogitoservice/probe.go
  core/kogitoservice/probe_test.go
Due: operator

[KOGITO-4322] Add startup probes
  RELEASE_NOTES.md
  api/probe.go
  api/v1beta1/probe.go
  api/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/app.kiegroup.org_kogitoruntimes.yaml
  bundle/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  config/crd/bases/app.kiegroup.org_kogitoruntimes.yaml
  config/crd/bases/app.kiegroup.org_kogitosupportingservices.yaml
  core/kogitoservice/deployment.go
  core/kogitoservice/probe.go
  core/kogitoservice/probe_test.go
  kogito-operator.yaml
Due: operator

corrected examples images deploy job cfg
  .jenkins/dsl/jobs.groovy
Due: none

Update project version to 1.5.0
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  version/version.go
Due: cli

[KOGITO-4322] Add startup probes (#826)
  RELEASE_NOTES.md
  api/probe.go
  api/v1beta1/probe.go
  api/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/app.kiegroup.org_kogitoruntimes.yaml
  bundle/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  config/crd/bases/app.kiegroup.org_kogitoruntimes.yaml
  config/crd/bases/app.kiegroup.org_kogitosupportingservices.yaml
  core/kogitoservice/deployment.go
  core/kogitoservice/probe.go
  core/kogitoservice/probe_test.go
  kogito-operator.yaml
Due: operator

KOGITO-4858 Allow to modify K8s objects
  test/pkg/steps/data.go
Due: none

corrected promote pipeline
  Jenkinsfile.promote
Due: none

[KOGITO-4154] - CLI displays usage page whenever any command fails
  cmd/kogito/command/command.go
  cmd/kogito/command/completion/completion.go
  cmd/kogito/command/context/command_context.go
  cmd/kogito/command/deploy/delete_service.go
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/errors/errors.go
  cmd/kogito/command/install/kogito_infra.go
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/project/delete_project.go
  cmd/kogito/command/project/display_project.go
  cmd/kogito/command/project/new_project.go
  cmd/kogito/command/project/use_project.go
  cmd/kogito/command/remove/kogitoinfra.go
  cmd/kogito/command/remove/supportingservices.go
  cmd/kogito/command/test/common.go
  cmd/kogito/command/test/errors.go
Due: cli

Update release notes
  RELEASE_NOTES.md
Due: none

Corrected examples images deploy job cfg (#842)
  .jenkins/dsl/jobs.groovy
  Jenkinsfile.promote
Due: none

[1.5.x] Corrected examples images deploy job cfg (#843)
  .jenkins/dsl/jobs.groovy
  Jenkinsfile.promote
Due: none

[KOGITO-4154] - CLI displays usage page whenever any command fails
  cmd/kogito/command/context/root.go
Due: cli

KOGITO-4858 Allow to modify K8s objects (#845)
  test/pkg/steps/data.go
Due: none

[KOGITO-4952] Support installing product operator using insecure registry
  test/pkg/framework/openshift.go
Due: none

[KOGITO-4952] Support installing product operator using insecure registry (#848)
  test/pkg/framework/openshift.go
Due: none

[KOGITO-4154] - CLI displays usage page whenever any command fails (#847)
  cmd/kogito/command/context/root.go
Due: cli

[KOGITO-4905] Fix COPY line comment in springboot.Dockerfile
  examples/springboot.Dockerfile
Due: none

[KOGITO-4952] Support installing product operator using insecure registry
  test/framework/openshift.go
Due: none

KOGITO-4974 Corrected OLM tests on release branch
  hack/ci/operator-ensure-manifests.sh
Due: none

KOGITO-4973 Correct Examples Images job
  Jenkinsfile.examples-images.deploy
Due: none

KOGITO-4973 Correct Examples Images job (#851)
  Jenkinsfile.examples-images.deploy
Due: none

KOGITO-4975 Set back snapshot after release
  Jenkinsfile.promote
Due: none

Set back snapshot version
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  version/version.go
Due: cli

[KOGITO-4905] Fix COPY line comment in springboot.Dockerfile (#849)
  examples/springboot.Dockerfile
Due: none

set version 1.5.1-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  kogito-operator.yaml
  version/version.go
Due: cli

update
  .jenkins/scripts/helper.groovy
  Jenkinsfile.promote
Due: none

[KOGITO-4952] Support installing product operator using insecure registry (#850)
  test/framework/openshift.go
Due: none

correction
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
Due: none

[1.5.x] [KOGITO-4974] Corrected OLM tests on release branch (#852)
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  hack/ci/operator-ensure-manifests.sh
  kogito-operator.yaml
  version/version.go
Due: cli

corrections
  Jenkinsfile.promote
Due: none

[KOGITO-4975] Set back snapshot after release (#853)
  .jenkins/scripts/helper.groovy
  Jenkinsfile.promote
Due: none

[KOGITO-4975] Set back snapshot after release (#853) (#854)
  .jenkins/scripts/helper.groovy
  Jenkinsfile.promote
Due: none

KOGITO-4639 Setup BDD tests coverage
  .jenkins/dsl/jobs.groovy
  Jenkinsfile
  Jenkinsfile.profiling
  Makefile
  config/full/kustomization.yaml
  config/full/manager_auth_proxy_patch.yaml
  config/full/manager_webhook_patch.yaml
  config/full/webhookcainjection_patch.yaml
  config/profiling-data-access/bases/profiling_data_access_pod.yaml
  config/profiling-data-access/kustomization.yaml
  config/profiling/bases/profiling_pvc.yaml
  config/profiling/kustomization.yaml
  config/profiling/patches/manager_profiling_entrypoint.yaml
  config/profiling/patches/manager_profiling_volume_mount.yaml
  hack/run-tests.sh
  hack/run-tests.sh.bats
  main.go
  main_test.go
  modules/buildProfilingOperator/install.sh
  modules/buildProfilingOperator/module.yaml
  profiling/entrypoint-profiling
  profiling/image.yaml
  profiling/kogito-operator-profiling-data-access.yaml
  profiling/kogito-operator-profiling.yaml
  test/Makefile
  test/pkg/config/config.go
  test/pkg/executor/bdd_executor.go
  test/pkg/framework/operator.go
  test/pkg/installers/kogito_installer.go
Due: none

Path conditions:
  operator: any of: api/, controllers/, internal/, core/
  cli: any of: cmd/
