Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

KOGITO-3000: BDD tests: Enable optaplanner native test (#540)
  test/features/deploy_kogito_runtime.feature
  test/scripts/examples/process-optaplanner-quarkus.feature
Due: none

Delete paths.yml until upstream issue is resolved
  .github/bot-files/paths.yml
Due: none

Delete paths.yml until upstream issue is resolved (#542)
  .github/bot-files/paths.yml
Due: none

Update kogitoexplainability.go
  test/steps/kogitoexplainability.go
Due: none

[KOGITO-2960] - Incorporate review comments
  cmd/kogito/command/converter/monitoring_converter.go
  cmd/kogito/command/converter/monitoring_converter_test.go
  cmd/kogito/command/converter/prometheus_converter.go
  cmd/kogito/command/flag/monitoring_flag.go
  cmd/kogito/command/flag/prometheus_flag.go
  cmd/kogito/command/flag/runtime_flag.go
  cmd/kogito/command/service/runtime_service.go
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitoruntime_types.go
  pkg/apis/app/v1alpha1/prometheus.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/client/client.go
  pkg/client/kubernetes/resource.go
  pkg/client/kubernetes/resource_reader.go
  pkg/client/kubernetes/resource_writer.go
  pkg/client/meta/meta.go
  pkg/client/prometheus/servicemonitor.go
  pkg/client/prometheus/servicemonitor_test.go
  pkg/controller/kogitobuild/build/manager.go
  pkg/controller/kogitobuild/kogitobuild_controller.go
  pkg/controller/kogitodataindex/kogitodataindex_controller.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitojobsservice/kogitojobsservice_controller.go
  pkg/controller/kogitomgmtconsole/kogitomgmtconsole_controller.go
  pkg/controller/kogitoruntime/deployer.go
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/controller/kogitotrusty/kogitotrusty_controller.go
  pkg/framework/comparator.go
  pkg/infrastructure/services/custom_reader.go
  pkg/infrastructure/services/custom_writer.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/prometheus.go
  pkg/infrastructure/services/resources.go
  pkg/infrastructure/services/service.go
Due: operator, cli

[KOGITO-2960] - Rename Prometheus to Monitoring service
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitoruntime_types.go
Due: operator

[KOGITO-2960] - Incorporate review comments
  cmd/kogito/command/flag/monitoring_flag.go
Due: cli

[KOGITO-3148] - Remove third party required dependencies from CSV (#538)
  cmd/kogito/command/install/infinispan.go
  cmd/kogito/command/install/kafka.go
  cmd/kogito/command/install/keycloak.go
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
Due: cli

[KOGITO-2960] - Prometheus integration with kogito-cloud-operator (#521)
  cmd/kogito/command/converter/monitoring_converter.go
  cmd/kogito/command/converter/monitoring_converter_test.go
  cmd/kogito/command/flag/monitoring_flag.go
  cmd/kogito/command/flag/runtime_flag.go
  cmd/kogito/command/service/runtime_service.go
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitoruntime_types.go
  pkg/apis/app/v1alpha1/monitoring.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/client/client.go
  pkg/client/kubernetes/resource.go
  pkg/client/kubernetes/resource_reader.go
  pkg/client/kubernetes/resource_writer.go
  pkg/client/meta/meta.go
  pkg/client/prometheus/servicemonitor.go
  pkg/client/prometheus/servicemonitor_test.go
  pkg/controller/kogitobuild/build/manager.go
  pkg/controller/kogitobuild/kogitobuild_controller.go
  pkg/controller/kogitodataindex/kogitodataindex_controller.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitojobsservice/kogitojobsservice_controller.go
  pkg/controller/kogitomgmtconsole/kogitomgmtconsole_controller.go
  pkg/controller/kogitoruntime/deployer.go
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/controller/kogitotrusty/kogitotrusty_controller.go
  pkg/framework/comparator.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/prometheus.go
  pkg/infrastructure/services/resources.go
  pkg/infrastructure/services/service.go
Due: operator, cli

inject trusty route
  pkg/controller/kogitotrustyui/kogitotrusty_ui_controller.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/error.go
  pkg/infrastructure/services/resources.go
  pkg/infrastructure/services/resources_test.go
  pkg/infrastructure/trusty.go
Due: operator

[KOGITO-961] Tests: Enable Prometheus test
  test/features/prometheus.feature
  test/framework/mappers/cr_to_cli.go
  test/scripts/examples/dmn-drools-quarkus-metrics.feature
  test/steps/kogitoruntime.go
  test/steps/mappers/create_kogito_service.go
Due: none

[KOGITO-3104] - Missing Resources for Operator CRs
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitobuild_types.go
  pkg/apis/app/v1alpha1/kogitodataindex_types.go
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
  pkg/apis/app/v1alpha1/kogitojobsservice_types.go
  pkg/apis/app/v1alpha1/kogitomgmtconsole_types.go
  pkg/apis/app/v1alpha1/kogitoruntime_types.go
  pkg/apis/app/v1alpha1/kogitotrusty_types.go
Due: operator

[KOGITO-3104] - Missing Resources for Operator CRs (#544)
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitobuild_types.go
  pkg/apis/app/v1alpha1/kogitodataindex_types.go
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
  pkg/apis/app/v1alpha1/kogitojobsservice_types.go
  pkg/apis/app/v1alpha1/kogitomgmtconsole_types.go
  pkg/apis/app/v1alpha1/kogitoruntime_types.go
  pkg/apis/app/v1alpha1/kogitotrusty_types.go
Due: operator

[KOGITO-961] Tests: Enable Prometheus test (#543)
  test/features/prometheus.feature
  test/framework/mappers/cr_to_cli.go
  test/scripts/examples/dmn-drools-quarkus-metrics.feature
  test/steps/kogitoruntime.go
  test/steps/mappers/create_kogito_service.go
Due: none

Update pkg/apis/app/v1alpha1/kogitotrustyui_types.go
  pkg/apis/app/v1alpha1/kogitotrustyui_types.go
Due: operator

remove routes, fix typos
  deploy/crds/app.kiegroup.org_v1alpha1_kogitotrustyui_cr.yaml
  pkg/infrastructure/services/resources.go
  pkg/infrastructure/trusty.go
  pkg/infrastructure/trusty_ui.go
  test/config/config.go
Due: operator

make vet
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
Due: none

add bats tests
  hack/run-tests.sh
  hack/run-tests.sh.bats
Due: none

add tests
  hack/run-tests.sh
Due: none

fix typo in bdd test
  test/features/install_trustyui.feature
Due: none

Update pkg/apis/app/v1alpha1/kogitoexplainability_types.go
  pkg/apis/app/v1alpha1/kogitoexplainability_types.go
Due: operator

rebase
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/controller/kogitoexplainability/kogitoexplainability_controller.go
Due: operator

fix
  pkg/infrastructure/trusty.go
  test/steps/kogitotrustyui.go
Due: operator

Update README.md
  README.md
Due: none

Update cmd/kogito/command/shared/install_services.go
  cmd/kogito/command/shared/install_services.go
Due: cli

Update app.kiegroup.org_v1alpha1_kogitoexplainability_cr.yaml
  deploy/crds/app.kiegroup.org_v1alpha1_kogitoexplainability_cr.yaml
Due: none

Update pkg/controller/kogitoexplainability/kogitoexplainability_controller.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller.go
Due: operator

Update test/features/install_explainability.feature
  test/features/install_explainability.feature
Due: none

Update install_explainability.feature
  test/features/install_explainability.feature
Due: none

[KOGITO-3278] Tests: Enable Kogito infra for Kafka only when URL and Instance are empty
  test/framework/kogitoserviceutils.go
Due: none

Update test/steps/kogitoexplainability.go
  test/steps/kogitoexplainability.go
Due: none

[KOGITO-3300] - Improving tests and ignoring project not in the context
  cmd/kogito/command/deploy/delete_service.go
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/message/project.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/runtime_service.go
  cmd/kogito/command/shared/kubeconfig.go
  cmd/kogito/command/shared/kubeconfig_test.go
  cmd/kogito/command/shared/resource_checks.go
  cmd/kogito/command/shared/resource_checks_test.go
Due: cli

[KOGITO-3278] Tests: Enable Kogito infra for Kafka only when URL and Instance are empty (#547)
  test/framework/kogitoserviceutils.go
Due: none

set kogito runtime external uri in explaination bdd test
  test/features/install_explainability.feature
  test/steps/mappers/create_kogito_service.go
Due: none

[KOGITO-3300] - Improving tests and ignoring project not in the context (#549)
  cmd/kogito/command/deploy/delete_service.go
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/message/project.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/runtime_service.go
  cmd/kogito/command/shared/kubeconfig.go
  cmd/kogito/command/shared/kubeconfig_test.go
  cmd/kogito/command/shared/resource_checks.go
  cmd/kogito/command/shared/resource_checks_test.go
Due: cli

KOGITO-1001: Add test for Jobs-service with Keycloak
  README.md
  test/features/install_jobs_service.feature
  test/framework/http.go
  test/framework/keycloak.go
  test/steps/data.go
  test/steps/http.go
  test/steps/keycloak.go
Due: none

Update test/steps/kogitotrustyui.go
  test/steps/kogitotrustyui.go
Due: none

Update test/features/install_trustyui.feature
  test/features/install_trustyui.feature
Due: none
