Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

[KOGITO-2064] - Incorporate image-version flag
  cmd/kogito/command/converter/image_converter.go
  cmd/kogito/command/converter/image_converter_test.go
  cmd/kogito/command/flag/build_flag.go
  cmd/kogito/command/service/build_service.go
Due: cli

[KOGITO-2064] - Fix Smoke testing issue
  cmd/kogito/command/flag/build_flag.go
Due: cli

KOGITO-2640 Upgrade tests to godog 0.10.0 (#430)
  go.mod
  go.sum
  test/feature.go
  test/main_test.go
  test/steps/data.go
  test/steps/deploy_files.go
  test/steps/git.go
  test/steps/graphql.go
  test/steps/http.go
  test/steps/image_registry.go
  test/steps/infinispan.go
  test/steps/kafka.go
  test/steps/kogito_service_table_parser.go
  test/steps/kogitoapp.go
  test/steps/kogitobuild.go
  test/steps/kogitodataindex.go
  test/steps/kogitoinfra.go
  test/steps/kogitojobsservice.go
  test/steps/kogitomgmtconsole.go
  test/steps/kogitoruntime.go
  test/steps/kubernetes.go
  test/steps/maven.go
  test/steps/openshift.go
  test/steps/operator.go
  test/steps/process.go
  test/steps/prometheus.go
  test/steps/task.go
  test/steps/utils.go
Due: none

[KOGITO-2825] - Change operator-testing image to latest
  hack/ci/operator-olm-test.sh
Due: none

Run olm change if change in hack/ci
  .github/workflows/Kogito-Operator-OLM-tests.yaml
Due: none

[KOGITO-2825] - Change operator-testing image to latest (#463)
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  hack/ci/operator-olm-test.sh
Due: none

add explainability service
  Makefile
  cmd/kogito/command/shared/install_operator_test.go
  deploy/crds/app.kiegroup.org_kogitoexplainability_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoexplainability_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  examples/explainability.yaml
  hack/run-tests.sh
  hack/run-tests.sh.bats
  pkg/apis/app/v1alpha1/kogitoexplainability_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/add_kogitoexplainability.go
  pkg/controller/kogitoexplainability/kogitodataindex_controller_test.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller.go
  pkg/infrastructure/explainability.go
  test/config/config.go
  test/framework/kogitoexplainability.go
  test/steps/data.go
  test/steps/kogitoexplainability.go
Due: operator, cli

fix tests
  pkg/controller/kogitoexplainability/kogitodataindex_controller_test.go
Due: operator

[KOGITO-2786] - Run smoke tests only when necesarry See: https://issues.redhat.com/browse/KOGITO-2786
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/Kogito-Operator-Unit-tests.yaml
  .github/workflows/Kogito-jenkins-trigger-comment.yaml
  Jenkinsfile
Due: none

removed comment
  .github/workflows/Kogito-jenkins-trigger-comment.yaml
Due: none

added git information
  Jenkinsfile
Due: none

KOGITO-2795 Update bump-version.sh script
  hack/bump-version.sh
Due: none

KOGITO-2795 Update bump-version.sh script (#460)
  hack/bump-version.sh
Due: none

[KOGITO-2786] - Run smoke tests only when necesarry (#456)
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/Kogito-Operator-Unit-tests.yaml
  Jenkinsfile
Due: none

[KOGITO-2813] - Renaming KogitoApp description to KogitoService, Fixes #462
  deploy/crds/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitoapp_types.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
Due: operator

[KOGITO-2827] - Use environment variable when no Data Index route available
  examples/kubernetes/travel-agency/deploy.sh
  examples/kubernetes/travel-agency/management-console-ingress.yaml
  examples/kubernetes/travel-agency/management-console.yaml
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/resources.go
  pkg/infrastructure/services/resources_test.go
Due: operator

Mocking approach for testing
  cmd/kogito/command/deploy/delete_service_test.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/service/build_service_mock.go
  cmd/kogito/command/service/build_service_test.go
  cmd/kogito/command/service/runtime_service_mock.go
  cmd/kogito/command/service/runtime_service_test.go
  cmd/kogito/command/shared/resource_checks_mock.go
Due: cli

[KOGITO-2739] Tests: Add CLI support for KogitoRuntime and KogitoBuild
  test/features/deploy_kogito_build.feature
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_source_files.feature
  test/framework/kogitoapp.go
  test/framework/kogitobuild.go
  test/framework/kogitodataindex.go
  test/framework/kogitojobsservice.go
  test/framework/kogitomgmtconsole.go
  test/framework/kogitoruntime.go
  test/framework/kogitoserviceutils.go
  test/framework/mappers/cr_to_cli.go
  test/framework/util.go
  test/steps/deploy_files.go
  test/steps/kogito_service_table_parser.go
  test/steps/kogitoapp.go
  test/steps/kogitobuild.go
  test/steps/kogitodataindex.go
  test/steps/kogitojobsservice.go
  test/steps/kogitomgmtconsole.go
  test/steps/kogitoruntime.go
  test/steps/mappers/create_kogito_build.go
  test/steps/mappers/create_kogito_service.go
  test/steps/mappers/shared_functions.go
  test/types/holder.go
Due: none

KOGITO-2859 make vet copy manifests to version
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  hack/bump-version.sh
  hack/export-container-image.sh
  hack/go-vet.sh
Due: none

[KOGITO-2739] Tests: Add CLI support for KogitoRuntime and KogitoBuild (#444)
  test/features/deploy_kogito_build.feature
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_source_files.feature
  test/framework/kogitoapp.go
  test/framework/kogitobuild.go
  test/framework/kogitodataindex.go
  test/framework/kogitojobsservice.go
  test/framework/kogitomgmtconsole.go
  test/framework/kogitoruntime.go
  test/framework/kogitoserviceutils.go
  test/framework/mappers/cr_to_cli.go
  test/framework/util.go
  test/steps/deploy_files.go
  test/steps/kogito_service_table_parser.go
  test/steps/kogitoapp.go
  test/steps/kogitobuild.go
  test/steps/kogitodataindex.go
  test/steps/kogitojobsservice.go
  test/steps/kogitomgmtconsole.go
  test/steps/kogitoruntime.go
  test/steps/mappers/create_kogito_build.go
  test/steps/mappers/create_kogito_service.go
  test/steps/mappers/shared_functions.go
  test/types/holder.go
Due: none

KOGITO-2785 Add OLM testing to Nightly
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  Jenkinsfile.deploy
  hack/ci/operator-olm-test.sh
  hack/ci/stop-kind.sh
Due: none

[KOGITO-2813] - Renaming KogitoApp description to KogitoService, Fixes #462 (#467)
  deploy/crds/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitoapp_types.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
Due: operator

KOGITO-2859 make vet copy manifests to version (#466)
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  hack/bump-version.sh
  hack/export-container-image.sh
  hack/go-vet.sh
Due: none

fix broken link in README
  README.md
Due: none

fix broken link in README (#470)
  README.md
Due: none

[KOGITO-2878] Align operator OLM test scripts to reflect directory changes in OLM repository
  hack/ci/operator-ensure-manifests.sh
Due: none

[KOGITO-2878] Align operator OLM test scripts to reflect directory changes in OLM repository (#472)
  hack/ci/operator-ensure-manifests.sh
Due: none

add trusty tests
  test/config/config.go
  test/framework/kogitotrusty.go
  test/steps/kogitotrusty.go
Due: none

[KOGITO-2873] Tests: Set Data index URL in env variables for Management console
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
  test/framework/mappers/cr_to_cli.go
  test/steps/kogitomgmtconsole.go
Due: none

Fixed lint
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
Due: none

KOGITO-2880 - Fixed lint (#473)
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
Due: none

rebase
  cmd/kogito/command/install/trusty.go
  cmd/kogito/command/install/trusty_test.go
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitotrusty_crd.yaml
  test/features/install_trusty.feature
Due: cli

fix test
  cmd/kogito/command/install/trusty_test.go
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
Due: cli

fix lint
  cmd/kogito/command/install/trusty.go
  test/steps/data.go
Due: cli

add trusty scenarios
  test/features/install_trusty.feature
  test/features/olm/cli_install_operator.feature
  test/features/olm/cli_new_project.feature
  test/features/olm/cli_use_project.feature
Due: none

update readme
  README.md
Due: none

add command for explainability
  cmd/kogito/command/install/explainability.go
  cmd/kogito/command/message/explainability.go
Due: cli

add operator expl
  cmd/kogito/command/install/explainability.go
  cmd/kogito/command/install/explainability_test.go
  pkg/apis/app/v1alpha1/kogitoexplainability_types.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller_test.go
Due: operator, cli
