Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

BAQE-1695: Test from VS Code interaction to Openshift deployment
  test/features/deploy_kogito_build_vs_code.feature
  test/pkg/framework/decision.go
  test/pkg/framework/http.go
  test/pkg/framework/maven.go
  test/pkg/steps/data.go
  test/pkg/steps/decision.go
  test/pkg/steps/git.go
  test/pkg/steps/kie_asset_library.go
  test/pkg/steps/kogitobuild.go
  test/pkg/steps/maven.go
Due: none

Use work in progress label in feature file
  test/features/deploy_kogito_build_vs_code.feature
Due: none

Align feature file with latest kie-asset-library-poc
  test/features/deploy_kogito_build_vs_code.feature
Due: none

Do not retry npm commands
  test/pkg/steps/kie_asset_library.go
Due: none

Set NPM_REGISTRY
  test/pkg/steps/kie_asset_library.go
Due: none

Incorporate review comments
  controllers/kogitoruntime_controller.go
  core/infrastructure/imagestream.go
  core/infrastructure/imagestream_reconciler.go
  core/kogitoservice/deployer.go
  core/manager/infra_manager.go
Due: operator

[KOGITO-5205] - ImageStream tag is not updated when image parameter i… (#888)
  controllers/kogitoruntime_controller.go
  controllers/kogitoruntime_controller_test.go
  controllers/kogitoruntime_finalizer.go
  controllers/kogitoruntime_finalizer_test.go
  controllers/kogitosupportingservice_controller_test.go
  core/framework/owner.go
  core/framework/owner_test.go
  core/framework/util/arrays.go
  core/framework/util/arrays_test.go
  core/infrastructure/image.go
  core/infrastructure/image_test.go
  core/infrastructure/imagestream.go
  core/infrastructure/imagestream_reconciler.go
  core/infrastructure/imagestream_test.go
  core/kogitoruntime/imagestream_finalizer.go
  core/kogitoservice/configmap.go
  core/kogitoservice/configmap_test.go
  core/kogitoservice/dashboards.go
  core/kogitoservice/deployer.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/errors.go
  core/kogitoservice/infra_finalizer.go
  core/kogitoservice/infra_finalizer_test.go
  core/kogitoservice/prometheus.go
  core/kogitosupportingservice/dataindex_reconciler_test.go
  core/kogitosupportingservice/explainability_reconciler_test.go
  core/kogitosupportingservice/jobsservice_reconciler_test.go
  core/kogitosupportingservice/mgmtconsole_reconciler_test.go
  core/kogitosupportingservice/taskconsole_reconciler_test.go
  core/kogitosupportingservice/trustyai_reconciler_test.go
  core/kogitosupportingservice/trustyui_reconciler_test.go
  core/manager/infra_manager.go
  core/test/imagestream.go
Due: operator

[KOGITO-5348] BDD tests: Use Grafana image based on digest
  core/kogitoservice/dashboards.go
  go.mod
  go.sum
  test/pkg/framework/grafana.go
  test/pkg/framework/kubernetes.go
Due: operator

[KOGITO-5348] BDD tests: Use Grafana image based on digest (#910)
  core/kogitoservice/dashboards.go
  go.mod
  go.sum
  test/pkg/framework/grafana.go
  test/pkg/framework/kubernetes.go
Due: operator

[KOGITO-5313] BDD tests: Test against Infinispan 12
  test/pkg/framework/infinispan.go
  test/pkg/installers/infinispan_installer.go
Due: none

[KOGITO-5315] Jobs service use unsupported authentication mechanism
  README.md
  RELEASE_NOTES.md
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/infinispan_reconciler_test.go
  go.mod
  go.sum
  test/pkg/framework/infinispan.go
Due: operator

[KOGITO-5313][KOGITO-5315] Upgrade Kogito operator and BDD tests to Infinispan 12 (#911)
  README.md
  RELEASE_NOTES.md
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/infinispan_reconciler_test.go
  go.mod
  go.sum
  test/pkg/framework/infinispan.go
  test/pkg/installers/infinispan_installer.go
Due: operator

[KOGITO-5393] BDD tests: Concurrent map read and map write error
  test/pkg/framework/logging.go
Due: none

Update project version to 1.8.0-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

Update project version to 1.8.0-snapshot (#913)
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

KOGITO-5262 Remove reference to no longer used consumers
  core/kogitosupportingservice/dataindex_reconciler.go
Due: operator

[KOGITO-5393] BDD tests: Concurrent map read and map write error (#912)
  test/pkg/framework/logging.go
Due: none

[KOGITO-5393] BDD tests: Concurrent map read and map write error (#914)
  test/pkg/framework/logging.go
Due: none

KOGITO-5262 Remove reference to no longer used consumers (#902)
  core/kogitosupportingservice/dataindex_reconciler.go
Due: operator

KOGITO-5262 Remove reference to no longer used consumers (#902) (#915)
  core/kogitosupportingservice/dataindex_reconciler.go
Due: operator

Refactoring codegen, tests, cekit
  Makefile
  README.md
  RELEASE_NOTES.md
  api/v1beta1/kogitobuild_types_test.go
  api/v1beta1/kogitoinfra_types_test.go
  client/client_test.go
  client/go.mod
  client/go.sum
  client/informers/externalversions/core/interface.go
  client/informers/externalversions/core/v1beta1/interface.go
  client/informers/externalversions/core/v1beta1/kogitobuild.go
  client/informers/externalversions/core/v1beta1/kogitoinfra.go
  client/informers/externalversions/core/v1beta1/kogitoruntime.go
  client/informers/externalversions/core/v1beta1/kogitosupportingservice.go
  client/informers/externalversions/factory.go
  client/informers/externalversions/generic.go
  client/informers/externalversions/internalinterfaces/factory_interfaces.go
  client/listers/core/v1beta1/expansion_generated.go
  client/listers/core/v1beta1/kogitobuild.go
  client/listers/core/v1beta1/kogitoinfra.go
  client/listers/core/v1beta1/kogitoruntime.go
  client/listers/core/v1beta1/kogitosupportingservice.go
  hack/addheaders.sh
  hack/client-gen.sh
  hack/go-test.sh
  hack/kogito-module-api.sh
  modules/goModDownload/install.sh
  profiling/kogito-operator-profiling.yaml
Due: operator

Adding api mod to cekit
  modules/goModDownload/install.sh
  modules/goModDownload/module.yaml
Due: none

Fixing api module for image build
  modules/goModDownload/module.yaml
Due: none

Reverting profiling file
  profiling/kogito-operator-profiling.yaml
Due: none

Regenerating profiling with new kustomize
  profiling/kogito-operator-profiling.yaml
Due: none

Updating TOC
  README.md
Due: none

Removing api module from the buildOperator module
  modules/buildOperator/module.yaml
Due: none

Fixing CSV replaces version
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
Due: none

Replace latest Kogito operator version
  api/marker
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
Due: operator

Fixing sh formatting, docs
  README.md
  hack/kogito-module-api.sh
Due: none

[RHPAM-3681] - Introduce BuildContext
  RELEASE_NOTES.md
  controllers/kogitobuild_controller.go
  core/kogitobuild/buid_config_test.go
  core/kogitobuild/build_config.go
  core/kogitobuild/build_context.go
  core/kogitobuild/decorator.go
  core/kogitobuild/decorator_test.go
  core/kogitobuild/image_stream.go
  core/kogitobuild/image_stream_test.go
  core/kogitobuild/manager.go
  core/kogitobuild/manager_build_binary.go
  core/kogitobuild/manager_build_source.go
  core/kogitobuild/manager_test.go
  core/kogitobuild/status.go
  core/kogitobuild/status_test.go
  internal/kogitobuild.go
Due: operator

Update README.md
  README.md
Due: none

[KOGITO-5127] Guide for new Kogito operator developers
  .github/pull_request_template.md
  README.md
  RELEASE_NOTES.md
  docs/GUIDE_FOR_KOGITO_DEVS.md
  docs/GUIDE_FOR_RUNTIMES_DEVS.md
Due: none

[KOGITO-5127] Guide for new Kogito operator developers (#875)
  .github/pull_request_template.md
  README.md
  RELEASE_NOTES.md
  docs/GUIDE_FOR_KOGITO_DEVS.md
  docs/GUIDE_FOR_RUNTIMES_DEVS.md
Due: none

[RHPAM-3681] - Introduce BuildContext (#917)
  RELEASE_NOTES.md
  controllers/kogitobuild_controller.go
  core/kogitobuild/buid_config_test.go
  core/kogitobuild/build_config.go
  core/kogitobuild/build_context.go
  core/kogitobuild/decorator.go
  core/kogitobuild/decorator_test.go
  core/kogitobuild/image_stream.go
  core/kogitobuild/image_stream_test.go
  core/kogitobuild/manager.go
  core/kogitobuild/manager_build_binary.go
  core/kogitobuild/manager_build_source.go
  core/kogitobuild/manager_test.go
  core/kogitobuild/status.go
  core/kogitobuild/status_test.go
  internal/kogitobuild.go
Due: operator

Update README.md (#920)
  README.md
Due: none

Path conditions:
  operator: any of: api/, controllers/, internal/, core/
  cli: any of: cmd/
