Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

[KOGITO-3852] Extend GitHub actions to cover all branches
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/Kogito-Operator-Unit-tests.yaml
Due: none

[KOGITO-3852] Extend GitHub actions to cover all branches (#657)
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/Kogito-Operator-Unit-tests.yaml
Due: none

[KOGITO-3852] Extend GitHub actions to cover all branches (#656)
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/Kogito-Operator-Unit-tests.yaml
Due: none

[KOGITO-3866] - Operator print error logs when KogitoRuntime delete
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
  pkg/infrastructure/kogito_infra.go
  pkg/infrastructure/kogito_infra_test.go
  pkg/infrastructure/kogito_runtime.go
  pkg/infrastructure/kogito_runtime_test.go
Due: operator

[KOGITO-3864] - KogitoInfra got delete when refering KogitoRuntime/KogitoSupportingService delete
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
Due: operator

Use client and scheme from reconcile reference
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
Due: operator

Copy manifests version 0.17.0 to master
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/kogito-operator.v0.17.0.clusterserviceversion.yaml
Due: none

Copy manifests version 0.17.0 to master (#662)
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/kogito-operator.v0.17.0.clusterserviceversion.yaml
Due: none

[KOGITO-3874] - Allow configuration of readiness and liveness probes
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  kogito-operator.yaml
  pkg/apis/app/v1beta1/kogitoservices_types.go
  pkg/apis/app/v1beta1/probe.go
  pkg/apis/app/v1beta1/zz_generated.deepcopy.go
  pkg/apis/app/v1beta1/zz_generated.openapi.go
  pkg/infrastructure/services/deployment.go
  pkg/infrastructure/services/probe.go
  pkg/infrastructure/services/probe_test.go
Due: operator

[KOGITO-3874] - Incorporate review comment
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  kogito-operator.yaml
  pkg/apis/app/v1beta1/kogitoservices_types.go
  pkg/apis/app/v1beta1/probe.go
  pkg/apis/app/v1beta1/zz_generated.deepcopy.go
  pkg/apis/app/v1beta1/zz_generated.openapi.go
  pkg/infrastructure/services/probe.go
  pkg/infrastructure/services/probe_test.go
Due: operator

[KOGITO-3866] - Operator print error logs when KogitoRuntime delete (#660)
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
  pkg/infrastructure/kogito_infra.go
  pkg/infrastructure/kogito_infra_test.go
  pkg/infrastructure/kogito_runtime.go
  pkg/infrastructure/kogito_runtime_test.go
Due: operator

Update release notes with known bugs for 1.0.0 release
  RELEASE_NOTES.md
Due: none

Update RELEASE_NOTES.md
  RELEASE_NOTES.md
Due: none

Update project version to 1.0.0 for release
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/1.0.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0/kogito-operator.v1.0.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  kogito-operator.yaml
  test/.default_config
  version/version.go
Due: cli

KOGITO-3893 Add unit testing to jenkinsfiles
  Jenkinsfile
  Jenkinsfile.deploy
Due: none

Update project version to 1.0.0 for release
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/1.0.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0/kogito-operator.v1.0.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  go.sum
  kogito-operator.yaml
  test/.default_config
  version/version.go
Due: cli

KOGITO-3893 Add unit testing to jenkinsfiles (#668)
  Jenkinsfile
  Jenkinsfile.deploy
Due: none

[1.0.x] Update release notes with known bugs for 1.0.0 release (#665)
  RELEASE_NOTES.md
Due: none

Copy manifests version 0.17.0 to 1.0.x (#662)
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/kogito-operator.v0.17.0.clusterserviceversion.yaml
Due: none

Copy manifests version 0.17.0 to 1.0.x (#662) (#670)
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/kogito-operator.v0.17.0.clusterserviceversion.yaml
Due: none

[KOGITO-3874] - Allow configuration of readiness and liveness probes (#663)
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  kogito-operator.yaml
  pkg/apis/app/v1beta1/kogitoservices_types.go
  pkg/apis/app/v1beta1/zz_generated.deepcopy.go
  pkg/apis/app/v1beta1/zz_generated.openapi.go
  pkg/infrastructure/services/deployment.go
  pkg/infrastructure/services/probe.go
  pkg/infrastructure/services/probe_test.go
Due: operator

[KOGITO-3899] Add build check steps in source files feature
  test/features/deploy_source_files.feature
Due: none

[KOGITO-3899] Add build check steps in source files feature (#671)
  test/features/deploy_source_files.feature
Due: none

Update go.mod
  go.mod
Due: none

Update go.sum
  go.sum
Due: none

[KOGITO-3910] Add option to run tests with cluster wide operator
  Makefile
  README.md
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/framework/operator.go
  test/main_test.go
Due: none

[KOGITO-3935] Adjust Prometheus test for metric change
  test/features/prometheus.feature
Due: none

[KOGITO-3935] Adjust Prometheus test for metric change (#675)
  test/features/prometheus.feature
Due: none

[KOGITO-3910] Add option to run tests with cluster wide operator (#674)
  Makefile
  README.md
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/framework/operator.go
  test/main_test.go
Due: none

[KOGITO-3937] - Move probe configuration in to `probes` subproperty
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  kogito-operator.yaml
  pkg/apis/app/v1beta1/kogitoservices_types.go
  pkg/apis/app/v1beta1/probe.go
  pkg/apis/app/v1beta1/zz_generated.deepcopy.go
  pkg/apis/app/v1beta1/zz_generated.openapi.go
  pkg/infrastructure/services/probe.go
  pkg/infrastructure/services/probe_test.go
Due: operator

[KOGITO-3898] - Provide CLI flags for subset of probe parameters
  cmd/kogito/command/converter/kogitoprobe_converter.go
  cmd/kogito/command/converter/kogitoprobe_converter_test.go
  cmd/kogito/command/flag/install_flag.go
  cmd/kogito/command/flag/probe_flag.go
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/install/supportingservices_test.go
  cmd/kogito/command/service/runtime_service.go
Due: cli

Updating Release Notes to 1.1.0
  .github/pull_request_template.md
  RELEASE_NOTES.md
Due: none
