Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

BXMSPROD-1265: Conscious language initiative (#905)
  .github/bot-files/comments.yml
  .github/pull_request_template.md
  .github/workflows/jenkins-tests-PR.yml
  .jenkins/dsl/test.sh
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/command/install/supportingservices.go
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  core/framework/image.go
  docs/GUIDE_FOR_KOGITO_DEVS.md
  examples/data-index-mongodb.yaml
  examples/data-index.yaml
  examples/explainability.yaml
  examples/kogitoinfra-kafka.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  examples/process-quarkus-example-persistence.yaml
  examples/springboot.yaml
  examples/travelapp-kogito-travel-agency.yaml
  examples/travelapp-kogito-visas.yaml
  examples/trusty.yaml
  hack/run-tests.sh
  hack/update_test_config.sh
  hack/update_test_config.sh.bats
  test/.default_config
Due: operator, cli

Update project version to 1.9.0
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

Update bundle/manifests/kogito-operator.clusterserviceversion.yaml
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
Due: none

Update config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
Due: none

Update OLM retrieval + version (#947)
  hack/env.sh
Due: none

[BAPL-1970] - Kogito decision services with Managed Kafka
  api/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/kogitoruntime_controller_test.go
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/kafka_reconciler.go
  core/kogitoinfra/mongodb_reconciler.go
  core/kogitoinfra/status.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/messaging_kafka.go
Due: operator

Incorporate review comments
  core/connector/protobuf_configmap_reconciler.go
  core/infrastructure/configmap.go
  core/infrastructure/delta_processor.go
  core/kogitoservice/deployer_resources.go
  core/manager/supportingservice_manager.go
Due: operator

Fix OLM issue
  hack/ci/operator-ensure-manifests.sh
  hack/ci/run-olm-tests.sh
Due: none

Fix OLM issue
  hack/ci/operator-ensure-manifests.sh
  hack/ci/run-olm-tests.sh
  hack/env.sh
Due: none

Change function name
  core/infrastructure/configmap.go
Due: operator

[1.9.x] Update snapshot version to 1.9.1-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

Update OLM retrieval + version (#947) (#952)
  hack/env.sh
Due: none

[KOGITO-5573] Kogito Operator Data-Index Unable to connect to Infinispan Instance
  RELEASE_NOTES.md
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/infinispan_reconciler_test.go
  test/pkg/framework/infinispan.go
Due: operator

[KOGITO-5573] Kogito Operator Data-Index Unable to connect to Infinispan Instance (#956)
  RELEASE_NOTES.md
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/infinispan_reconciler_test.go
  test/pkg/framework/infinispan.go
Due: operator

[KOGITO-5573] Kogito Operator Data-Index Unable to connect to Infinispan Instance (#955)
  RELEASE_NOTES.md
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/infinispan_reconciler_test.go
  test/pkg/framework/infinispan.go
Due: operator

Move protobuf content to shared package.
  controllers/kogitoruntime_controller.go
  core/kogitosupportingservice/dataindex_reconciler.go
  core/shared/protobuf.go
  core/shared/protobuf_configmap.go
  core/shared/protobuf_configmap_reconciler.go
  core/shared/protobuf_test.go
Due: operator

Fix OLM issue
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
Due: none

fix lint issue
  core/manager/infra_manager.go
Due: operator

KOGITO-5601 : Add KogitoInfra capablities in RHPAM Kogito Operator (#953)
  api/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/kogitoruntime_controller_test.go
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/kafka_reconciler.go
  core/kogitoinfra/mongodb_reconciler.go
  core/kogitoinfra/status.go
  core/kogitoservice/messaging_kafka.go
  core/manager/infra_manager.go
Due: operator

update links to new repo
  hack/ci/operator-ensure-manifests.sh
  hack/ci/run-olm-tests.sh
Due: none

updated `replaces` field
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
Due: none

[1.9.x] Correct OLM tests (#958)
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  hack/ci/operator-ensure-manifests.sh
  hack/ci/run-olm-tests.sh
Due: none

Update project version to 1.9.1
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

Correct OLM tests link
  hack/ci/run-olm-tests.sh
Due: none

Correct OLM tests link (#960)
  hack/ci/run-olm-tests.sh
Due: none

[KOGITO-5632] - 'javax.net.ssl.trustStore' error with disable Endpoint Authentication
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/infinispan_reconciler_test.go
  go.mod
Due: operator

[KOGITO-5632] - [1.10.x] - 'javax.net.ssl.trustStore' error with disable Endpoint Authentication
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/infinispan_reconciler_test.go
  go.mod
Due: operator

[1.9.x] Update snapshot version to 1.9.2-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

[KOGITO-5632] - [1.10.x] - 'javax.net.ssl.trustStore' error with disable Endpoint Authentication (#962)
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/infinispan_reconciler_test.go
  go.mod
Due: operator

Update project version to 1.10.0-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

Update project version to 1.10.0-snapshot (#964)
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

Setup QE production cluster for tests (#932) (#939)
  .jenkins/dsl/jobs.groovy
  .jenkins/scripts/helper.groovy
  Jenkinsfile.deploy
  Jenkinsfile.profiling
Due: none

Setup QE production cluster for tests (#932) (#939) (#965)
  .jenkins/dsl/jobs.groovy
  .jenkins/scripts/helper.groovy
  Jenkinsfile.deploy
  Jenkinsfile.profiling
Due: none

print makefile variable
  Makefile
Due: none

setup bdd test with events only
  test/features/deploy_kogito_runtime.feature
Due: none

update
  command
  core/infrastructure/kafka.go
  go.mod
  go.sum
  test/features/deploy_kogito_runtime.feature
  test/pkg/framework/kafka.go
Due: operator

implemented kafka retrieval
  command
  core/infrastructure/kafka.go
  go.mod
  go.sum
  test/features/deploy_kogito_runtime.feature
  test/pkg/framework/kafka.go
  test/pkg/steps/kafka.go
Due: operator

Path conditions:
  operator: any of: api/, controllers/, internal/, core/
  cli: any of: cmd/
