Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

[KOGITO-3784] - Update CustomResourceDefinition to apiextensions.k8s.io/v1 See: https://issues.redhat.com/browse/KOGITO-3784
  Makefile
  RELEASE_NOTES.md
  bundle/manifests/app.kiegroup.org_kogitobuilds.yaml
  bundle/manifests/app.kiegroup.org_kogitoinfras.yaml
  bundle/manifests/app.kiegroup.org_kogitoruntimes.yaml
  bundle/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  config/crd/bases/app.kiegroup.org_kogitobuilds.yaml
  config/crd/bases/app.kiegroup.org_kogitoinfras.yaml
  config/crd/bases/app.kiegroup.org_kogitoruntimes.yaml
  config/crd/bases/app.kiegroup.org_kogitosupportingservices.yaml
  kogito-operator.yaml
Due: none

[KOGITO-3784] - Update CustomResourceDefinition to apiextensions.k8s.io/v1 (#771)
  Makefile
  RELEASE_NOTES.md
  bundle/manifests/app.kiegroup.org_kogitobuilds.yaml
  bundle/manifests/app.kiegroup.org_kogitoinfras.yaml
  bundle/manifests/app.kiegroup.org_kogitoruntimes.yaml
  bundle/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  config/crd/bases/app.kiegroup.org_kogitobuilds.yaml
  config/crd/bases/app.kiegroup.org_kogitoinfras.yaml
  config/crd/bases/app.kiegroup.org_kogitoruntimes.yaml
  config/crd/bases/app.kiegroup.org_kogitosupportingservices.yaml
  kogito-operator.yaml
Due: none

KOGITO-4477 - Operator sees the Infinispan as not ready after it is restarted (#767)
  RELEASE_NOTES.md
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/infinispan_reconciler_test.go
Due: operator

[KOGITO-4529] - Throwing nil pointer dereference for Knative broker K… (#772)
  RELEASE_NOTES.md
  core/kogitoinfra/knative_reconciler.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
  core/test/kogitoinfra.go
Due: operator

[KOGITO-4546] - Create make olm-manifests target responsible for creating manifests in same pattern accepted by the OLM See: https://issues.redhat.com/browse/KOGITO-4546
  Makefile
  README.md
  hack/create-olm-manifests.sh
Due: none

fix grafana regex
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/dashboards_test.go
Due: none

[KOGITO-4553] Panic when even number of proto files are available in appplication
  controllers/runtime_deployer.go
Due: operator

[KOGITO-4546] - Create make olm-manifests target responsible for creating manifests in same pattern accepted by the OLM (#773)
  Makefile
  README.md
  hack/create-olm-manifests.sh
Due: none

[KOGITO-4546] - Create make olm-manifests target responsible for creating manifests in same pattern accepted by the OLM (#775)
  Makefile
  README.md
  hack/create-olm-manifests.sh
Due: none

Fix image reference in some examples and guide
  docs/GUIDE_TO_KOGITO_DEVS.md
  examples/quarkus-jvm.Dockerfile
  examples/springboot.Dockerfile
Due: none

Update project version to 1.3.0
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  pkg/version/version.go
Due: cli

Create Go module for product kogito operator
  .gitignore
  product-kogito-operator/Dockerfile
  product-kogito-operator/Makefile
  product-kogito-operator/PROJECT
  product-kogito-operator/config/certmanager/certificate.yaml
  product-kogito-operator/config/certmanager/kustomization.yaml
  product-kogito-operator/config/certmanager/kustomizeconfig.yaml
  product-kogito-operator/config/default/kustomization.yaml
  product-kogito-operator/config/default/manager_auth_proxy_patch.yaml
  product-kogito-operator/config/default/manager_webhook_patch.yaml
  product-kogito-operator/config/default/webhookcainjection_patch.yaml
  product-kogito-operator/config/manager/kustomization.yaml
  product-kogito-operator/config/manager/manager.yaml
  product-kogito-operator/config/prometheus/kustomization.yaml
  product-kogito-operator/config/prometheus/monitor.yaml
  product-kogito-operator/config/rbac/auth_proxy_client_clusterrole.yaml
  product-kogito-operator/config/rbac/auth_proxy_role.yaml
  product-kogito-operator/config/rbac/auth_proxy_role_binding.yaml
  product-kogito-operator/config/rbac/auth_proxy_service.yaml
  product-kogito-operator/config/rbac/kustomization.yaml
  product-kogito-operator/config/rbac/leader_election_role.yaml
  product-kogito-operator/config/rbac/leader_election_role_binding.yaml
  product-kogito-operator/config/rbac/role_binding.yaml
  product-kogito-operator/config/scorecard/bases/config.yaml
  product-kogito-operator/config/scorecard/kustomization.yaml
  product-kogito-operator/config/scorecard/patches/basic.config.yaml
  product-kogito-operator/config/scorecard/patches/olm.config.yaml
  product-kogito-operator/config/webhook/kustomization.yaml
  product-kogito-operator/config/webhook/kustomizeconfig.yaml
  product-kogito-operator/config/webhook/service.yaml
  product-kogito-operator/go.mod
  product-kogito-operator/go.sum
  product-kogito-operator/hack/boilerplate.go.txt
  product-kogito-operator/main.go
Due: none

Create KogitoRuntime API for product
  product-kogito-operator/PROJECT
  product-kogito-operator/api/v1/groupversion_info.go
  product-kogito-operator/api/v1/kogitoruntime_types.go
  product-kogito-operator/api/v1/zz_generated.deepcopy.go
  product-kogito-operator/config/crd/kustomization.yaml
  product-kogito-operator/config/crd/kustomizeconfig.yaml
  product-kogito-operator/config/crd/patches/cainjection_in_kogitoruntimes.yaml
  product-kogito-operator/config/crd/patches/webhook_in_kogitoruntimes.yaml
  product-kogito-operator/config/rbac/kogitoruntime_editor_role.yaml
  product-kogito-operator/config/rbac/kogitoruntime_viewer_role.yaml
  product-kogito-operator/config/samples/app_v1_kogitoruntime.yaml
  product-kogito-operator/config/samples/kustomization.yaml
  product-kogito-operator/controllers/kogitoruntime_controller.go
  product-kogito-operator/controllers/suite_test.go
  product-kogito-operator/go.mod
  product-kogito-operator/main.go
Due: none

Fix community operator module name
  community-kogito-operator/go.mod
Due: none

Import community operator module inside product operator module
  community-kogito-operator/api/v1beta1/zz_generated.openapi.go
  product-kogito-operator/api/v1/kogitoruntime_types.go
  product-kogito-operator/controllers/kogitoruntime_controller.go
  product-kogito-operator/controllers/suite_test.go
  product-kogito-operator/go.mod
  product-kogito-operator/go.sum
  product-kogito-operator/main.go
Due: none

sanitize dashboards name
  core/kogitoservice/dashboards.go
  core/kogitoservice/dashboards_test.go
Due: operator

put common thing at root dir
  .github/bot-files/comments.yml
  .github/bot-files/labels.yml
  .github/bot-files/reviewers.yml
  .github/pull_request_template.md
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/Kogito-Operator-Unit-tests.yaml
  .github/workflows/jenkins-tests-PR.yml
  .jenkins/dsl/jobs.groovy
  .jenkins/dsl/test.sh
  README.md
  product-kogito-operator/Dockerfile
  product-kogito-operator/api/v1/conditions.go
  product-kogito-operator/api/v1/kogitoruntime_types.go
  product-kogito-operator/api/v1/kogitoservices.go
  product-kogito-operator/api/v1/monitoring.go
  product-kogito-operator/api/v1/probe.go
  product-kogito-operator/api/v1/zz_generated.deepcopy.go
  product-kogito-operator/config/crd/bases/app.kiegroup.org_kogitoruntimes.yaml
  product-kogito-operator/config/rbac/role.yaml
  product-kogito-operator/controllers/kogitoruntime_controller.go
  product-kogito-operator/controllers/runtime_deployer.go
  product-kogito-operator/go.mod
  product-kogito-operator/go.sum
  product-kogito-operator/internal/kogitoruntime.go
  product-kogito-operator/main.go
  product-kogito-operator/meta/meta.go
Due: none

fix working dir issue in github actions
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  .github/workflows/Kogito-Operator-PR-Check.yaml
Due: none

fix Unit test github action path
  .github/pull_request_template.md
  .github/workflows/Kogito-Operator-Unit-tests.yaml
Due: none

sanitize dashboards name (#762)
  core/kogitoservice/dashboards.go
  core/kogitoservice/dashboards_test.go
Due: operator

fix grafana regex (#774)
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/dashboards_test.go
Due: none

Fix image reference in some examples and guide (#778)
  docs/GUIDE_TO_KOGITO_DEVS.md
  examples/quarkus-jvm.Dockerfile
  examples/springboot.Dockerfile
Due: none

Fix image reference in some examples and guide (#779)
  docs/GUIDE_TO_KOGITO_DEVS.md
  examples/quarkus-jvm.Dockerfile
  examples/springboot.Dockerfile
Due: none

[KOGITO-4553] Panic when even number of proto files are available in appplication (#776)
  controllers/runtime_deployer.go
Due: operator

Incorporate review comments
  README.md
Due: none

fix linting issue
  community-kogito-operator/controllers/runtime_deployer.go
  community-kogito-operator/core/kogitoservice/dashboards.go
  community-kogito-operator/core/kogitoservice/dashboards_test.go
Due: none

Debug Unit test failure reason
  .github/workflows/Kogito-Operator-Unit-tests.yaml
  community-kogito-operator/hack/go-test.sh
Due: none

fix Unit test failure
  .github/workflows/Kogito-Operator-Unit-tests.yaml
  community-kogito-operator/hack/go-test.sh
Due: none

fix Unit test failure
  community-kogito-operator/hack/go-test.sh
Due: none

Fix BDD test issue
  .github/workflows/Kogito-Operator-Unit-tests.yaml
  Jenkinsfile
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

Fix BDD test issue
  community-kogito-operator/Jenkinsfile
  community-kogito-operator/Jenkinsfile.deploy
  community-kogito-operator/Jenkinsfile.promote
Due: none

Fix BDD test issue
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .jenkins/dsl/jobs.groovy
Due: none

[KOGITO-4572] KogitoInfra doesn't detect running Infinispan instance
  core/kogitoinfra/infinispan_reconciler.go
Due: operator

[KOGITO-4583] Revert lint to version v1.37.1
  .github/workflows/Kogito-Operator-PR-Check.yaml
  hack/go-lint.sh
Due: none

Path conditions:
  operator: any of: api/, controllers/, internal/, core/
  cli: any of: cmd/
