Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

[KOGITO-3039] - update RELEASE_NOTES.md
  RELEASE_NOTES.md
Due: none

[KOGITO-3420] Adjust PR check tests to execute only operator core functionality
  Jenkinsfile
  test/features/deploy_kogito_build.feature
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_service_resources.feature
  test/features/deploy_source_files.feature
  test/features/deploy_travel_agency.feature
  test/features/install_dataindex.feature
  test/features/install_explainability.feature
  test/features/install_jobs_service.feature
  test/features/install_kogitoinfra.feature
  test/features/install_mgmtconsole.feature
  test/features/install_trusty.feature
  test/features/install_trustyui.feature
  test/features/keycloak.feature
  test/features/kogito_service_performance.feature
  test/features/olm/cli_install_operator.feature
  test/features/olm/cli_new_project.feature
  test/features/olm/cli_use_project.feature
  test/features/prometheus.feature
  test/features/service_discovery.feature
  test/features/update_httpport.feature
Due: none

[KOGITO-3420] Adjust PR check tests to execute only operator core functionality (#587)
  Jenkinsfile
  test/features/deploy_kogito_build.feature
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_service_resources.feature
  test/features/deploy_source_files.feature
  test/features/deploy_travel_agency.feature
  test/features/install_dataindex.feature
  test/features/install_explainability.feature
  test/features/install_jobs_service.feature
  test/features/install_kogitoinfra.feature
  test/features/install_mgmtconsole.feature
  test/features/install_trusty.feature
  test/features/install_trustyui.feature
  test/features/keycloak.feature
  test/features/kogito_service_performance.feature
  test/features/olm/cli_install_operator.feature
  test/features/olm/cli_new_project.feature
  test/features/olm/cli_use_project.feature
  test/features/prometheus.feature
  test/features/service_discovery.feature
  test/features/update_httpport.feature
Due: none

Change internal variable name
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/install/data_index.go
  cmd/kogito/command/install/explainability.go
  cmd/kogito/command/install/jobs_service.go
  cmd/kogito/command/install/mgmt_console.go
  cmd/kogito/command/install/trusty.go
  cmd/kogito/command/install/trusty_ui.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/runtime_service.go
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitobuild_types.go
  pkg/apis/app/v1alpha1/kogitoservices_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/kogitobuild/build/build_config.go
  test/framework/kogitobuild.go
  test/framework/mappers/cr_to_cli.go
Due: operator, cli

[KOGITO-3418] - Update envs field in kogito CRDs to match with native k8s objects See: https://issues.redhat.com/browse/KOGITO-3418 Signed-off-by: Tarun Khandelwal <tarkhand@redhat.com>
  deploy/crds/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/crds/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/crds/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/crds/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/crds/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/crds/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/crds/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  examples/example-custom-build-images.yaml
  examples/kubernetes/travel-agency/kogito-travels.yaml
  examples/kubernetes/travel-agency/kogito-visas.yaml
  examples/kubernetes/travel-agency/management-console.yaml
  examples/onboarding-example.yaml
  examples/process-quarkus-example-persistence.yaml
  examples/process-quarkus-example.yaml
  examples/springboot.yaml
  pkg/apis/app/v1alpha1/kogitobuild_types.go
  pkg/apis/app/v1alpha1/kogitoservices_types.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
Due: operator

[KOGITO-3039] - Incorporate review comments
  deploy/crds/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/kogitoinfra/infinispan/manage_status.go
  pkg/controller/kogitoinfra/kafka/manage_status.go
  pkg/controller/kogitoinfra/kogitoinfra_service.go
  pkg/test/kogitoinfra.go
Due: operator

[KOGITO-3039] - create constants to refer APIVersion and Kind
  cmd/kogito/command/flag/infraresource_flag.go
  cmd/kogito/command/install/kogito_infra_test.go
  pkg/controller/kogitoinfra/infinispan/infinispan_reconciler.go
  pkg/controller/kogitoinfra/kafka/kafka_reconciler.go
  pkg/controller/kogitoinfra/keycloak/keyclock_reconciler.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
  pkg/controller/kogitoinfra/kogitoinfra_service.go
Due: operator, cli

[KOGITO-3039] - Set instance namespace as default if user only provide referred resource name
  pkg/controller/kogitoinfra/infinispan/infinispan_reconciler.go
  pkg/controller/kogitoinfra/kafka/kafka_reconciler.go
  pkg/controller/kogitoinfra/keycloak/keyclock_reconciler.go
Due: operator

[KOGITO-3039] - Fix Infinispan API version
  deploy/crds/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoinfras_crd.yaml
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
  pkg/controller/kogitoinfra/infinispan/infinispan_reconciler.go
Due: operator

[KOGITO-3039] - Create Kafka-topics if not exists
  pkg/apis/kafka/v1beta1/kafkatopic_types.go
  pkg/controller/kogitoinfra/kogitoinfra_service.go
  pkg/infrastructure/kafka.go
  pkg/infrastructure/services/kafka.go
  pkg/infrastructure/services/kafka_test.go
  pkg/infrastructure/services/resources.go
Due: operator

[KOGITO-3039] - Fix header issue
  pkg/infrastructure/services/kafka_test.go
Due: operator

[KOGITO-3039] - remove kafka prop mp.messaging.%s.%s.bootstrap.servers
  pkg/controller/kogitodataindex/kogitodataindex_controller.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller.go
  pkg/controller/kogitojobsservice/kogitojobsservice_controller.go
  pkg/controller/kogitotrusty/kogitotrusty_controller.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/kafka.go
  pkg/infrastructure/services/kafka_test.go
  pkg/infrastructure/services/resources.go
Due: operator

[KOGITO-3039] - Incorporate review comments
  pkg/infrastructure/services/deployer_test.go
  test/steps/data.go
  test/steps/kogitodataindex.go
  test/steps/kogitoinfra.go
Due: operator

[KOGITO-3039] - Incorporate review comments
  cmd/kogito/command/remove/delete_kogitoinfra_test.go
  cmd/kogito/command/shared/resource_checks.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitoinfra/kogitoinfra_service.go
  pkg/infrastructure/kogito_infra.go
  pkg/infrastructure/services/resources.go
Due: operator, cli

KOGITO-3127 Set the `replaces` correctly in csv
  hack/bump-version.sh
Due: none

[KOGITO-3475] Periodic reconciler error when KogitoInfra is deleted
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
Due: operator

[KOGITO-3474] Tests: Update BDD tests to reflect KogitoInfra changes
  pkg/apis/app/v1alpha1/kogitoservices_types.go
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_travel_agency.feature
  test/features/install_dataindex.feature
  test/features/install_explainability.feature
  test/features/install_jobs_service.feature
  test/features/install_kogitoinfra.feature
  test/features/install_mgmtconsole.feature
  test/features/install_trusty.feature
  test/features/keycloak.feature
  test/features/kogito_service_performance.feature
  test/features/update_httpport.feature
  test/framework/kogitoinfra.go
  test/framework/mappers/cr_to_cli.go
  test/steps/data.go
  test/steps/infinispan.go
  test/steps/kafka.go
  test/steps/kogitodataindex.go
  test/steps/kogitoexplainability.go
  test/steps/kogitoinfra.go
  test/steps/kogitojobsservice.go
  test/steps/kogitomgmtconsole.go
  test/steps/kogitoruntime.go
  test/steps/kogitotrusty.go
  test/steps/mappers/create_kogito_service.go
  test/types/holder.go
Due: operator

[KOGITO-3475] Periodic reconciler error when KogitoInfra is deleted (#590)
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
Due: operator

[KOGITO-3474] Tests: Update BDD tests to reflect KogitoInfra changes (#589)
  pkg/apis/app/v1alpha1/kogitoservices_types.go
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_travel_agency.feature
  test/features/install_dataindex.feature
  test/features/install_explainability.feature
  test/features/install_jobs_service.feature
  test/features/install_kogitoinfra.feature
  test/features/install_mgmtconsole.feature
  test/features/install_trusty.feature
  test/features/keycloak.feature
  test/features/kogito_service_performance.feature
  test/features/update_httpport.feature
  test/framework/kogitoinfra.go
  test/framework/mappers/cr_to_cli.go
  test/steps/data.go
  test/steps/infinispan.go
  test/steps/kafka.go
  test/steps/kogitodataindex.go
  test/steps/kogitoexplainability.go
  test/steps/kogitoinfra.go
  test/steps/kogitojobsservice.go
  test/steps/kogitomgmtconsole.go
  test/steps/kogitoruntime.go
  test/steps/kogitotrusty.go
  test/steps/mappers/create_kogito_service.go
  test/types/holder.go
Due: operator

Added bats test
  .github/workflows/Kogito-Operator-PR-Check.yaml
  hack/bump-version.sh
  hack/bump-version.sh.bats
Due: none

GH bats test removed cache deps step
  .github/workflows/Kogito-Operator-PR-Check.yaml
Due: none

[KOGITO-3433] - Update Graalvm version to 20.2.0
  RELEASE_NOTES.md
Due: none

[KOGITO-3375] - Incorporate review comments
  pkg/infrastructure/kogito_service.go
Due: operator

[KOGITO-3502] - Sasl mechanism no longer set by Kogito operator
  pkg/controller/kogitoinfra/infinispan/infinispan_properties.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
Due: operator

[KOGITO-3502] - Modify Example to use kogito-infra
  examples/data-index.yaml
  examples/explainability.yaml
  examples/jobs-service.yaml
  examples/process-quarkus-example-persistence.yaml
  examples/travelapp-kogito-travel-agency.yaml
  examples/travelapp-kogito-visas.yaml
  examples/trusty.yaml
Due: none

[KOGITO-3127] Set the `replaces` correctly in csv (#588)
  .github/workflows/Kogito-Operator-PR-Check.yaml
  hack/bump-version.sh
  hack/bump-version.sh.bats
Due: none

[KOGITO-3502] - Incorporate review comment
  pkg/controller/kogitoinfra/infinispan/infinispan_properties.go
Due: operator

[KOGITO-3433] - Update Graalvm version to 20.2.0 (#592)
  RELEASE_NOTES.md
Due: none

KOGITO-3514 BDD: switch to docker container engine
  Jenkinsfile.deploy
Due: none

KOGITO-3514 BDD: switch to docker container engine (#594)
  Jenkinsfile.deploy
Due: none

[KOGITO-3502] - Sasl mechanism no longer set by Kogito operator (#593)
  examples/data-index.yaml
  examples/explainability.yaml
  examples/jobs-service.yaml
  examples/process-quarkus-example-persistence.yaml
  examples/travelapp-kogito-travel-agency.yaml
  examples/travelapp-kogito-visas.yaml
  examples/trusty.yaml
  pkg/controller/kogitoinfra/infinispan/infinispan_properties.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
Due: operator

[KOGITO-3375] - Incorporate review comments
  pkg/client/client.go
  pkg/client/client_builder.go
  pkg/infrastructure/services/deployment.go
  pkg/infrastructure/services/prometheus.go
  pkg/test/client.go
  pkg/test/fake_http.go
Due: operator

KOGITO-3280: Cucumber Tests: Add test for management-console with Keycloak
  test/features/keycloak.feature
Due: none

KOGITO-3510 Set creds as params
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

[KOGITO-3516] Services now listen to default HTTP port
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/kogitodataindex/kogitodataindex_controller_test.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller_test.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
  pkg/controller/kogitotrusty/kogitotrusty_controller_test.go
  pkg/framework/containers.go
  pkg/infrastructure/services/route.go
Due: operator

fixing openapi gen
  hack/go-vet.sh
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
Due: operator

[KOGITO-3543] - Wrong environment values for Kogito Services after reconcile cycles
  pkg/infrastructure/services/deployment.go
Due: operator
