Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

Update README.md
  README.md
Due: none

Update README.md (#757)
  README.md
Due: none

Incorporate review comments
  Dockerfile
  api/kogitobuild_types.go
  api/kogitoinfra_types.go
  api/kogitoruntime_types.go
  api/kogitosupportingservice_types.go
  controllers/runtime_deployer.go
  core/client/client.go
  core/connector/protobuf.go
  core/connector/url_handler.go
  core/connector/url_handler_test.go
  core/kogitoservice/deployer.go
  core/kogitoservice/finalizer.go
  core/kogitoservice/messaging.go
  core/kogitosupportingservice/supportingservice_reconciler.go
  core/manager/infra_manager.go
  core/manager/runtime_manager.go
  core/manager/supportingservice_manager.go
  internal/kogitobuild.go
  internal/kogitoinfra.go
  internal/kogitoruntime.go
  internal/kogitosupportingservice.go
  main.go
Due: operator

Incorporate review comments
  controllers/runtime_deployer.go
  core/connector/protobuf.go
  core/connector/url_handler.go
  core/connector/url_handler_test.go
  core/kogitoservice/deployer.go
  core/kogitoservice/finalizer.go
  core/kogitoservice/messaging.go
  core/kogitosupportingservice/supportingservice_reconciler.go
  core/manager/build_manager.go
  core/manager/infra_manager.go
  core/manager/infra_manager_test.go
  core/manager/runtime_manager.go
  core/manager/supportingservice_manager.go
  core/manager/supportingservice_manager_test.go
  internal/kogitobuild.go
  internal/kogitoinfra.go
  internal/kogitoruntime.go
  internal/kogitosupportingservice.go
Due: operator

Use docker for OLM test in nightly pipeline
  Jenkinsfile.deploy
Due: none

Use docker for OLM test in nightly pipeline (#761)
  Jenkinsfile.deploy
Due: none

fix code coverage issue
  .github/workflows/Kogito-Operator-Unit-tests.yaml
  hack/go-test.sh
Due: none

sanitize dashboard name
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/dashboards_test.go
Due: none

update release notes
  RELEASE_NOTES.md
Due: none

Update version to 1.3.0-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  pkg/version/version.go
  test/.default_config
Due: cli

Revert "Update version to 1.3.0-snapshot"
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  pkg/version/version.go
  test/.default_config
Due: cli

Incorporate review comments
  RELEASE_NOTES.md
  controllers/kogitobuild_controller.go
Due: operator

[KOGITO-2947] - Upgrade Operator manifests to the new bundle format See: https://issues.redhat.com/browse/KOGITO-2947
  Makefile
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
  hack/ci/operator-ensure-manifests.sh
Due: none

[KOGITO-2947] - Upgrade Operator manifests to the new bundle format (#765)
  Makefile
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
  hack/ci/operator-ensure-manifests.sh
Due: none

[KOGITO-2947] - Upgrade Operator manifests to the new bundle format (#766)
  Makefile
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
  hack/ci/operator-ensure-manifests.sh
Due: none

Incorporate review comments
  api/conditions.go
  api/kogitobuild_types.go
  api/kogitoinfra_types.go
  api/kogitoservices_types.go
  api/v1beta1/conditions.go
  api/v1beta1/kogitobuild_types.go
  api/v1beta1/kogitobuild_types_test.go
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/kogitoservices.go
  api/v1beta1/webhook.go
  api/webhook.go
  core/client/client.go
  core/client/client_builder.go
  core/kogitobuild/status.go
  core/kogitobuild/status_test.go
  test/framework/kubernetes.go
Due: operator

Incorporate review comments
  core/kogitobuild/build_config.go
Due: operator

Fix KogitoInfra status issue
  api/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/infinispan_reconciler_test.go
  core/kogitoinfra/status.go
  core/test/kogitoinfra.go
  kogito-operator.yaml
Due: operator

Update version to 1.3.0-snapshot (#764)
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  pkg/version/version.go
  test/.default_config
Due: cli

Fix linting issue
  api/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/kafka_reconciler.go
  core/kogitoinfra/mongodb_reconciler.go
  core/kogitoinfra/status.go
  core/test/kogitoinfra.go
  kogito-operator.yaml
Due: operator

Incorporate review comments
  api/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types_test.go
  core/kogitoinfra/infinispan_reconciler.go
Due: operator

KOGITO-4517 - Update code base and documentation after proto files generation refactoring
  examples/quarkus-jvm.Dockerfile
  examples/springboot.Dockerfile
  test/framework/dockerfile_provider.go
Due: none

[KOGITO-4521] - Add `kogito-variables-events` as hard coded topic list in operator which need to be created while installing data-index service
  controllers/kogitodataindex_reconciler.go
Due: operator

Update Release note
  RELEASE_NOTES.md
Due: none

[KOGITO-4521] - Add `kogito-variables-events` as hard coded topic list in operator which need to be created while installing data-index service
  RELEASE_NOTES.md
  controllers/kogitodataindex_reconciler.go
Due: operator

Add go.tools.mod and go.tools.sum into ignore file list for PR checks
  .github/workflows/Kogito-Operator-PR-Check.yaml
Due: none

[1.3.x][KOGITO-4521] - Add `kogito-variables-events` as hard coded topic lis… (#770)
  .github/workflows/Kogito-Operator-PR-Check.yaml
  RELEASE_NOTES.md
  controllers/kogitodataindex_reconciler.go
Due: operator

KOGITO-4517 - Update code base and documentation after proto files generation refactoring (#768)
  examples/quarkus-jvm.Dockerfile
  examples/springboot.Dockerfile
  test/framework/dockerfile_provider.go
Due: none

[1.3.x] KOGITO-4444 - Sanitize dashboard name (#763)
  RELEASE_NOTES.md
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/dashboards_test.go
Due: none

[KOGITO-4529] - Throwing nil pointer dereference for Knative broker KogitoInfra
  core/kogitoinfra/knative_reconciler.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
  core/test/kogitoinfra.go
Due: operator

update release note
  RELEASE_NOTES.md
Due: none

[KOGITO-4521] - Add `kogito-variables-events` as hard coded topic lis… (#769)
  .github/workflows/Kogito-Operator-PR-Check.yaml
  RELEASE_NOTES.md
  core/kogitosupportingservice/dataindex_reconciler.go
Due: operator

KOGITO-4477 - Operator sees the Infinispan as not ready after it is restarted
  RELEASE_NOTES.md
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/infinispan_reconciler_test.go
Due: operator

Path conditions:
  operator: any of: api/, controllers/, internal/, core/
  cli: any of: cmd/
