Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

Update test/features/install_trustyui.feature
  test/features/install_trustyui.feature
Due: none

[KOGITO-3311] Tests: Update tests to reflect task endpoint change
  test/framework/task.go
  test/steps/task.go
Due: none

Update test/features/install_explainability.feature
  test/features/install_explainability.feature
Due: none

KOGITO-1001: Add test for Jobs-service with Keycloak (#536)
  README.md
  test/features/install_jobs_service.feature
  test/framework/http.go
  test/framework/keycloak.go
  test/steps/data.go
  test/steps/http.go
  test/steps/keycloak.go
Due: none

KOGITO-999: Cucumber Tests: Add test with Data-index and Keycloak
  test/features/install_dataindex.feature
  test/framework/graphql.go
  test/steps/graphql.go
Due: none

[KOGITO-3304] - Relaxing regexp to match docker images with IPs and domain without period
  cmd/kogito/command/converter/image_converter_test.go
  cmd/kogito/command/deploy/deploy_service_test.go
  pkg/framework/image.go
  pkg/framework/image_test.go
Due: operator, cli

Copy manifests version 0.14.0 to master (#530)
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/kogito-operator.v0.14.0.clusterserviceversion.yaml
Due: none

run tests
  .github/workflows/Kogito-Operator-PR-Check.yaml
  hack/ci/kind-with-registry-and-ingress.sh
  hack/ci/localhost-wildcard-ubuntu-configuration.sh
  hack/ci/run-tests-kind.sh
  hack/go-build-cli.sh
  test/features/deploy_kogito_build.feature
  test/features/deploy_source_files.feature
Due: none

KOGITO-3064 - Migrate kogito-cloud-operator PR check to GH actions using KIND
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/Kogito-Operator-Unit-tests.yaml
  hack/ci/build-image-examples-kind.sh
  hack/ci/config-map-patch.yaml
  hack/ci/kind-with-registry-and-ingress.sh
Due: none

Update kogitoexplainability.go
  test/steps/kogitoexplainability.go
Due: none

Update kogitotrusty_ui_controller.go
  pkg/controller/kogitotrustyui/kogitotrusty_ui_controller.go
Due: operator

[KOGITO-3323] Tests: Update scenario description to be unique for every run
  test/features/deploy_travel_agency.feature
  test/features/update_httpport.feature
Due: none

Update cr_to_cli.go
  test/framework/mappers/cr_to_cli.go
Due: none

Update deployer.go
  pkg/controller/kogitoruntime/deployer.go
Due: operator

Update install_explainability.feature
  test/features/install_explainability.feature
Due: none

Update create_kogito_service.go
  test/steps/mappers/create_kogito_service.go
Due: none

make test
  pkg/controller/kogitoruntime/deployer.go
Due: operator

[KOGITO-3304] - Relaxing regexp to match docker images with IPs and domain without period (#553)
  cmd/kogito/command/converter/image_converter_test.go
  cmd/kogito/command/deploy/deploy_service_test.go
  pkg/framework/image.go
  pkg/framework/image_test.go
Due: operator, cli

[KOGITO-3311] Tests: Update tests to reflect task endpoint change (#551)
  test/framework/task.go
  test/steps/task.go
Due: none

[KOGITO-2997] BDD: Maven native build in container (#522)
  Jenkinsfile.deploy
  Makefile
  README.md
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/framework/maven.go
Due: none

KOGITO-999: Cucumber Tests: Add test with Data-index and Keycloak (#548)
  test/features/install_dataindex.feature
  test/framework/graphql.go
  test/steps/graphql.go
Due: none

[KOGITO-3296] - Upgrading Infinispan CRD and fixing custom credentials bug
  go.mod
  go.sum
  pkg/controller/kogitoinfra/infinispan/comparator.go
  pkg/controller/kogitoinfra/infinispan/infinispan_credentials.go
  pkg/controller/kogitoinfra/infinispan/infinispan_credentials_test.go
  pkg/controller/kogitoinfra/infinispan/operator.go
  pkg/controller/kogitoinfra/infinispan/resource.go
  pkg/controller/kogitoinfra/infinispan/resource_test.go
  pkg/infrastructure/infinispan.go
  pkg/infrastructure/services/infinispan.go
  test/framework/container_engine.go
  test/framework/infinispan.go
  test/framework/mappers/cr_to_cli.go
Due: operator

revert deployer changes
  pkg/controller/kogitoruntime/deployer.go
Due: operator

Update install_trusty.feature
  test/features/install_trusty.feature
Due: none

fix response content explainability
  test/steps/kogitoexplainability.go
Due: none

[KOGITO-3323] Tests: Update scenario description to be unique for every run (#554)
  test/features/deploy_travel_agency.feature
  test/features/update_httpport.feature
Due: none

Applied peer review changes (secret/comparator)
  pkg/controller/kogitoinfra/infinispan/comparator.go
  pkg/controller/kogitoinfra/infinispan/resource.go
Due: operator

cherry pick explainability pr
  Makefile
  cmd/kogito/command/install/explainability.go
  cmd/kogito/command/install/explainability_test.go
  cmd/kogito/command/install/factory.go
  cmd/kogito/command/message/explainability.go
  cmd/kogito/command/remove/runtime_services.go
  cmd/kogito/command/shared/install_operator_test.go
  cmd/kogito/command/shared/install_services.go
  deploy/crds/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/crds/app.kiegroup.org_v1alpha1_kogitoexplainability_cr.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  examples/explainability.yaml
  hack/run-tests.sh
  hack/run-tests.sh.bats
  pkg/apis/app/v1alpha1/kogitoexplainability_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/add_kogitoexplainability.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller_test.go
  pkg/controller/kogitoruntime/deployer.go
  pkg/infrastructure/explainability.go
  test/config/config.go
  test/features/install_explainability.feature
  test/framework/kogitoexplainability.go
  test/steps/data.go
  test/steps/kogitoexplainability.go
Due: operator, cli

disable test
  test/features/install_trusty.feature
Due: none

KOGITO-3176 - disable standalone trusty test due to kafka change (#558)
  test/features/install_trusty.feature
Due: none

[KOGITO-3335] Tests: Split current tests to operator and integration
  Jenkinsfile
  test/features/install_dataindex.feature
  test/features/integration/deploy_travel_agency.feature
  test/features/integration/keycloak.feature
  test/features/integration/service_discovery.feature
  test/features/operator/deploy_kogito_build.feature
  test/features/operator/deploy_kogito_runtime.feature
  test/features/operator/deploy_service_resources.feature
  test/features/operator/deploy_source_files.feature
  test/features/operator/install_dataindex.feature
  test/features/operator/install_jobs_service.feature
  test/features/operator/install_kogitoinfra.feature
  test/features/operator/install_mgmtconsole.feature
  test/features/operator/install_trusty.feature
  test/features/operator/kogito_service_performance.feature
  test/features/operator/olm/cli_install_operator.feature
  test/features/operator/olm/cli_new_project.feature
  test/features/operator/olm/cli_use_project.feature
  test/features/operator/prometheus.feature
  test/features/operator/update_httpport.feature
Due: none
