Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

KOGITO-6294 : ProtoBuf ConfigMap should be created on instantiation of KogitoRuntime (#1073)
  controllers/common/runtime_controller.go
  core/kogitosupportingservice/dataindex_reconciler.go
  core/shared/protobuf.go
  core/shared/protobuf_configmap.go
  core/shared/protobuf_configmap_reconciler.go
Due: operator

KOGITO-6125 (#1055)
  README.md
Due: none

Update metric endpoint in kogito-operator
  apis/monitoring.go
  core/kogitoservice/prometheus.go
  core/kogitoservice/prometheus_test.go
Due: operator

Fix usage of old varaible
  RELEASE_NOTES.md
  cmd/kogito/command/flag/monitoring_flag.go
Due: cli

BAPL-1990 conscious language
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/mongodb_reconciler.go
  docs/GUIDE_FOR_KOGITO_DEVS.md
  examples/app/data-index.yaml
  examples/app/jobs-service-infinispan.yaml
  examples/app/kogitoinfra-infinispan.yaml
  examples/app/kubernetes/travel-agency/data-index.yaml
  examples/app/process-quarkus-example-persistence-nobuild.yaml
  examples/app/process-quarkus-example-persistence.yaml
  examples/app/travelapp-kogito-travel-agency.yaml
  examples/app/travelapp-kogito-visas.yaml
  examples/app/trusty.yaml
Due: operator

Update go.mod
  go.mod
  go.sum
Due: none

BAPL-1990 conscious language
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/mongodb_reconciler.go
  docs/GUIDE_FOR_KOGITO_DEVS.md
  examples/data-index.yaml
  examples/jobs-service-infinispan.yaml
  examples/kogitoinfra-infinispan.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  examples/process-quarkus-example-persistence-nobuild.yaml
  examples/process-quarkus-example-persistence.yaml
  examples/travelapp-kogito-travel-agency.yaml
  examples/travelapp-kogito-visas.yaml
  examples/trusty.yaml
Due: operator

test commit
  go.mod
Due: none

updated go.mod
  go.mod
  go.sum
  go.tools.mod
  go.tools.sum
Due: none

updated go.mod
  go.mod
  go.sum
Due: none

BAPL-1990 conscious language (#1084)
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/mongodb_reconciler.go
  docs/GUIDE_FOR_KOGITO_DEVS.md
  examples/data-index.yaml
  examples/jobs-service-infinispan.yaml
  examples/kogitoinfra-infinispan.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  examples/process-quarkus-example-persistence-nobuild.yaml
  examples/process-quarkus-example-persistence.yaml
  examples/travelapp-kogito-travel-agency.yaml
  examples/travelapp-kogito-visas.yaml
  examples/trusty.yaml
Due: operator

BAPL-1990 conscious language (#1082)
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/mongodb_reconciler.go
  docs/GUIDE_FOR_KOGITO_DEVS.md
  examples/app/data-index.yaml
  examples/app/jobs-service-infinispan.yaml
  examples/app/kogitoinfra-infinispan.yaml
  examples/app/kubernetes/travel-agency/data-index.yaml
  examples/app/process-quarkus-example-persistence-nobuild.yaml
  examples/app/process-quarkus-example-persistence.yaml
  examples/app/travelapp-kogito-travel-agency.yaml
  examples/app/travelapp-kogito-visas.yaml
  examples/app/trusty.yaml
Due: operator

[KOGITO-6293] Update metric endpoint in kogito-operator (#1081)
  RELEASE_NOTES.md
  apis/monitoring.go
  cmd/kogito/command/flag/monitoring_flag.go
  core/kogitoservice/prometheus.go
  core/kogitoservice/prometheus_test.go
  go.mod
  go.sum
Due: operator, cli

[1.14.x] updated go.mod (#1085)
  go.mod
  go.sum
  go.tools.mod
  go.tools.sum
Due: none

Update project version to 1.14.0
  Makefile
  README.md
  bundle/app/manifests/kogito-operator.clusterserviceversion.yaml
  config/manager/app/kustomization.yaml
  config/manifests/app/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/app/version.go
Due: none

[1.14.x] Update snapshot version to 1.14.1-snapshot
  Makefile
  README.md
  bundle/app/manifests/kogito-operator.clusterserviceversion.yaml
  config/manager/app/kustomization.yaml
  config/manifests/app/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/app/version.go
Due: none

BDD: Enable back from jobs service
  test/features/deploy_kogito_runtime.feature
Due: none

Update RELEASE_NOTES.md
  RELEASE_NOTES.md
Due: none

[KOGITO-6414] Operator fails reconciliation when specific KafkaTopic exists
  RELEASE_NOTES.md
  core/infrastructure/kafka/v1beta2/kafkatopic_types.go
  core/infrastructure/kafka/v1beta2/zz_generated.deepcopy.go
  go.tools.mod
  go.tools.sum
Due: operator

Ignore CLI build
  .ci/jenkins/Jenkinsfile.deploy
  .ci/jenkins/Jenkinsfile.profiling
Due: none

Update RELEASE_NOTES.md (#1091)
  RELEASE_NOTES.md
Due: none

Update RELEASE_NOTES.md (#1092)
  RELEASE_NOTES.md
Due: none

Ignore CLI build (#1094)
  .ci/jenkins/Jenkinsfile.deploy
  .ci/jenkins/Jenkinsfile.profiling
Due: none

[KOGITO-6414] Operator fails reconciliation when specific KafkaTopic exists (#1093)
  RELEASE_NOTES.md
  core/infrastructure/kafka/v1beta2/kafkatopic_types.go
  core/infrastructure/kafka/v1beta2/zz_generated.deepcopy.go
  go.tools.mod
  go.tools.sum
Due: operator

[KOGITO-6414] Operator fails reconciliation when specific KafkaTopic exists (#1095)
  RELEASE_NOTES.md
  core/infrastructure/kafka/v1beta2/kafkatopic_types.go
  core/infrastructure/kafka/v1beta2/zz_generated.deepcopy.go
  go.tools.mod
  go.tools.sum
Due: operator

BXMSPROD-1577 Improved result message for nightlies
  .ci/jenkins/Jenkinsfile.deploy
  .ci/jenkins/Jenkinsfile.examples-images.deploy
  .ci/jenkins/Jenkinsfile.examples-images.promote
  .ci/jenkins/Jenkinsfile.profiling
  .ci/jenkins/Jenkinsfile.promote
Due: none

KOGITO-6362 Update Maven calls to be more reliable
  test/pkg/framework/maven.go
Due: none

BXMSPROD-1577 Improved result message for nightlies (#1097)
  .ci/jenkins/Jenkinsfile.deploy
  .ci/jenkins/Jenkinsfile.examples-images.deploy
  .ci/jenkins/Jenkinsfile.examples-images.promote
  .ci/jenkins/Jenkinsfile.profiling
  .ci/jenkins/Jenkinsfile.promote
Due: none

updated
  go.mod
  go.sum
  hack/go-build-cli.sh
Due: none

KOGITO-6362 Update Maven calls to be more reliable (#1096)
  go.mod
  go.sum
  hack/go-build-cli.sh
  test/pkg/framework/maven.go
Due: none

updated go mod
  go.mod
  go.sum
Due: none

Send test error logs to Zulip
  .ci/jenkins/Jenkinsfile.deploy
  .ci/jenkins/Jenkinsfile.examples-images.deploy
  .ci/jenkins/Jenkinsfile.profiling
Due: none

BXMSPROD-1577 Improved result message for nightlies (#1097) (#1099)
  .ci/jenkins/Jenkinsfile.deploy
  .ci/jenkins/Jenkinsfile.examples-images.deploy
  .ci/jenkins/Jenkinsfile.examples-images.promote
  .ci/jenkins/Jenkinsfile.profiling
  .ci/jenkins/Jenkinsfile.promote
Due: none

Path conditions:
  operator: any of: api/, controllers/, internal/, core/
  cli: any of: cmd/
