Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

[KOGITO-2917] Update contributors' guide link in PR template (#481)
  .github/pull_request_template.md
Due: none

olm installation alternative
  docs/GUIDE_TO_KOGITO_DEVS.md
Due: none

[KOGITO-1925] CLI: force native build to use s2i
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/flag/build_flag.go
Due: cli

remove wrong cards, update test
  cmd/kogito/command/shared/install_operator_test.go
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitotrusty_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrusty_crd.yaml
  test/features/install_trusty.feature
Due: cli

[KOGITO-1998] - Incorporate review comments
  cmd/kogito/command/converter/runtimetype_converter_test.go
  cmd/kogito/command/flag/runtimetype_flag.go
  pkg/apis/app/v1alpha1/kogitobuild_types.go
  pkg/controller/kogitobuild/build/image_stream_kogito.go
  pkg/controller/kogitobuild/build/image_stream_kogito_test.go
  pkg/controller/kogitoruntime/kogitoruntime_controller_test.go
  pkg/infrastructure/data_index.go
  pkg/infrastructure/service_endpoint.go
  pkg/infrastructure/services/infinispan.go
  pkg/infrastructure/services/infinispan_test.go
  pkg/infrastructure/services/resources.go
  pkg/infrastructure/services/service_endpoint_test.go
Due: operator, cli

Fix bump-version script and test config files
  hack/bump-version.sh
  test/.default_config
Due: none

Fix timer in conditions test
  pkg/apis/app/v1alpha1/conditions_test.go
Due: operator

Renaming version to use snapshot suffix
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  deploy/operator.yaml
  version/version.go
Due: cli

[KOGITO-2768] - Fix master to 1.0.0-rc1 version
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/1.0.0-rc1/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-rc1/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-rc1/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-rc1/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-rc1/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-rc1/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-rc1/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-rc1/kogito-operator.v1.0.0-rc1.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  hack/ci/operator-olm-test.sh
  test/.default_config
  version/version.go
Due: cli

[KOGITO-1998] - fix build issur
  pkg/infrastructure/services/service_endpoint_test.go
Due: operator

[KOGITO-2768] - Fix master to 1.0.0-snapshot version (#484)
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  hack/bump-version.sh
  hack/ci/operator-olm-test.sh
  pkg/apis/app/v1alpha1/conditions_test.go
  version/version.go
Due: operator, cli

[KOGITO-1925] CLI: force native build to use s2i (#485)
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/flag/build_flag.go
Due: cli

[KOGITO-2934] - Add kie-github-ci-bot to kogito-cloud-operator repository
  .github/bot-files/comments.yml
  .github/bot-files/labels.yml
  .github/bot-files/paths.yml
  .github/bot-files/reviewers.yml
Due: none

update test
  go.mod
  go.sum
  test/features/install_trusty.feature
Due: none

[KOGITO-2940] Tests: Fix missing request body in HTTP request step
  test/steps/http.go
Due: none

rebase
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
Due: none

markdown added in labels
  .github/bot-files/labels.yml
Due: none

changed comment
  .github/bot-files/comments.yml
Due: none

rollback 0.13
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
Due: none

add newline
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
Due: none

fix
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
Due: none

final revert
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
Due: none

retrigger build
  README.md
Due: none

[KOGITO-1998] - update crd files
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
Due: none

ci trigger phase corrected
  .github/bot-files/comments.yml
Due: none

KOGITO-2771: Cucumber Tests: Cover Webhooks in KogitoBuild
  test/features/deploy_kogito_build.feature
  test/framework/kogitobuild.go
  test/framework/mappers/cr_to_cli.go
  test/framework/openshift.go
  test/steps/mappers/create_kogito_build.go
  test/steps/openshift.go
Due: none

KOGITO-2771: Cucumber Tests: Cover Webhooks in KogitoBuild (#486)
  test/features/deploy_kogito_build.feature
  test/framework/kogitobuild.go
  test/framework/mappers/cr_to_cli.go
  test/framework/openshift.go
  test/steps/mappers/create_kogito_build.go
  test/steps/openshift.go
Due: none

update trusty kafka topic
  pkg/controller/kogitotrusty/kogitotrusty_controller.go
Due: operator

[KOGITO-2934] - Add kie-github-ci-bot to kogito-cloud-operator reposi… (#487)
  .github/bot-files/comments.yml
  .github/bot-files/labels.yml
  .github/bot-files/paths.yml
  .github/bot-files/reviewers.yml
Due: none

ignore me
  cmd/label-cli
  pkg/label-operator
  test/label-bdd
Due: operator, cli

[KOGITO-2940] Tests: Fix missing request body in HTTP request step (#488)
  test/steps/http.go
Due: none

Update Jenkinsfile.deploy
  Jenkinsfile.deploy
Due: none

KOGITO-2932 Install operators one after the other
  test/steps/operator.go
Due: none

KOGITO-2932 Install operators one after the other (#490)
  test/steps/operator.go
Due: none

[KOGITO-2966] Tests: Remove Strimzi workaround
  test/steps/data.go
Due: none

[KOGITO-1998] - Inject Data-index and Jobs-service route URL into kogito runtime
  pkg/client/openshift/deploymentconfig.go
  pkg/client/openshift/openshift.go
  pkg/controller/kogitobuild/kogitobuild_controller.go
  pkg/controller/kogitodataindex/kogitodataindex_controller.go
  pkg/controller/kogitojobsservice/kogitojobsservice_controller.go
  pkg/controller/kogitoruntime/deployer.go
  pkg/infrastructure/data_index.go
  pkg/infrastructure/data_index_test.go
  pkg/infrastructure/jobs_service.go
  pkg/infrastructure/jobs_service_test.go
  pkg/infrastructure/kogito_runtime.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/resources.go
Due: operator

[KOGITO-2978] Run all non native BDD tests in Kogito PR check
  Jenkinsfile
Due: none

[KOGITO-1654] - Guide for Core/Runtimes team to Smoke test local changes on Kubernetes (#475)
  README.md
  docs/GUIDE_TO_KOGITO_DEVS.md
Due: none

Path conditions:
  operator: any of: pkg/
  cli: any of: cmd/
