Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

[KOGITO-3335] Tests: Split current tests to operator and integration (#562)
  Jenkinsfile
  test/features/install_dataindex.feature
  test/features/integration/deploy_travel_agency.feature
  test/features/integration/keycloak.feature
  test/features/integration/service_discovery.feature
  test/features/operator/deploy_kogito_build.feature
  test/features/operator/deploy_kogito_runtime.feature
  test/features/operator/deploy_service_resources.feature
  test/features/operator/deploy_source_files.feature
  test/features/operator/install_dataindex.feature
  test/features/operator/install_jobs_service.feature
  test/features/operator/install_kogitoinfra.feature
  test/features/operator/install_mgmtconsole.feature
  test/features/operator/install_trusty.feature
  test/features/operator/kogito_service_performance.feature
  test/features/operator/olm/cli_install_operator.feature
  test/features/operator/olm/cli_new_project.feature
  test/features/operator/olm/cli_use_project.feature
  test/features/operator/prometheus.feature
  test/features/operator/update_httpport.feature
Due: none

Update explainability.go
  cmd/kogito/command/install/explainability.go
Due: cli

[KOGITO-3296] - Upgrading Infinispan CRD and fixing custom credential… (#555)
  go.mod
  go.sum
  pkg/controller/kogitoinfra/infinispan/comparator.go
  pkg/controller/kogitoinfra/infinispan/infinispan_credentials.go
  pkg/controller/kogitoinfra/infinispan/infinispan_credentials_test.go
  pkg/controller/kogitoinfra/infinispan/operator.go
  pkg/controller/kogitoinfra/infinispan/resource.go
  pkg/controller/kogitoinfra/infinispan/resource_test.go
  pkg/infrastructure/infinispan.go
  pkg/infrastructure/services/infinispan.go
  test/framework/container_engine.go
  test/framework/infinispan.go
  test/framework/mappers/cr_to_cli.go
Due: operator

[0.15.x] [KOGITO-3296] - Upgrading Infinispan CRD and fixing custom credential (#559)
  go.mod
  go.sum
  pkg/controller/kogitoinfra/infinispan/comparator.go
  pkg/controller/kogitoinfra/infinispan/infinispan_credentials.go
  pkg/controller/kogitoinfra/infinispan/infinispan_credentials_test.go
  pkg/controller/kogitoinfra/infinispan/operator.go
  pkg/controller/kogitoinfra/infinispan/resource.go
  pkg/controller/kogitoinfra/infinispan/resource_test.go
  pkg/infrastructure/infinispan.go
  pkg/infrastructure/services/infinispan.go
  test/framework/container_engine.go
  test/framework/infinispan.go
  test/framework/mappers/cr_to_cli.go
Due: operator

KOGITO-3332: Check whether jobs service is ready before deploying service
  test/features/operator/deploy_kogito_runtime.feature
Due: none

KOGITO-3333: Refactor Jobs Service test with Keycloak
  test/features/integration/keycloak.feature
Due: none

KOGITO-3332: Check whether jobs service is ready before deploying service (#556)
  test/features/operator/deploy_kogito_runtime.feature
Due: none

[0.15.x] KOGITO-3176 - disable standalone trusty test due to kafka change (#561)
  test/features/install_trusty.feature
Due: none

KOGITO-3340: Cucumber Tests: Projects that use Keycloak remains as Terminating
  hack/clean-stuck-namespaces.sh
Due: none

update comments
  cmd/kogito/command/install/trusty_ui.go
Due: cli

cherry pick trusty-ui
  Makefile
  README.md
  cmd/kogito/command/install/factory.go
  cmd/kogito/command/install/trusty_ui.go
  cmd/kogito/command/install/trusty_ui_test.go
  cmd/kogito/command/message/trusty_ui.go
  cmd/kogito/command/remove/runtime_services.go
  cmd/kogito/command/shared/install_operator_test.go
  cmd/kogito/command/shared/install_services.go
  deploy/crds/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/crds/app.kiegroup.org_v1alpha1_kogitotrustyui_cr.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  hack/run-tests.sh
  hack/run-tests.sh.bats
  pkg/apis/app/v1alpha1/kogitotrustyui_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/add_kogitotrustyui.go
  pkg/controller/kogitotrustyui/kogitotrusty_ui_controller.go
  pkg/controller/kogitotrustyui/kogitotrusty_ui_controller_test.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/error.go
  pkg/infrastructure/services/resources.go
  pkg/infrastructure/services/resources_test.go
  pkg/infrastructure/trusty.go
  pkg/infrastructure/trusty_ui.go
  test/config/config.go
  test/features/install_trustyui.feature
  test/framework/kogitotrustyui.go
  test/steps/data.go
  test/steps/kogitotrustyui.go
Due: operator, cli

KOGITO-3181 - add trusty ui scorecard/controller/tests (#537)
  Makefile
  README.md
  cmd/kogito/command/install/factory.go
  cmd/kogito/command/install/trusty_ui.go
  cmd/kogito/command/install/trusty_ui_test.go
  cmd/kogito/command/message/trusty_ui.go
  cmd/kogito/command/remove/runtime_services.go
  cmd/kogito/command/shared/install_operator_test.go
  cmd/kogito/command/shared/install_services.go
  deploy/crds/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/crds/app.kiegroup.org_v1alpha1_kogitotrustyui_cr.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  hack/run-tests.sh
  hack/run-tests.sh.bats
  pkg/apis/app/v1alpha1/kogitotrustyui_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/add_kogitotrustyui.go
  pkg/controller/kogitotrustyui/kogitotrusty_ui_controller.go
  pkg/controller/kogitotrustyui/kogitotrusty_ui_controller_test.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/error.go
  pkg/infrastructure/services/resources.go
  pkg/infrastructure/services/resources_test.go
  pkg/infrastructure/trusty.go
  pkg/infrastructure/trusty_ui.go
  test/config/config.go
  test/features/install_trustyui.feature
  test/framework/kogitotrustyui.go
  test/steps/data.go
  test/steps/kogitotrustyui.go
Due: operator, cli

[0.15.x] Cherry pick trusty-ui changes (#566)
  Makefile
  README.md
  cmd/kogito/command/install/factory.go
  cmd/kogito/command/install/trusty_ui.go
  cmd/kogito/command/install/trusty_ui_test.go
  cmd/kogito/command/message/trusty_ui.go
  cmd/kogito/command/remove/runtime_services.go
  cmd/kogito/command/shared/install_operator_test.go
  cmd/kogito/command/shared/install_services.go
  deploy/crds/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/crds/app.kiegroup.org_v1alpha1_kogitotrustyui_cr.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  hack/run-tests.sh
  hack/run-tests.sh.bats
  pkg/apis/app/v1alpha1/kogitotrustyui_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/add_kogitotrustyui.go
  pkg/controller/kogitotrustyui/kogitotrusty_ui_controller.go
  pkg/controller/kogitotrustyui/kogitotrusty_ui_controller_test.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/error.go
  pkg/infrastructure/services/resources.go
  pkg/infrastructure/services/resources_test.go
  pkg/infrastructure/trusty.go
  pkg/infrastructure/trusty_ui.go
  test/config/config.go
  test/features/install_trustyui.feature
  test/framework/kogitotrustyui.go
  test/steps/data.go
  test/steps/kogitotrustyui.go
Due: operator, cli

KOGITO-3340: Cucumber Tests: Projects that use Keycloak remains as Terminating (#564)
  hack/clean-stuck-namespaces.sh
Due: none

rebase
  cmd/kogito/command/shared/install_operator_test.go
Due: cli

[KOGITO-3039] - Modify Kogito CLI to use new KogitoInfra to create Infinispan/Kafka instances
  cmd/kogito/command/converter/infraresource_converter.go
  cmd/kogito/command/converter/infraresource_converter_test.go
  cmd/kogito/command/flag/infraresource_flag.go
  cmd/kogito/command/flag/install_flag.go
  cmd/kogito/command/install/data_index.go
  cmd/kogito/command/install/data_index_test.go
  cmd/kogito/command/install/factory.go
  cmd/kogito/command/install/jobs_service.go
  cmd/kogito/command/install/jobs_service_test.go
  cmd/kogito/command/install/kogito_infra.go
  cmd/kogito/command/install/kogito_infra_test.go
  cmd/kogito/command/install/mgmt_console.go
  cmd/kogito/command/install/trusty.go
  cmd/kogito/command/install/trusty_test.go
  cmd/kogito/command/message/kogitoinfra.go
  cmd/kogito/command/service/runtime_service.go
  cmd/kogito/command/shared/install_services.go
  deploy/crds/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/crds/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  go.mod
  go.sum
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
  pkg/apis/app/v1alpha1/kogitotrusty_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/kogitotrusty/kogitotrusty_controller_test.go
  test/steps/kogitotrusty.go
Due: operator, cli

rebase
  test/features/operator/install_explainability.feature
  test/features/operator/install_trustyui.feature
Due: none

Revert "KOGITO-3340: Cucumber Tests: Projects that use Keycloak remains as Terminating (#564)"
  hack/clean-stuck-namespaces.sh
Due: none

Revert "KOGITO-3332: Check whether jobs service is ready before deploying service (#556)"
  test/features/operator/deploy_kogito_runtime.feature
Due: none

Revert "[KOGITO-3323] Tests: Update scenario description to be unique for every run (#554)"
  test/features/integration/deploy_travel_agency.feature
  test/features/operator/update_httpport.feature
Due: none

Revert "[KOGITO-3335] Tests: Split current tests to operator and integration (#562)"
  Jenkinsfile
  test/features/deploy_kogito_build.feature
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_service_resources.feature
  test/features/deploy_source_files.feature
  test/features/deploy_travel_agency.feature
  test/features/install_dataindex.feature
  test/features/install_explainability.feature
  test/features/install_jobs_service.feature
  test/features/install_kogitoinfra.feature
  test/features/install_mgmtconsole.feature
  test/features/install_trusty.feature
  test/features/install_trustyui.feature
  test/features/integration/keycloak.feature
  test/features/kogito_service_performance.feature
  test/features/olm/cli_install_operator.feature
  test/features/olm/cli_new_project.feature
  test/features/olm/cli_use_project.feature
  test/features/operator/install_dataindex.feature
  test/features/prometheus.feature
  test/features/service_discovery.feature
  test/features/update_httpport.feature
Due: none

KOGITO-3359: Cucumber Tests: Add Trusty Custom Resources in logs
  test/steps/data.go
Due: none

add logs
  test/steps/data.go
Due: none

KOGITO-2812 - add explainability service (#464)
  Makefile
  cmd/kogito/command/install/explainability.go
  cmd/kogito/command/install/explainability_test.go
  cmd/kogito/command/install/factory.go
  cmd/kogito/command/message/explainability.go
  cmd/kogito/command/remove/runtime_services.go
  cmd/kogito/command/shared/install_operator_test.go
  cmd/kogito/command/shared/install_services.go
  deploy/crds/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/crds/app.kiegroup.org_v1alpha1_kogitoexplainability_cr.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  examples/explainability.yaml
  hack/run-tests.sh
  hack/run-tests.sh.bats
  pkg/apis/app/v1alpha1/kogitoexplainability_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/add_kogitoexplainability.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller_test.go
  pkg/controller/kogitoruntime/deployer.go
  pkg/infrastructure/explainability.go
  test/config/config.go
  test/features/operator/install_explainability.feature
  test/features/operator/install_trustyui.feature
  test/framework/kogitoexplainability.go
  test/steps/data.go
  test/steps/kogitoexplainability.go
Due: operator, cli

KOGITO-3333: Disable jobs service keycloak test.
  test/features/install_jobs_service.feature
Due: none

KOGITO-3333: Disable jobs service keycloak test. (#571)
  test/features/install_jobs_service.feature
Due: none

[0.15.x] KOGITO-2812 - cherry pick explainability pr (#568)
  Makefile
  cmd/kogito/command/install/explainability.go
  cmd/kogito/command/install/explainability_test.go
  cmd/kogito/command/install/factory.go
  cmd/kogito/command/message/explainability.go
  cmd/kogito/command/remove/runtime_services.go
  cmd/kogito/command/shared/install_operator_test.go
  cmd/kogito/command/shared/install_services.go
  deploy/crds/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/crds/app.kiegroup.org_v1alpha1_kogitoexplainability_cr.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  examples/explainability.yaml
  hack/run-tests.sh
  hack/run-tests.sh.bats
  pkg/apis/app/v1alpha1/kogitoexplainability_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/add_kogitoexplainability.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller_test.go
  pkg/controller/kogitoruntime/deployer.go
  pkg/infrastructure/explainability.go
  test/config/config.go
  test/features/install_explainability.feature
  test/framework/kogitoexplainability.go
  test/steps/data.go
  test/steps/kogitoexplainability.go
Due: operator, cli

Update project version to 0.15.0 for release
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/kogito-operator.v0.15.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  test/.default_config
  version/version.go
Due: cli

[KOGITO-3039] - Create config map and secret on infra object creation
  cmd/kogito/command/converter/infraresource_converter_test.go
  cmd/kogito/command/install/kogito_infra.go
  cmd/kogito/command/install/kogito_infra_test.go
  deploy/crds/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoinfras_crd.yaml
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/kogitoinfra/infinispan/infinispan_properties.go
  pkg/controller/kogitoinfra/infinispan/infinispan_reconciler.go
  pkg/controller/kogitoinfra/infinispan/manage_status.go
  pkg/controller/kogitoinfra/infinispan/resource.go
  pkg/controller/kogitoinfra/kafka/kafka_properties.go
  pkg/controller/kogitoinfra/kafka/kafka_reconciler.go
  pkg/controller/kogitoinfra/kafka/manage_status.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
  pkg/controller/kogitoinfra/kogitoinfra_resource.go
  pkg/controller/kogitoinfra/kogitoinfra_service.go
  pkg/controller/kogitoinfra/manage_status.go
  pkg/infrastructure/infinispan.go
  pkg/infrastructure/kafka.go
  pkg/infrastructure/kafka_test.go
  pkg/infrastructure/services/resources.go
Due: operator, cli

[PLANNER-2084] Tests: Disable Optaplanner native test
  test/features/operator/deploy_kogito_runtime.feature
  test/scripts/examples/process-optaplanner-quarkus.feature
Due: none

Update deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
Due: none

Update deploy/olm-catalog/kogito-operator/0.15.0/kogito-operator.v0.15.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/kogito-operator.v0.15.0.clusterserviceversion.yaml
Due: none

Copy manifests version 0.15.0 to master
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/kogito-operator.v0.15.0.clusterserviceversion.yaml
Due: none

Copy manifests version 0.15.0 to master (#576)
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.15.0/kogito-operator.v0.15.0.clusterserviceversion.yaml
Due: none

KOGITO-3333: Refactor Jobs Service test with Keycloak (#557)
  test/features/integration/keycloak.feature
Due: none

[KOGITO-3382] Transitive dependency of Keycloak operator module missing
  go.mod
  go.sum
Due: none

[KOGITO-3039] - Update Unit test cases
  cmd/kogito/command/install/kogito_infra.go
  pkg/controller/kogitodataindex/kogitodataindex_controller_test.go
  pkg/controller/kogitoinfra/infinispan/infinispan_reconciler.go
  pkg/controller/kogitoinfra/kafka/kafka_reconciler.go
  pkg/controller/kogitoinfra/keycloak/keyclock_reconciler.go
  pkg/controller/kogitoruntime/kogitoruntime_controller_test.go
  pkg/controller/kogitotrusty/kogitotrusty_controller_test.go
  pkg/infrastructure/services/deployer_test.go
  pkg/infrastructure/services/resources.go
  pkg/infrastructure/services/resources_test.go
  pkg/test/kogitoinfra.go
Due: operator, cli

Path conditions:
  operator: any of: pkg/
  cli: any of: cmd/
