Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli, controllers

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
  controllers:
    paths:
      - controllers/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli
      controllers:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - controllers

Update test/framework/mappers/cr_to_cli.go
  test/framework/mappers/cr_to_cli.go
Due: none

Fix grafana server group
  core/kogitoservice/dashboards.go
Due: none

grafana server group version from its api
  core/kogitoservice/dashboards.go
Due: none

cobra 1.1.1 fix in test
  cmd/kogito/command/deploy/delete_service_test.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/project/delete_project_test.go
  cmd/kogito/command/project/new_project_test.go
  cmd/kogito/command/remove/kogitoinfra_test.go
Due: cli

[1.2.x][KOGITO-4332] Fixing role.yaml generation (#745)
  Makefile
  RELEASE_NOTES.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/command/deploy/delete_service_test.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/project/delete_project_test.go
  cmd/kogito/command/project/new_project_test.go
  cmd/kogito/command/remove/kogitoinfra_test.go
  config/rbac/role.yaml
  controllers/kogitobuild_controller.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitosupportingservice_controller.go
  controllers/mongodb.go
  go.mod
  go.sum
  kogito-operator.yaml
  main.go
  pkg/client/client.go
  pkg/client/client_builder.go
  pkg/client/client_builder_test.go
  test/framework/kubernetes.go
  test/framework/operator.go
Due: operator, cli, controllers

fix test package import name
  cmd/kogito/command/shared/install_services.go
  controllers/kogitobuild_controller_test.go
  controllers/kogitoinfra_controller_test.go
  controllers/kogitosupportingservice_controller_test.go
  core/framework/owner_test.go
  core/infrastructure/image_test.go
  core/infrastructure/kafka_test.go
  core/kogitobuild/manager_test.go
  core/kogitobuild/status_test.go
  core/kogitobuild/trigger_test.go
  core/kogitoinfra/mongodb_reconciler_test.go
  core/kogitoservice/configmap_test.go
  core/kogitoservice/dashboards_test.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/finalizer_test.go
  core/kogitoservice/messaging_kafka_test.go
  core/kogitoservice/prometheus_test.go
  core/kogitosupportingservice/dataindex_reconciler_test.go
  core/kogitosupportingservice/explainability_reconciler_test.go
  core/kogitosupportingservice/jobsservice_reconciler_test.go
  core/kogitosupportingservice/mgmt_reconciler_test.go
  core/kogitosupportingservice/taskconsole_reconciler_test.go
  core/kogitosupportingservice/trustyai_reconciler_test.go
  core/kogitosupportingservice/trustyui_reconciler_test.go
  core/manager/infra_manager_test.go
  core/manager/supportingservice_manager_test.go
  core/record/event_test.go
  pkg/client/client.go
Due: operator, cli, controllers

Update controllers/build/image_stream_kogito.go
  controllers/build/image_stream_kogito.go
Due: controllers

[KOGITO-2317] - Unify Kogito Quarkus and Spring Images (#743)
  RELEASE_NOTES.md
  controllers/build/build_config.go
  controllers/build/image_stream_kogito.go
  controllers/build/image_stream_kogito_test.go
  controllers/build/manager_test.go
  controllers/kogitobuild_controller.go
  controllers/kogitobuild_controller_test.go
  pkg/infrastructure/kogito_images.go
  pkg/infrastructure/services/deployer_resources.go
  test/framework/dockerfile_provider.go
  test/framework/kogitobuild.go
Due: operator, controllers

[KOGITO-2785] - Operator nightly pipeline: add olm tests See: https://issues.redhat.com/browse/KOGITO-2785
  Jenkinsfile.deploy
Due: none

added `kogito-operator-system` log archive
  Jenkinsfile.deploy
Due: none

use full url and add description
  hack/ci/run-olm-tests.sh
Due: none

[KOGITO-4361] Invalid image tag for native image
  pkg/infrastructure/kogito_images.go
Due: operator

added `kogito-operator-system` log archive (#747)
  Jenkinsfile.deploy
Due: none

added `kogito-operator-system` log archive (#747) (#749)
  Jenkinsfile.deploy
Due: none

KOGITO-4307 Add tags params
  Jenkinsfile.deploy
Due: none

KOGITO-4307 Add tags params (#744)
  Jenkinsfile.deploy
Due: none

[KOGITO-4361] Invalid image tag for native image (#748)
  pkg/infrastructure/kogito_images.go
Due: operator

[KOGITO-2785] - Operator nightly pipeline: add olm tests (#746)
  Jenkinsfile.deploy
  hack/ci/run-olm-tests.sh
Due: none

[KOGITO-4210] Fix probe config for Quarkus deployments
  RELEASE_NOTES.md
  controllers/kogitoruntime_controller.go
  pkg/infrastructure/services/probe.go
Due: operator, controllers

Update project version to 1.2.0
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  pkg/version/version.go
Due: operator, cli

fix test package name
  cmd/kogito/command/shared/resource_checks_test.go
  cmd/kogito/command/test/common.go
  internal/kogitoinfra_test.go
  internal/kogitoruntime_test.go
  pkg/client/openshift/buildconfig_test.go
  test/framework/util.go
Due: operator, cli

Fix promote file
  Jenkinsfile.promote
Due: none

correction for bats test
  hack/update_test_config.sh.bats
Due: none

Fix promote file (#753)
  Jenkinsfile.promote
  hack/update_test_config.sh.bats
Due: none

Fix promote file (#754)
  Jenkinsfile.promote
Due: none

[KOGITO-3678] Add test coverage for Knative functionality
  README.md
  test/features/deploy_kogito_runtime.feature
  test/framework/http.go
  test/framework/knative.go
  test/framework/kogitoinfra.go
  test/framework/kubernetes.go
  test/steps/data.go
  test/steps/http.go
  test/steps/knative.go
  test/steps/kogitoinfra.go
  test/steps/kubernetes.go
Due: none

[KOGITO-3678] Add test coverage for Knative functionality (#750)
  README.md
  test/features/deploy_kogito_runtime.feature
  test/framework/http.go
  test/framework/knative.go
  test/framework/kogitoinfra.go
  test/framework/kubernetes.go
  test/steps/data.go
  test/steps/http.go
  test/steps/knative.go
  test/steps/kogitoinfra.go
  test/steps/kubernetes.go
Due: none

Setup DSL scripts
  .github/workflows/jenkins-tests-PR.yml
  .jenkins/dsl/jobs.groovy
  .jenkins/dsl/test.sh
  Jenkinsfile.deploy
  Jenkinsfile.promote
  test/framework/maven.go
Due: none

fix package name in codecov.yml
  codecov.yml
Due: none

Incorporate review comments
  controllers/kogitoinfra_controller_test.go
  core/infrastructure/kafka.go
  core/infrastructure/kafka/group.go
  core/infrastructure/kafka/v1beta1/doc.go
  core/infrastructure/kafka/v1beta1/kafka_types.go
  core/infrastructure/kafka/v1beta1/kafkatopic_types.go
  core/infrastructure/kafka/v1beta1/register.go
  core/infrastructure/kafka/v1beta1/zz_generated.deepcopy.go
  core/infrastructure/kafka_test.go
  core/kogitoinfra/errors.go
  core/kogitoinfra/kafka_reconciler.go
  core/kogitoinfra/kafka_reconciler_test.go
  core/kogitoinfra/reconciler.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/messaging_kafka_test.go
  core/kogitosupportingservice/mgmtconsole_reconciler.go
  core/kogitosupportingservice/mgmtconsole_reconciler_test.go
  core/test/meta.go
  internal/meta.go
  test/framework/kafka.go
Due: controllers

Fix compilation issue
  test/framework/knative.go
  test/framework/kubernetes.go
Due: none

Fix docker file
  Dockerfile
Due: none

Remove \pkg references
  .github/bot-files/labels.yml
  .github/bot-files/reviewers.yml
  .github/workflows/jenkins-tests-PR.yml
  codecov.yml
  hack/go-fmt.sh
Due: none

fix code coverage report issue
  .github/workflows/Kogito-Operator-Unit-tests.yaml
Due: none

Correct DSL generation
  .github/workflows/jenkins-tests-PR.yml
  .jenkins/dsl/jobs.groovy
Due: none

Correct DSL generation (#756)
  .github/workflows/jenkins-tests-PR.yml
  .jenkins/dsl/jobs.groovy
Due: none

[KOGITO-4210] Fix probe config for Quarkus deployments (#733)
  RELEASE_NOTES.md
  controllers/kogitoruntime_controller.go
  pkg/infrastructure/services/probe.go
Due: operator, controllers
