Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

add explainability BDD
  test/features/install_explainability.feature
  test/steps/kogitoexplainability.go
Due: none

fix tests
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitoexplainability_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoexplainability_crd.yaml
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller_test.go
Due: operator

Fixing conditions_test.go use case to add a small interval to the timer
  pkg/apis/app/v1alpha1/conditions_test.go
Due: operator

[KOGITO-2872] BuildConfig comparator to handle empty and nil Triggers
  hack/install-manifests.sh
  pkg/framework/comparator.go
  pkg/framework/comparator_test.go
Due: operator

[KOGITO-2827] - Use environment variable when no Data Index route available (#468)
  examples/kubernetes/travel-agency/deploy.sh
  examples/kubernetes/travel-agency/management-console-ingress.yaml
  examples/kubernetes/travel-agency/management-console.yaml
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/resources.go
  pkg/infrastructure/services/resources_test.go
Due: operator

[KOGITO-2873] Tests: Set Data index URL in env variables for Management console (#471)
  test/framework/mappers/cr_to_cli.go
  test/steps/kogitomgmtconsole.go
Due: none

[KOGITO-2872] BuildConfig comparator to handle empty and nil Triggers (#474)
  hack/install-manifests.sh
  pkg/apis/app/v1alpha1/conditions_test.go
  pkg/framework/comparator.go
  pkg/framework/comparator_test.go
Due: operator

[KOGITO-2850] Tests: Add Maven mirror configuration for local Maven builds
  test/framework/maven.go
Due: none

[KOGITO-1654] - Guide for Core/Runtimes team to Smoke test local changes on CRC
  GUIDE_TO_KOGITO_DEVS.md
Due: none

[KOGITO-2850] Tests: Add Maven mirror configuration for local Maven builds (#465)
  test/framework/maven.go
Due: none

review suggestions added'
  GUIDE_TO_KOGITO_DEVS.md
Due: none

added to README
  GUIDE_TO_KOGITO_DEVS.md
  README.md
Due: none

format
  README.md
Due: none

KOGITO-2790 Setup build examples images
  Jenkinsfile
  test/framework/container_engine.go
Due: none

incorporate review comments
  GUIDE_TO_KOGITO_DEVS.md
Due: none

KOGITO-2903 KogitoBuild include custom maven repo
  test/framework/kogitobuild.go
Due: none

KOGITO-2903 KogitoBuild include custom maven repo (#476)
  test/framework/kogitobuild.go
Due: none

KOGITO-2790 Setup build examples images (#457)
  Jenkinsfile
  test/framework/container_engine.go
Due: none

[KOGITO-2904] Tests: Enable KogitoRuntime tests
  test/features/deploy_kogito_runtime.feature
Due: none

KOGITO-2903 KogitoBuild include custom maven repo (#477)
  test/framework/kogitobuild.go
Due: none

moved to docs and deplyment changed
  README.md
  docs/GUIDE_TO_KOGITO_DEVS.md
Due: none

[KOGITO-2904] Tests: Enable KogitoRuntime tests (#478)
  test/features/deploy_kogito_runtime.feature
Due: none

review comments
  docs/GUIDE_TO_KOGITO_DEVS.md
Due: none

Update pkg/apis/app/v1alpha1/kogitotrusty_types.go
  pkg/apis/app/v1alpha1/kogitotrusty_types.go
Due: operator

update yaml example
  examples/explainability.yaml
Due: none

-DskipTestsIT flag added for verification
  docs/GUIDE_TO_KOGITO_DEVS.md
Due: none

service name changed as the default with ClusterIP was created with the same name
  docs/GUIDE_TO_KOGITO_DEVS.md
Due: none

fix comments and generate files properly
  cmd/kogito/command/shared/install_operator_test.go
  deploy/crds/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/crds/app.kiegroup.org_v1alpha1_kogitotrusty_cr.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  deploy/role.yaml
  go.sum
  pkg/apis/app/v1alpha1/kogitotrusty_types.go
  pkg/controller/add_kogitotrusty.go
  pkg/controller/kogitotrusty/kogitotrusty_controller.go
  pkg/controller/kogitotrusty/kogitotrusty_controller_test.go
  pkg/test/assert_fetch.go
Due: operator, cli

note on initial method for installing operator
  docs/GUIDE_TO_KOGITO_DEVS.md
Due: none

[KOGITO-2916] CLI auto-completion for fish shell
  cmd/kogito/command/completion/completion.go
Due: cli

[KOGITO-2917] Update contributors' guide link in PR template
  .github/pull_request_template.md
Due: none

[KOGITO-2916] CLI auto-completion for fish shell (#480)
  cmd/kogito/command/completion/completion.go
Due: cli

fix comments, adjust manifests
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  deploy/role.yaml
  pkg/controller/kogitotrusty/kogitotrusty_controller.go
Due: operator

run make test locally to generate files
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
Due: none

Update project version to 0.13.0 for release
  go.mod
  go.sum
  test/.default_config
Due: none

update example
  deploy/crds/app.kiegroup.org_v1alpha1_kogitotrusty_cr.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
Due: none

Update snapshot version to 0.13.0-rc1
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/0.13.0-rc1/app.kiegroup.org_kogitoapps_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0-rc1/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0-rc1/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0-rc1/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0-rc1/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0-rc1/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0-rc1/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0-rc1/kogito-operator.v0.13.0-rc1.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  version/version.go
Due: cli

[KOGITO-1998] - Incorporate review comments
  cmd/kogito/command/converter/webhooksecret_converter.go
  cmd/kogito/command/converter/webhooksecret_converter_test.go
  cmd/kogito/command/flag/webhook_flag.go
  deploy/crds/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitobuilds_crd.yaml
  examples/example-custom-build-images.yaml
  examples/onboarding-example.yaml
  examples/process-quarkus-example-binary-builds.yaml
  examples/process-quarkus-example-persistence.yaml
  examples/process-quarkus-example.yaml
  examples/springboot.yaml
  examples/travelapp-kogito-travel-agency.yaml
  examples/travelapp-kogito-visas.yaml
  pkg/apis/app/v1alpha1/kogitobuild_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/kogitobuild/build/build_config.go
  pkg/controller/kogitobuild/build/build_config_test.go
  test/steps/kogitoruntime.go
Due: operator, cli
