Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

[KOGITO-3937] - Move probe configuration in to `probes` subproperty (#676)
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  kogito-operator.yaml
  pkg/apis/app/v1beta1/kogitoservices_types.go
  pkg/apis/app/v1beta1/probe.go
  pkg/apis/app/v1beta1/zz_generated.deepcopy.go
  pkg/apis/app/v1beta1/zz_generated.openapi.go
  pkg/infrastructure/services/probe.go
  pkg/infrastructure/services/probe_test.go
Due: operator

Updating Release Notes to 1.1.0 (#679)
  .github/pull_request_template.md
  RELEASE_NOTES.md
Due: none

[KOGITO-3864] - KogitoInfra got delete when refering KogitoRuntime/KogitoSupportingService delete
  pkg/controller/add_kogitoruntime.go
  pkg/controller/add_kogitosupportingservice.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/controller/kogitoruntime/kogitoruntime_finalizer.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_finalizer.go
  pkg/framework/owner.go
  pkg/framework/owner_test.go
  pkg/infrastructure/kogito_infra.go
Due: operator

Update release notes
  RELEASE_NOTES.md
Due: none

fix formatting
  pkg/framework/owner_test.go
Due: operator

[KOGITO-3898] - Provide CLI flags for subset of probe parameters (#677)
  RELEASE_NOTES.md
  cmd/kogito/command/converter/kogitoprobe_converter.go
  cmd/kogito/command/converter/kogitoprobe_converter_test.go
  cmd/kogito/command/flag/install_flag.go
  cmd/kogito/command/flag/probe_flag.go
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/install/supportingservices_test.go
  cmd/kogito/command/service/runtime_service.go
Due: cli

[KOGITO-3939] Adjust readiness and liveness probes
  pkg/apis/app/v1beta1/kogitoservices_types.go
  test/framework/kogitoruntime.go
  test/framework/kogitoserviceutils.go
Due: operator

move `addFinalizer` and `handleFinalization` method to common service
  RELEASE_NOTES.md
  pkg/controller/kogitoruntime/kogitoruntime_finalizer.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_finalizer.go
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/kogito_service_test.go
Due: operator

Handle scenario when referred KogitoInfra doesn't exists
  pkg/infrastructure/kogito_infra.go
  pkg/infrastructure/kogito_infra_test.go
Due: operator

[KOGITO-3864] - KogitoInfra gets deleted when refering KogitoRuntime/KogitoSupportingService delete (#681)
  RELEASE_NOTES.md
  pkg/controller/add_kogitoruntime.go
  pkg/controller/add_kogitosupportingservice.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/controller/kogitoruntime/kogitoruntime_finalizer.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_finalizer.go
  pkg/framework/owner.go
  pkg/framework/owner_test.go
  pkg/infrastructure/kogito_infra.go
  pkg/infrastructure/kogito_infra_test.go
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/kogito_service_test.go
Due: operator

[KOGITO-3960] Add log monitoring for OLM namespace
  test/framework/operator.go
  test/main_test.go
Due: none

[KOGITO-3961] Adjust clean-stuck-namespaces.sh with Kogito CRs
  hack/clean-stuck-namespaces.sh
Due: none

[KOGITO-3960] Add log monitoring for OLM namespace (#683)
  test/framework/operator.go
  test/main_test.go
Due: none

[KOGITO-3960] Store OLM logs for PR checks and nightly builds
  Jenkinsfile
  Jenkinsfile.deploy
Due: none

[KOGITO-3961] Adjust clean-stuck-namespaces.sh with Kogito CRs (#684)
  hack/clean-stuck-namespaces.sh
Due: none

KOGITO-3962 Set load factor to 1
  Jenkinsfile.deploy
Due: none

KOGITO-3962 Set load factor to 1 (#686)
  Jenkinsfile.deploy
Due: none

[KOGITO-3947] - Fix infinite reconciliation loop when no env var is defined
  examples/jobs-service.yaml
  hack/install-manifests.sh
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/services/deployment.go
  pkg/infrastructure/services/deployment_test.go
  pkg/test/fake_client.go
Due: operator

Adding CHANGELOG
  RELEASE_NOTES.md
Due: none

Update install_explainability.feature
  test/features/install_explainability.feature
Due: none

[KOGITO-3960] Store OLM logs for PR checks and nightly builds (#685)
  Jenkinsfile
  Jenkinsfile.deploy
Due: none

KOGITO-3343 - Failover scenario for scaling Infinispan to 0 using BDD tests
  README.md
  test/features/deploy_kogito_runtime.feature
  test/framework/http.go
  test/framework/infinispan.go
  test/steps/http.go
  test/steps/infinispan.go
Due: none

KOGITO-3343 - Failover scenario for scaling Infinispan to 0 using BDD tests (#682)
  README.md
  test/features/deploy_kogito_runtime.feature
  test/framework/http.go
  test/framework/infinispan.go
  test/steps/http.go
  test/steps/infinispan.go
Due: none

olm fix test
  hack/ci/operator-ensure-manifests.sh
Due: none

[KOGITO-3966] Update explainability BDD test (#688)
  test/features/install_explainability.feature
Due: none

KOGITO-3977 Release: Add branch to PR creation
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

[KOGITO-3968] - Add support to deploy Kogito services from SW files
  cmd/kogito/command/deploy/delete_service.go
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/deploy/testdata/greetings.sw.json
  cmd/kogito/command/iozip/zip_files.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/shared/install_operator_test.go
  cmd/kogito/command/shared/resource_checks_test.go
  cmd/kogito/command/test/common.go
  go.mod
  go.sum
  pkg/client/client.go
Due: operator, cli

Add CHANGELOG
  RELEASE_NOTES.md
Due: none

Disabling the OLM tests until KOGITO-3979 is fixed
  .github/workflows/Kogito-Operator-OLM-tests.yaml
Due: none

Disabling the OLM tests until KOGITO-3979 is fixed (#692)
  .github/workflows/Kogito-Operator-OLM-tests.yaml
Due: none

[KOGITO-3947] - Fix infinite reconciliation loop when no env var is defined (#687)
  RELEASE_NOTES.md
  examples/jobs-service.yaml
  hack/install-manifests.sh
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/services/deployment.go
  pkg/infrastructure/services/deployment_test.go
  pkg/test/fake_client.go
Due: operator

[KOGITO-3939] Adjust readiness and liveness probes (#680)
  pkg/apis/app/v1beta1/kogitoservices_types.go
  test/framework/kogitoruntime.go
  test/framework/kogitoserviceutils.go
Due: operator

KOGITO-3977 Release: Add branch to PR creation (#690)
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

Revert "Disabling the OLM tests until KOGITO-3979 is fixed (#692)"
  .github/workflows/Kogito-Operator-OLM-tests.yaml
Due: none

Update operator-ensure-manifests.sh
  hack/ci/operator-ensure-manifests.sh
Due: none

[KOGITO-3968] - Add support to deploy Kogito services from SW files (#691)
  RELEASE_NOTES.md
  cmd/kogito/command/deploy/delete_service.go
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/deploy/testdata/greetings.sw.json
  cmd/kogito/command/iozip/zip_files.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/shared/install_operator_test.go
  cmd/kogito/command/shared/resource_checks_test.go
  cmd/kogito/command/test/common.go
  go.mod
  go.sum
  pkg/client/client.go
Due: operator, cli

[KOGITO-3938] Add option to run tests with Kogito cluster wide operator
  Jenkinsfile
  Jenkinsfile.deploy
  Makefile
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/framework/namespace.go
  test/framework/operator.go
  test/main_test.go
  test/steps/operator.go
Due: none

Path conditions:
  operator: any of: pkg/
  cli: any of: cmd/
