Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

[KOGITO-4583] Revert lint to version v1.37.1 (#783)
  .github/workflows/Kogito-Operator-PR-Check.yaml
  hack/go-lint.sh
Due: none

[KOGITO-4572] KogitoInfra doesn't detect running Infinispan instance (#782)
  core/kogitoinfra/infinispan_reconciler.go
Due: operator

[KOGITO-233] - Migrate Operator image generation to CEKit
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  Dockerfile
  Makefile
  README.md
  RELEASE_NOTES.md
  hack/bump-version.sh
  image.yaml
  modules/buildOperator/install.sh
  modules/buildOperator/module.yaml
  modules/goModDownload/install.sh
  modules/goModDownload/module.yaml
Due: none

respect IMAGE var in makefile in image generation
  Makefile
  hack/bump-version.sh
  image.yaml
Due: none

KOGITO-4616 - Revise BDD tests debugging instructions and add GoLand
  test/README.md
Due: none

KOGITO-4616 - Revise BDD tests debugging instructions and add GoLand (#785)
  test/README.md
Due: none

[KOGITO-233] - Migrate Operator image generation to CEKit (#784)
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  Dockerfile
  Makefile
  README.md
  RELEASE_NOTES.md
  image.yaml
  modules/buildOperator/install.sh
  modules/buildOperator/module.yaml
  modules/goModDownload/install.sh
  modules/goModDownload/module.yaml
Due: none

ignore me
  docs/GUIDE_TO_KOGITO_DEVS.md
Due: none

[KOGITO-4620] - role.yaml is not updating
  Makefile
Due: none

[KOGITO-4620] - role.yaml is not updating (#787)
  Makefile
Due: none

change trusty infinispan default image name (#705)
  core/kogitosupportingservice/trustyai_reconciler.go
Due: operator

[KOGITO-4469] - Conditions should reflect latest evaluated status
  api/conditions.go
  api/v1beta1/conditions.go
  core/framework/condition_collection.go
  core/framework/condition_collection_test.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/status.go
  core/kogitoservice/status_test.go
Due: operator

Update release note
  RELEASE_NOTES.md
Due: none

KOGITO-4644 Support Quarkus fast-jar
  cmd/kogito/command/converter/runtimetype_converter.go
  cmd/kogito/command/converter/runtimetype_converter_test.go
  cmd/kogito/command/test/mkdir.go
  docs/GUIDE_TO_KOGITO_DEVS.md
  examples/quarkus-jvm.Dockerfile
  test/framework/dockerfile_provider.go
Due: cli

review comments
  docs/GUIDE_TO_KOGITO_DEVS.md
  examples/quarkus-jvm.Dockerfile
  test/framework/dockerfile_provider.go
Due: none

remove max buffer limit
  core/framework/condition_collection.go
Due: operator

Solving binary build problems ...
  cmd/kogito/command/converter/binarybuildtype_converter.go
  cmd/kogito/command/converter/binarybuildtype_converter_test.go
  cmd/kogito/command/converter/native_converter_test.go
  cmd/kogito/command/converter/runtimetype_converter.go
  cmd/kogito/command/converter/runtimetype_converter_test.go
  cmd/kogito/command/flag/binary_build_type.go
  cmd/kogito/command/iozip/zip_files.go
  cmd/kogito/command/iozip/zip_files_test.go
  cmd/kogito/command/service/build_service.go
Due: cli

review comments
  cmd/kogito/command/converter/binarybuildtype_converter.go
  cmd/kogito/command/converter/binarybuildtype_converter_test.go
  cmd/kogito/command/converter/runtimetype_converter.go
  cmd/kogito/command/flag/binary_build_type.go
  cmd/kogito/command/iozip/zip_files.go
  cmd/kogito/command/iozip/zip_files_test.go
Due: cli

KOGITO-4644 Support Quarkus fast-jar (#791)
  cmd/kogito/command/converter/binarybuildtype_converter.go
  cmd/kogito/command/converter/binarybuildtype_converter_test.go
  cmd/kogito/command/converter/native_converter_test.go
  cmd/kogito/command/converter/runtimetype_converter.go
  cmd/kogito/command/converter/runtimetype_converter_test.go
  cmd/kogito/command/flag/binary_build_type.go
  cmd/kogito/command/iozip/zip_files.go
  cmd/kogito/command/iozip/zip_files_test.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/test/mkdir.go
  docs/GUIDE_TO_KOGITO_DEVS.md
  examples/quarkus-jvm.Dockerfile
  test/framework/dockerfile_provider.go
Due: cli

replace print stmt in testcase with assert statement
  core/framework/condition_collection_test.go
Due: operator

KOGITO-4644 Update release notes
  RELEASE_NOTES.md
Due: none

KOGITO-4644 Update release notes (#793)
  RELEASE_NOTES.md
Due: none

[KOGITO-4675] Kogito operator PR check doesn't work after repository rename
  .jenkins/dsl/jobs.groovy
  Jenkinsfile
Due: none

[KOGITO-4675] Kogito operator PR check doesn't work after repository rename (#794)
  .jenkins/dsl/jobs.groovy
  Jenkinsfile
Due: none

[KOGITO-4412] New service installer approach for BDD tests
  test/features/data_index_performance.feature
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_travel_agency.feature
  test/features/install_dataindex.feature
  test/features/install_explainability.feature
  test/features/install_jobs_service.feature
  test/features/install_mgmtconsole.feature
  test/features/install_taskconsole.feature
  test/features/install_trusty.feature
  test/features/keycloak.feature
  test/features/kogito_service_performance.feature
  test/features/olm/cli_install_operator.feature
  test/features/olm/cli_new_project.feature
  test/features/olm/cli_use_project.feature
  test/framework/kubernetes.go
  test/framework/logging.go
  test/framework/mongodb.go
  test/framework/namespace.go
  test/framework/operator.go
  test/installers/grafana_installer.go
  test/installers/infinispan_installer.go
  test/installers/kafka_installer.go
  test/installers/keycloak_installer.go
  test/installers/knative_installer.go
  test/installers/kogito_installer.go
  test/installers/mongodb_installer.go
  test/installers/service_installer.go
  test/main_test.go
  test/scripts/prune_namespaces.go
  test/steps/data.go
  test/steps/grafana.go
  test/steps/infinispan.go
  test/steps/kafka.go
  test/steps/keycloak.go
  test/steps/knative.go
  test/steps/mongodb.go
  test/steps/operator.go
Due: none

[KOGITO-4412] New service installer approach for BDD tests (#755)
  test/features/data_index_performance.feature
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_travel_agency.feature
  test/features/install_dataindex.feature
  test/features/install_explainability.feature
  test/features/install_jobs_service.feature
  test/features/install_mgmtconsole.feature
  test/features/install_taskconsole.feature
  test/features/install_trusty.feature
  test/features/keycloak.feature
  test/features/kogito_service_performance.feature
  test/features/olm/cli_install_operator.feature
  test/features/olm/cli_new_project.feature
  test/features/olm/cli_use_project.feature
  test/framework/kubernetes.go
  test/framework/logging.go
  test/framework/mongodb.go
  test/framework/namespace.go
  test/framework/operator.go
  test/installers/grafana_installer.go
  test/installers/infinispan_installer.go
  test/installers/kafka_installer.go
  test/installers/keycloak_installer.go
  test/installers/knative_installer.go
  test/installers/kogito_installer.go
  test/installers/mongodb_installer.go
  test/installers/service_installer.go
  test/main_test.go
  test/scripts/prune_namespaces.go
  test/steps/data.go
  test/steps/grafana.go
  test/steps/infinispan.go
  test/steps/kafka.go
  test/steps/keycloak.go
  test/steps/knative.go
  test/steps/mongodb.go
  test/steps/operator.go
Due: none

Update version to 1.4.0-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  test/.default_config
  version/version.go
Due: cli

Branching 1.4.x - reset release notes
  RELEASE_NOTES.md
Due: none

Branching 1.4.x - reset release notes (#796)
  RELEASE_NOTES.md
Due: none

[KOGITO-4199] Remove auto-creation of third party CRs
  RELEASE_NOTES.md
  api/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitoinfras.yaml
  config/crd/bases/app.kiegroup.org_kogitoinfras.yaml
  core/infrastructure/infinispan.go
  core/infrastructure/kafka.go
  core/infrastructure/keycloak.go
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/kafka_reconciler.go
  core/kogitoinfra/keycloak_reconciler.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/messaging_kafka.go
  core/kogitoservice/messaging_kafka_test.go
  core/kogitosupportingservice/dataindex_reconciler_test.go
  core/kogitosupportingservice/explainability_reconciler_test.go
  core/kogitosupportingservice/trustyai_reconciler_test.go
  core/test/kafka.go
  examples/data-index-mongodb.yaml
  examples/data-index.yaml
  examples/explainability.yaml
  examples/kogitoinfra-infinispan.yaml
  examples/kogitoinfra-kafka.yaml
  examples/kogitoinfra-keycloak.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  examples/process-quarkus-example-persistence-nobuild.yaml
  examples/process-quarkus-example-persistence.yaml
  examples/travelapp-kogito-travel-agency.yaml
  examples/travelapp-kogito-visas.yaml
  examples/trusty.yaml
  kogito-operator.yaml
Due: operator

[KOGITO-4199] Fix BDD test broken after service provider merge (#16)
  test/features/data_index_performance.feature
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_travel_agency.feature
  test/features/install_dataindex.feature
  test/features/install_explainability.feature
  test/features/install_jobs_service.feature
Due: none

[KOGITO-4199] Adjust description of service installation using CLI
  cmd/kogito/command/install/supportingservices.go
Due: cli

Incorporating review, removing CLI commands that force 3rd party resource creation
  RELEASE_NOTES.md
  cmd/kogito/command/flag/infraresource_flag.go
  cmd/kogito/command/install/kogito_infra.go
  cmd/kogito/command/install/kogito_infra_test.go
  cmd/kogito/command/project/new_project.go
  cmd/kogito/command/project/new_project_test.go
  cmd/kogito/command/project/project.go
  cmd/kogito/command/project/use_project.go
  cmd/kogito/command/shared/default_services.go
  cmd/kogito/command/shared/install_services.go
  examples/travelapp-kogito-visas.yaml
Due: cli

[KOGITO-4199] Adjust BDD tests to use externally provided services
  test/features/data_index_performance.feature
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_travel_agency.feature
  test/features/install_dataindex.feature
  test/features/install_explainability.feature
  test/features/install_jobs_service.feature
  test/features/install_mgmtconsole.feature
  test/features/install_taskconsole.feature
  test/features/install_trusty.feature
  test/features/keycloak.feature
  test/features/kogito_service_performance.feature
  test/features/olm/cli_install_operator.feature
  test/features/olm/cli_new_project.feature
  test/features/olm/cli_use_project.feature
  test/framework/kogitoinfra.go
  test/steps/kogitoinfra.go
  test/steps/mappers/create_kogito_infra.go
Due: none

Update version to 1.4.0-snapshot (#795)
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  test/.default_config
  version/version.go
Due: cli

Path conditions:
  operator: any of: api/, controllers/, internal/, core/
  cli: any of: cmd/
