Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - api/
      - controllers/
      - internal/
      - core/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

[KOGITO-4728] Build process mongodb events example (#805)
  test/scripts/examples/process-mongodb-persistence-quarkus-example.feature
  test/scripts/examples/process-mongodb-persistence-springboot-example.feature
Due: none

[KOGITO-4731] - Conditions should reflect latest evaluated status - Review comments
  api/kogitobuild_types.go
  api/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types_test.go
  controllers/kogitoinfra_controller_test.go
  core/kogitobuild/status.go
  core/kogitobuild/status_test.go
  core/kogitoinfra/status.go
  core/kogitoinfra/status_test.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/status.go
  core/manager/infra_manager.go
  core/test/kogitoinfra.go
  test/framework/kogitoinfra.go
Due: operator

Fix test cases
  core/kogitoinfra/status.go
Due: operator

Gix Lint issue
  api/v1beta1/zz_generated.openapi.go
  go.sum
Due: operator

[KOGITO-4742] Reuse nightly example images for BDD PR check
  Jenkinsfile
Due: none

[KOGITO-4742] Reuse nightly example images for BDD PR check (#810)
  Jenkinsfile
Due: none

Remove failed condition when service recovered from failure
  api/kogitoservices_types.go
  core/kogitoservice/status.go
  core/kogitoservice/status_test.go
Due: operator

KOGITO-3344 - Failover scenario for scaling Kafka to 0 using BDD tests (#807)
  test/features/deploy_kogito_runtime.feature
  test/framework/graphql.go
  test/framework/kafka.go
  test/steps/kafka.go
Due: none

[KOGITO-4753] - Cannot deploy Kogito operator together with RHPAM Kogito operator
  RELEASE_NOTES.md
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  go.sum
  kogito-operator.yaml
Due: operator

[KOGITO-4606] - Remove the hardcoded references to the default images name
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/kogitobuild_controller_test.go
  core/infrastructure/image.go
  core/kogitobuild/image_stream.go
  core/kogitobuild/image_stream_test.go
  core/kogitobuild/manager_test.go
  kogito-operator.yaml
  test/framework/dockerfile_provider.go
  test/framework/kogitobuild.go
  test/framework/kogitoserviceutils.go
  test/framework/util.go
Due: operator

[KOGITO-4753] - Cannot deploy Kogito operator together with RHPAM Kogito operator (#812)
  RELEASE_NOTES.md
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/kogito-operator-controller-manager_v1_serviceaccount.yaml
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  go.sum
  kogito-operator.yaml
Due: operator

[KOGITO-4769] BDD tests: Create DMN example test
  test/features/deploy_kogito_runtime.feature
  test/scripts/examples/dmn-quarkus-example.feature
  test/scripts/examples/dmn-springboot-example.feature
Due: none

Change env var name in uppercase with underscore
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  core/infrastructure/image.go
  core/kogitobuild/image_stream.go
  kogito-operator.yaml
Due: operator

KOGITO-4775 Solve artifacts saving in PR check
  Jenkinsfile
Due: none

KOGITO-4775 Solve artifacts saving in PR check (#815)
  Jenkinsfile
Due: none

[KOGITO-4333] - Hardening Kogito Operator permissions
  RELEASE_NOTES.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/kogitobuild_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitosupportingservice_controller.go
  kogito-operator.yaml
Due: operator

[KOGITO-3105] - Missing status for failures for KogitoRuntime CRs
  RELEASE_NOTES.md
  controllers/kogitoruntime_controller_test.go
  core/infrastructure/image.go
Due: operator

Set failed condition to false when reconcilation recovered from failure
  core/kogitoservice/status.go
  core/kogitoservice/status_test.go
Due: operator

[KOGITO-4789] BDD tests: Don't fail step in case pod is in ErrImagePull state
  test/framework/kubernetes.go
Due: none

[KOGITO-4790] BDD tests: Remove unit test from BDD PR check pipeline
  Jenkinsfile
Due: none

[KOGITO-4333] - Hardening Kogito Operator permissions (#816)
  RELEASE_NOTES.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/kogitobuild_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitosupportingservice_controller.go
  kogito-operator.yaml
Due: operator

[KOGITO-4606] - Remove the hardcoded references to the default images… (#813)
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/kogitobuild_controller_test.go
  core/infrastructure/image.go
  core/kogitobuild/image_stream.go
  core/kogitobuild/image_stream_test.go
  core/kogitobuild/manager_test.go
  kogito-operator.yaml
  test/framework/dockerfile_provider.go
  test/framework/kogitobuild.go
  test/framework/kogitoserviceutils.go
  test/framework/util.go
Due: operator

[KOGITO-4789] BDD tests: Don't fail step in case pod is in ErrImagePull state (#818)
  test/framework/kubernetes.go
Due: none

[KOGITO-4790] BDD tests: Remove unit test from BDD PR check pipeline (#819)
  Jenkinsfile
Due: none

[KOGITO-3507] Mounting custom Truststore for KogitoServices
  api/keystore.go
  api/kogitoservices_types.go
  api/v1beta1/keystore.go
  api/v1beta1/kogitoservices.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitoruntimes.yaml
  bundle/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  config/crd/bases/app.kiegroup.org_kogitoruntimes.yaml
  config/crd/bases/app.kiegroup.org_kogitosupportingservices.yaml
  core/kogitoservice/deployer_test.go
  core/kogitoservice/errors.go
  core/kogitoservice/truststore.go
  kogito-operator.yaml
Due: operator

Wrapping up and refactoring small test cases
  api/v1beta1/zz_generated.openapi.go
  core/framework/configmap.go
  core/framework/volume.go
  core/kogitoservice/deployer.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/truststore.go
  core/kogitosupportingservice/mgmtconsole_reconciler_test.go
  core/kogitosupportingservice/taskconsole_reconciler_test.go
  core/kogitosupportingservice/trustyui_reconciler_test.go
  core/manager/infra_manager.go
Due: operator

Changing from configMap to secrets
  api/keystore.go
  api/kogitoservices_types.go
  api/v1beta1/keystore.go
  api/v1beta1/kogitoservices.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitoruntimes.yaml
  bundle/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  cmd/kogito/command/converter/truststore_converter.go
  cmd/kogito/command/flag/install_flag.go
  cmd/kogito/command/flag/truststore_flag.go
  cmd/kogito/command/service/runtime_service.go
  config/crd/bases/app.kiegroup.org_kogitoruntimes.yaml
  config/crd/bases/app.kiegroup.org_kogitosupportingservices.yaml
  core/framework/configmap.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/truststore.go
  examples/custom-truststore.yaml
  kogito-operator.yaml
Due: operator, cli

Fixing smaill bugs / integration tests with images
  RELEASE_NOTES.md
  cmd/kogito/command/converter/truststore_converter.go
  cmd/kogito/command/flag/install_flag.go
  cmd/kogito/command/flag/truststore_flag.go
  cmd/kogito/command/service/runtime_service.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/truststore.go
  examples/custom-truststore.yaml
  examples/process-quarkus-example-binary-builds.yaml
Due: operator, cli

Removing image name in examples
  examples/custom-truststore.yaml
Due: none

Fixing KogitoInfraHandler requirement for clients/updating example
  core/kogitoservice/deployer.go
  examples/custom-truststore.yaml
  internal/kogitoinfra.go
Due: operator

[KOGITO-4797] - Disable Dev mode in logging by default
  main.go
Due: none

KOGITO-4798 Extracted Makefile test commands
  Makefile
  test/Makefile
Due: none

[KOGITO-4797] - Disable Dev mode in logging by default (#820)
  main.go
Due: none

[KOGITO-4769] BDD tests: Create DMN example test (#814)
  test/features/deploy_kogito_runtime.feature
  test/scripts/examples/dmn-quarkus-example.feature
  test/scripts/examples/dmn-springboot-example.feature
Due: none

[KOGITO-4731] - Conditions should reflect latest evaluated status - R… (#809)
  api/kogitobuild_types.go
  api/kogitoinfra_types.go
  api/kogitoservices_types.go
  api/v1beta1/kogitoinfra_types_test.go
  controllers/kogitoinfra_controller_test.go
  core/kogitobuild/status.go
  core/kogitobuild/status_test.go
  core/kogitoinfra/status.go
  core/kogitoinfra/status_test.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/status.go
  core/kogitoservice/status_test.go
  core/manager/infra_manager.go
  core/test/kogitoinfra.go
  test/framework/kogitoinfra.go
Due: operator

Set reconcilation time to 1min
  api/kogitoservices_types.go
  controllers/kogitoruntime_controller_test.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/errors.go
Due: operator
