Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli, controllers

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
  controllers:
    paths:
      - controllers/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli
      controllers:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - controllers

[KOGITO-4208] - BDD tests: namespace does not appear anymore into the stdout logs See: https://issues.redhat.com/browse/KOGITO-4208
  test/framework/logger.go
Due: none

keep namespace only in logger name
  test/framework/logger.go
Due: none

[KOGITO-4208] - BDD tests: namespace does not appear anymore into the… (#730)
  test/framework/logger.go
Due: none

[KOGITO-4188] [KOGITO-4192] Update Infinispan to 2.0.6 (#728)
  RELEASE_NOTES.md
  controllers/infinispan.go
  controllers/kogitoinfra_controller.go
  go.mod
  go.sum
  hack/install-manifest.sh
  pkg/infrastructure/infinispan.go
Due: operator, controllers

KOGITO-4241 Setup godog 0.11
  cmd/kogito/command/deploy/delete_service_test.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/project/delete_project_test.go
  cmd/kogito/command/project/new_project_test.go
  cmd/kogito/command/remove/kogitoinfra_test.go
  go.mod
  go.sum
  test/config/config.go
  test/main_test.go
Due: cli

Correct promote Jenkinsfile
  Jenkinsfile.promote
Due: none

Correct promote Jenkinsfile (#734)
  Jenkinsfile.promote
Due: none

KOGITO-4241 Setup godog 0.11 (#732)
  cmd/kogito/command/deploy/delete_service_test.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/project/delete_project_test.go
  cmd/kogito/command/project/new_project_test.go
  cmd/kogito/command/remove/kogitoinfra_test.go
  go.mod
  go.sum
  test/config/config.go
  test/main_test.go
Due: cli

Set version 1.2.0-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  pkg/version/version.go
  test/.default_config
Due: operator, cli

Revert "Set version 1.2.0-snapshot"
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  pkg/version/version.go
  test/.default_config
Due: operator, cli

[KOGITO-2885] - Promote pipelines: add a promote.properties file
  Jenkinsfile.promote
Due: none

Set version 1.2.0-snapshot (#735)
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  pkg/version/version.go
  test/.default_config
Due: operator, cli

[KOGITO-4245] - Remove status dependency to get secret credentials
  RELEASE_NOTES.md
  api/v1beta1/zz_generated.openapi.go
  controllers/infinispan.go
  pkg/infrastructure/infinispan.go
Due: operator, controllers

Fixing CI hash and lint script
  .github/workflows/Kogito-Operator-PR-Check.yaml
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  hack/go-lint.sh
  kogito-operator.yaml
Due: none

Fixing path for binaries hash
  .github/workflows/Kogito-Operator-PR-Check.yaml
Due: none

Fixing openapi generation script
  api/kafka/v1beta1/zz_generated.openapi.go
  hack/openapi.sh
Due: none

Regen with updated kustomize
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
Due: none

Adding gopath to hash keys
  .github/workflows/Kogito-Operator-PR-Check.yaml
Due: none

Fixing concatenation
  .github/workflows/Kogito-Operator-PR-Check.yaml
Due: none

Removing which from sh files
  hack/addheaders.sh
  hack/ci/install-kind.sh
  hack/ci/install-operator-sdk.sh
  hack/ci/start-kind.sh
  hack/go-lint.sh
Due: none

Update release note
  RELEASE_NOTES.md
Due: none

Fix test case
  core/kogitoservice/deployer_resources_test.go
Due: none

fix Version file path
  README.md
  codecov.yml
  core/infrastructure/image.go
  hack/go-fmt.sh
  pkg/version/version.go
  test/config/config.go
  test/framework/operator.go
Due: operator

[KOGITO-4245] - Remove status dependency to get secret credentials (#738)
  .github/workflows/Kogito-Operator-PR-Check.yaml
  RELEASE_NOTES.md
  api/kafka/v1beta1/zz_generated.openapi.go
  api/v1beta1/zz_generated.openapi.go
  controllers/infinispan.go
  hack/addheaders.sh
  hack/ci/install-kind.sh
  hack/ci/install-operator-sdk.sh
  hack/ci/start-kind.sh
  hack/go-lint.sh
  hack/openapi.sh
  pkg/infrastructure/infinispan.go
Due: operator, controllers

[KOGITO-3979] - Switch to current testing suite by OLM See: https://issues.redhat.com/browse/KOGITO-3979
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  Makefile
  go.tools.mod
  go.tools.sum
  hack/ci/ensure-image.sh
  hack/ci/olm-pretest.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/operator-olm-test.sh
  hack/ci/operatorhubio-catalog.Dockerfile
  hack/ci/run-olm-tests.sh
  hack/ci/start-kind.sh
  hack/env.sh
  hack/go-lint.sh
Due: none

[KOGITO-3979] - Switch to current testing suite by OLM (#739)
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  Makefile
  go.tools.mod
  go.tools.sum
  hack/ci/ensure-image.sh
  hack/ci/olm-pretest.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/operator-olm-test.sh
  hack/ci/operatorhubio-catalog.Dockerfile
  hack/ci/run-olm-tests.sh
  hack/ci/start-kind.sh
  hack/env.sh
  hack/go-lint.sh
Due: none

[KOGITO-4245] - Remove status dependency to get secret credentials (#738) (#741)
  .github/workflows/Kogito-Operator-PR-Check.yaml
  RELEASE_NOTES.md
  api/kafka/v1beta1/zz_generated.openapi.go
  api/v1beta1/zz_generated.openapi.go
  controllers/infinispan.go
  hack/addheaders.sh
  hack/ci/install-kind.sh
  hack/ci/install-operator-sdk.sh
  hack/ci/start-kind.sh
  hack/go-lint.sh
  hack/openapi.sh
  pkg/infrastructure/infinispan.go
Due: operator, controllers

[KOGITO-2317] - Unify Kogito Quarkus and Spring Images See: https://issues.redhat.com/browse/KOGITO-2317
  RELEASE_NOTES.md
  controllers/build/image_stream_kogito.go
  controllers/build/image_stream_kogito_test.go
  controllers/build/manager_test.go
  controllers/kogitobuild_controller.go
  controllers/kogitobuild_controller_test.go
  pkg/infrastructure/kogito_images.go
  pkg/infrastructure/services/deployer_resources.go
  test/framework/dockerfile_provider.go
  test/framework/kogitobuild.go
Due: operator, controllers

Tag line added back
  test/framework/kogitobuild.go
Due: none

[KOGITO-4332] Fixing use of controller runtime and mongodb permissions
  Makefile
  RELEASE_NOTES.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/kogitobuild_controller.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitosupportingservice_controller.go
  controllers/mongodb.go
  go.mod
  go.sum
  kogito-operator.yaml
  main.go
  pkg/client/client.go
Due: operator, controllers

Fixing finalizers permission
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/kogitobuild_controller.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitosupportingservice_controller.go
  kogito-operator.yaml
Due: controllers

add envs in runtimeBC
  controllers/build/build_config.go
Due: controllers

Corrected BDD tests
  pkg/client/client.go
  pkg/client/client_builder.go
  pkg/client/client_builder_test.go
  test/framework/kubernetes.go
  test/framework/operator.go
Due: operator

[KOGITO-4332] Fixing role.yaml generation (#742)
  Makefile
  RELEASE_NOTES.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/kogitobuild_controller.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitosupportingservice_controller.go
  controllers/mongodb.go
  go.mod
  go.sum
  kogito-operator.yaml
  main.go
  pkg/client/client.go
  pkg/client/client_builder.go
  pkg/client/client_builder_test.go
  test/framework/kubernetes.go
  test/framework/operator.go
Due: operator, controllers

Fixing conflicts go.mod and Makefile
  Makefile
  RELEASE_NOTES.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/kogitobuild_controller.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitosupportingservice_controller.go
  controllers/mongodb.go
  go.mod
  go.sum
  kogito-operator.yaml
  main.go
  pkg/client/client.go
  pkg/client/client_builder.go
  pkg/client/client_builder_test.go
  test/framework/kubernetes.go
  test/framework/operator.go
Due: operator, controllers

updating go.sum
  go.mod
  go.sum
Due: none
