Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

Incorporate review comments
  README.md
  docs/images/add_configuration.png
  docs/images/add_go_remote_config.png
  docs/images/remote_debug_configurations.png
Due: none

Incorporate review comments
  pkg/infrastructure/data_index.go
Due: operator

Incorporate review comments
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
Due: operator

Move protoBufConfigMapVolumeDefaultMode const to file_permissions file
  pkg/framework/file_permissions.go
  pkg/infrastructure/data_index.go
Due: operator

using octal instead
  pkg/framework/file_permissions.go
Due: operator

KOGITO-1046 - Data Index performance tests (#637)
  test/features/data_index_performance.feature
  test/framework/graphql.go
  test/framework/kogitodataindex.go
  test/framework/maven.go
  test/steps/graphql.go
  test/steps/graphql_queries.go
  test/steps/image_registry.go
  test/steps/mappers/create_maven_options.go
  test/steps/maven.go
Due: none

[KOGITO-3610] - Updating Kogito Service interface to describe CloudEvents
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  pkg/apis/app/v1alpha1/conditions.go
  pkg/apis/app/v1alpha1/kogitoservices_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/errors.go
  pkg/infrastructure/services/messaging.go
  pkg/infrastructure/services/messaging_kafka.go
  pkg/infrastructure/services/messaging_knative.go
  pkg/infrastructure/services/messaging_test.go
Due: operator

[KOGITO-3736] - Reconciler error in Data index controller when Kogito… (#643)
  RELEASE_NOTES.md
  pkg/controller/add_kogitosupportingservice.go
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller_test.go
  pkg/controller/kogitosupportingservice/kogitodataindex_reconciler.go
  pkg/controller/kogitosupportingservice/kogitodataindex_reconciler_test.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
  pkg/framework/file_permissions.go
  pkg/infrastructure/data_index.go
  pkg/infrastructure/data_index_test.go
  pkg/infrastructure/kogito_runtime.go
  pkg/infrastructure/kogito_runtime_test.go
Due: operator

Changing conditional to switch
  pkg/infrastructure/services/messaging.go
Due: operator

KOGITO-1008 BDD test for task console
  Makefile
  README.md
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/features/install_taskconsole.feature
  test/features/keycloak.feature
  test/framework/kogitotaskconsole.go
  test/steps/data.go
  test/steps/kogitomgmtconsole.go
  test/steps/kogitotaskconsole.go
Due: none

KOGITO-1008 BDD test for task console (#632)
  Makefile
  README.md
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/features/install_taskconsole.feature
  test/features/keycloak.feature
  test/framework/kogitotaskconsole.go
  test/steps/data.go
  test/steps/kogitomgmtconsole.go
  test/steps/kogitotaskconsole.go
Due: none

Cosmetics fix
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/errors.go
  pkg/infrastructure/services/messaging.go
  pkg/infrastructure/services/messaging_kafka.go
  pkg/infrastructure/services/messaging_knative.go
Due: operator

[KOGITO-3610] - Updating Kogito Service interface to describe CloudEv… (#647)
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  pkg/apis/app/v1alpha1/conditions.go
  pkg/apis/app/v1alpha1/kogitoservices_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/errors.go
  pkg/infrastructure/services/messaging.go
  pkg/infrastructure/services/messaging_kafka.go
  pkg/infrastructure/services/messaging_knative.go
  pkg/infrastructure/services/messaging_test.go
Due: operator

Fix link
  README.md
  docs/images/add_go_remote_config.png
Due: none

Fix version
  pkg/apis/addtoscheme_app_v1beta1.go
  pkg/apis/app/v1beta1/register.go
Due: operator

Remote Debug Kogito Operator using Intellij IDEA (#628)
  README.md
  docs/images/add_configuration.png
  docs/images/add_go_remote_config.png
  docs/images/remote_debug_configurations.png
Due: none

[KOGITO-3720] Add test coverage for Grafana dashboard
  test/features/grafana.feature
  test/framework/grafana.go
  test/steps/data.go
  test/steps/grafana.go
Due: none

[KOGITO-3831] Store ClusterServiceVersions used in tests
  test/steps/data.go
Due: none

KOGITO-3837 Update master to 2.0.0-snapshot
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/kogito-operator.v2.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  deploy/operator.yaml
  kogito-operator.yaml
  version/version.go
Due: cli

BXMSPROD-944 GA build-chain pull-request flow
  .github/workflows/pull-request.yml
Due: none

small update
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/kogito-operator.v2.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
Due: none

correction of manifest
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/kogito-operator.v2.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
Due: none

BXMSPROD-944 fail-fast: false
  .github/workflows/pull-request.yml
Due: none

BXMSPROD-944 kiegroup/github-action-build-chain to v2.2
  .github/workflows/pull-request.yml
Due: none

[KOGITO-3831] Store ClusterServiceVersions used in tests (#650)
  test/steps/data.go
Due: none

BXMSPROD-944 remove takari
  .github/workflows/pull-request.yml
Due: none

BXMSPROD-944 maven 3.6.2
  .github/workflows/pull-request.yml
Due: none

BXMSPROD-944 setup maven removed
  .github/workflows/pull-request.yml
Due: none

corrected tests
  pkg/controller/kogitobuild/build/image_stream_kogito_test.go
Due: operator

[KOGITO-3720] Add test coverage for Grafana dashboard (#649)
  test/features/grafana.feature
  test/framework/grafana.go
  test/steps/data.go
  test/steps/grafana.go
Due: none

[KOGITO-3837] Update master to 2.0.0-snapshot (#652)
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/2.0.0-snapshot/kogito-operator.v2.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  deploy/operator.yaml
  kogito-operator.yaml
  pkg/controller/kogitobuild/build/image_stream_kogito_test.go
  version/version.go
Due: operator, cli

[KOGITO-3847] Switch Strimzi operator channel to 0.19
  test/framework/operator.go
Due: none

[KOGITO-3847] Switch Strimzi operator channel to 0.19 (#655)
  test/framework/operator.go
Due: none

[KOGITO-3847] Switch Strimzi operator channel to 0.19 (#654)
  test/framework/operator.go
Due: none

[KOGITO-3852] Extend GitHub actions to cover all branches
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/Kogito-Operator-Unit-tests.yaml
Due: none
