Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

Update project version to 0.17.0 for release
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/kogito-operator.v0.17.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  version/version.go
Due: cli

[KOGITO-3715] Kogito Operator installer bundle (#635)
  Jenkinsfile.promote
  README.md
  hack/go-vet.sh
  hack/install.sh
  kogito-operator.yaml
Due: none

Fixing grammar errors (#634)
  .github/pull_request_template.md
Due: none

[KOGITO-3376] Update protobuf ConfigMap using fetched files (#614)
  RELEASE_NOTES.md
  pkg/controller/kogitoruntime/deployer.go
  pkg/controller/kogitoruntime/kogitoruntime_controller_test.go
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/kogito_service_test.go
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/deployment.go
  pkg/infrastructure/services/messaging.go
  pkg/infrastructure/services/prometheus.go
Due: operator

[KOGITO-3708] - Decreasing the amount of reconciliation loops for KogitoInfra
  RELEASE_NOTES.md
  examples/kogitoinfra-infinispan.yaml
  pkg/controller/kogitoinfra/errors.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
  pkg/controller/kogitoinfra/manage_status.go
Due: operator

Adding remaining KogitoInfra examples for Kafka and Keycloak
  examples/kogitoinfra-kafka.yaml
  examples/kogitoinfra-keycloak.yaml
Due: none

Rebase
  kogito-operator.yaml
Due: none

fixing vet
  hack/go-vet.sh
Due: none

Update project version to 0.17.0 for release
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/0.17.0/kogito-operator.v0.17.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  go.sum
  version/version.go
Due: cli

[KOGITO-3708] - Decreasing the amount of reconciliation loops for Kog… (#633)
  RELEASE_NOTES.md
  examples/kogitoinfra-infinispan.yaml
  examples/kogitoinfra-kafka.yaml
  examples/kogitoinfra-keycloak.yaml
  hack/go-vet.sh
  kogito-operator.yaml
  pkg/controller/kogitoinfra/errors.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
  pkg/controller/kogitoinfra/manage_status.go
Due: operator

[Do not merge] Archive kogito-operator.yaml
  .github/workflows/Kogito-Operator-PR-Check.yaml
  hack/go-vet.sh
Due: none

Debugging gen manifest status
  .github/workflows/Kogito-Operator-PR-Check.yaml
Due: none

Align deployment files order
  hack/go-vet.sh
  kogito-operator.yaml
Due: none

Update hack/go-vet.sh
  hack/go-vet.sh
Due: none

Debugging gen manifest status (#642)
  .github/workflows/Kogito-Operator-PR-Check.yaml
  hack/go-vet.sh
  kogito-operator.yaml
Due: none

[KOGITO-3736] - Reconciler error in Data index controller when KogitoRuntime is deployed
  pkg/controller/add_kogitosupportingservice.go
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller_test.go
  pkg/controller/kogitosupportingservice/kogitodataindex_reconciler.go
  pkg/controller/kogitosupportingservice/kogitodataindex_reconciler_test.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
  pkg/infrastructure/data_index.go
  pkg/infrastructure/data_index_test.go
  pkg/infrastructure/kogito_runtime.go
  pkg/infrastructure/kogito_runtime_test.go
  pkg/infrastructure/kogitosupporting_service.go
  pkg/infrastructure/mgmt_console.go
Due: operator

Update pkg/infrastructure/kogitosupporting_service.go
  pkg/infrastructure/kogitosupporting_service.go
Due: operator

[KOGITO-3736] - Update release note
  RELEASE_NOTES.md
Due: none

[KOGITO-816] - Fix formatting
  kogito-operator.yaml
Due: none

[KOGITO-816] - Append annotation to create dropdown to select service type on UI
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  pkg/apis/app/v1alpha1/kogitosupportingservice_types.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
Due: operator

KOGITO-3754 Changed Infiinispan channel to 2.0.x
  test/framework/operator.go
Due: none

KOGITO-1046 - Data Index performance tests
  test/features/data_index_performance.feature
  test/framework/graphql.go
  test/framework/kogitodataindex.go
  test/framework/maven.go
  test/steps/graphql.go
  test/steps/graphql_queries.go
  test/steps/image_registry.go
  test/steps/mappers/create_maven_options.go
  test/steps/maven.go
Due: none

[KOGITO-816] - Operator provisioning for Task Console (#631)
  RELEASE_NOTES.md
  cmd/kogito/command/install/kogito_infra.go
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/message/task_console.go
  cmd/kogito/command/message/trusty.go
  cmd/kogito/command/message/trusty_ui.go
  cmd/kogito/command/remove/supportingservices.go
  cmd/kogito/command/shared/install_services.go
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  examples/kubernetes/travel-agency/task-console.yaml
  examples/task-console.yaml
  kogito-operator.yaml
  pkg/apis/app/v1alpha1/kogitosupportingservice_types.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
  pkg/controller/kogitosupportingservice/taskconsole_reconciler.go
  pkg/controller/kogitosupportingservice/taskconsole_reconciler_test.go
  pkg/infrastructure/data_index.go
  pkg/infrastructure/kogitosupporting_service.go
  pkg/infrastructure/mgmt_console.go
  pkg/infrastructure/task_console.go
Due: operator, cli

Missing Release Notes
  RELEASE_NOTES.md
Due: none

Rebasing with Task Console PR
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/remove/supportingservices.go
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  pkg/apis/app/v1alpha1/kogitosupportingservice_types.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
Due: operator, cli

Fixing typos after rebase
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  pkg/apis/app/v1alpha1/kogitosupportingservice_types.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/client/kubernetes/resource.go
Due: operator

Drop Jose from test reviewers
  .github/bot-files/reviewers.yml
Due: none

Drop Jose from test reviewers (#645)
  .github/bot-files/reviewers.yml
Due: none

[KOGITO-3754] Making KogitoInfra create a truststore secret to hold PKCS certs for infinispan/services connections
  cmd/kogito/command/shared/install_operator.go
  deploy/crds/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoinfras_crd.yaml
  go.mod
  go.sum
  hack/install-manifests.sh
  kogito-operator.yaml
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/kogitobuild/build/build_config.go
  pkg/controller/kogitoinfra/errors.go
  pkg/controller/kogitoinfra/infinispan.go
  pkg/controller/kogitoinfra/kafka.go
  pkg/controller/kogitoinfra/keycloak.go
  pkg/controller/kogitoinfra/knative.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
  pkg/controller/kogitoinfra/kogitoinfra_reconciler.go
  pkg/controller/kogitoinfra/kogitoinfra_service.go
  pkg/controller/kogitoinfra/testdata/tls.crt
  pkg/controller/kogitoruntime/deployer.go
  pkg/controller/kogitoruntime/kogitoruntime_controller_test.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller.go
  pkg/framework/io.go
  pkg/framework/pkcs12.go
  pkg/framework/pkcs12_test.go
  pkg/framework/testdata/tls.crt
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/services/configmap.go
  pkg/infrastructure/services/deployer_resources.go
  pkg/infrastructure/services/deployer_resources_test.go
  pkg/test/kogitoinfra.go
  test/framework/operator.go
Due: operator, cli

KOGITO-3745 Mirror should ignore the custom repo
  Jenkinsfile.deploy
  test/framework/maven.go
Due: none

updated for more easy reading
  Makefile
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/framework/maven.go
Due: none

Incorporating comments and shorten the Volume type size
  cmd/kogito/command/shared/install_operator.go
  deploy/crds/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoinfras_crd.yaml
  kogito-operator.yaml
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/kogitoinfra/infinispan.go
  pkg/controller/kogitoinfra/knative.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/infrastructure/services/deployer_resources.go
  pkg/infrastructure/services/deployer_resources_test.go
  pkg/test/kogitoinfra.go
Due: operator, cli

Fixing file access to ConfigMap
  pkg/framework/io.go
Due: operator

Renaming io.go file and fixing duration log messages
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/framework/file_permissions.go
  pkg/infrastructure/services/dashboards.go
Due: operator

[KOGITO-3754] Making KogitoInfra create a truststore secret to hold P… (#646)
  deploy/crds/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoinfras_crd.yaml
  go.mod
  go.sum
  hack/install-manifests.sh
  kogito-operator.yaml
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/kogitobuild/build/build_config.go
  pkg/controller/kogitoinfra/errors.go
  pkg/controller/kogitoinfra/infinispan.go
  pkg/controller/kogitoinfra/kafka.go
  pkg/controller/kogitoinfra/keycloak.go
  pkg/controller/kogitoinfra/knative.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitoinfra/kogitoinfra_controller_test.go
  pkg/controller/kogitoinfra/kogitoinfra_reconciler.go
  pkg/controller/kogitoinfra/kogitoinfra_service.go
  pkg/controller/kogitoinfra/testdata/tls.crt
  pkg/controller/kogitoruntime/deployer.go
  pkg/controller/kogitoruntime/kogitoruntime_controller_test.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller.go
  pkg/framework/file_permissions.go
  pkg/framework/pkcs12.go
  pkg/framework/pkcs12_test.go
  pkg/framework/testdata/tls.crt
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/services/configmap.go
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/deployer_resources.go
  pkg/infrastructure/services/deployer_resources_test.go
  pkg/test/kogitoinfra.go
  test/framework/operator.go
Due: operator

Incorporate review comments
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
Due: operator

correction in settings.xml
  test/framework/maven.go
Due: none

[KOGITO-3745] Mirror should ignore the custom repo (#639)
  Jenkinsfile.deploy
  Makefile
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/framework/maven.go
Due: none

Path conditions:
  operator: any of: pkg/
  cli: any of: cmd/
