Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - api/
      - controllers/
      - internal/
      - core/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

[KOGITO-4453] Fix overwriting propertiesConfigMap
  RELEASE_NOTES.md
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
  core/test/kogitosupportingservice.go
Due: operator

Implementing new logic to update status
  api/conditions.go
  api/v1beta1/conditions.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitobuilds.yaml
  bundle/manifests/app.kiegroup.org_kogitoinfras.yaml
  bundle/manifests/app.kiegroup.org_kogitoruntimes.yaml
  bundle/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/service/runtime_service.go
  cmd/kogito/command/shared/default_services.go
  config/crd/bases/app.kiegroup.org_kogitobuilds.yaml
  config/crd/bases/app.kiegroup.org_kogitoinfras.yaml
  config/crd/bases/app.kiegroup.org_kogitoruntimes.yaml
  config/crd/bases/app.kiegroup.org_kogitosupportingservices.yaml
  controllers/kogitoruntime_controller_test.go
  core/framework/condition_collection.go
  core/framework/condition_collection_test.go
  core/infrastructure/deployment.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/errors.go
  core/kogitoservice/status.go
  core/kogitoservice/status_test.go
  core/kogitosupportingservice/jobsservice_reconciler_test.go
  core/kogitosupportingservice/mgmtconsole_reconciler_test.go
  core/kogitosupportingservice/taskconsole_reconciler_test.go
  core/kogitosupportingservice/trustyui_reconciler_test.go
  go.mod
  go.sum
  kogito-operator.yaml
  test/framework/kogitoruntime.go
  test/framework/kogitoserviceutils.go
Due: operator, cli

corrections
  test/scripts/examples/process-springboot-example.feature
Due: none

Implement new condition approach in KogitoBuild
  api/kogitobuild_types.go
  api/v1beta1/kogitobuild_types.go
  api/v1beta1/kogitobuild_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitobuilds.yaml
  cmd/kogito/command/service/build_service.go
  config/crd/bases/app.kiegroup.org_kogitobuilds.yaml
  controllers/kogitobuild_controller_test.go
  core/kogitobuild/status.go
  core/kogitobuild/status_test.go
  kogito-operator.yaml
  test/framework/kogitobuild.go
Due: operator, cli

Implement new condition approach in KogitoInfra
  api/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitoinfras.yaml
  cmd/kogito/command/install/kogito_infra.go
  config/crd/bases/app.kiegroup.org_kogitoinfras.yaml
  controllers/kogitoinfra_controller_test.go
  core/kogitoinfra/status.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/errors.go
  core/manager/infra_manager.go
  core/test/kogitoinfra.go
  kogito-operator.yaml
  test/framework/kogitoinfra.go
Due: operator, cli

Fix typo in MongoDB BDD test
  test/features/install_dataindex.feature
Due: none

Fix typo in MongoDB BDD test (#797)
  test/features/install_dataindex.feature
Due: none

Improve testcase coverage
  core/kogitoservice/status_test.go
Due: operator

[KOGITO-4453] Fix overwriting propertiesConfigMap (#792)
  RELEASE_NOTES.md
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
  core/test/kogitosupportingservice.go
Due: operator

review comments
  test/features/deploy_kogito_runtime.feature
  test/features/kogito_service_performance.feature
  test/framework/logging.go
  test/steps/data.go
Due: none

DSL: Correct repo name
  .jenkins/dsl/jobs.groovy
Due: none

Use `SetStatusCondition` method of k8s.io/apimachinery to update conditions in KogitoBuild and KogitoService
  api/conditions.go
  api/kogitobuild_types.go
  api/kogitoservices_types.go
  api/v1beta1/conditions.go
  api/v1beta1/kogitobuild_types.go
  api/v1beta1/kogitobuild_types_test.go
  api/v1beta1/kogitoservices.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/runtime_service.go
  controllers/kogitobuild_controller_test.go
  controllers/kogitoruntime_controller_test.go
  core/kogitobuild/status.go
  core/kogitobuild/status_test.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/status.go
  core/kogitoservice/status_test.go
  core/kogitosupportingservice/jobsservice_reconciler_test.go
  core/kogitosupportingservice/mgmtconsole_reconciler_test.go
  core/kogitosupportingservice/taskconsole_reconciler_test.go
  core/kogitosupportingservice/trustyui_reconciler_test.go
  test/framework/kogitobuild.go
  test/framework/kogitodataindex.go
  test/framework/kogitoexplainability.go
  test/framework/kogitojobsservice.go
  test/framework/kogitomgmtconsole.go
  test/framework/kogitoruntime.go
  test/framework/kogitoserviceutils.go
  test/framework/kogitotaskconsole.go
  test/framework/kogitotrusty.go
  test/framework/kogitotrustyui.go
Due: operator, cli

KogitoInfra maintains collection of conditions
  api/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/kogitoinfra_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitoinfras.yaml
  cmd/kogito/command/install/kogito_infra.go
  config/crd/bases/app.kiegroup.org_kogitoinfras.yaml
  controllers/kogitoinfra_controller_test.go
  core/kogitoinfra/status.go
  core/kogitoinfra/status_test.go
  core/kogitoservice/deployer.go
  core/kogitoservice/deployer_test.go
  core/manager/infra_manager.go
  core/test/kogitoinfra.go
  kogito-operator.yaml
  test/framework/kogitoinfra.go
Due: operator, cli

Undo pkg version of sigs.k8s.io/controller-runtime
  go.mod
  go.sum
Due: none

DSL: Correct repo name (#798)
  .jenkins/dsl/jobs.groovy
Due: none

Add Kogito operator tested integrations into readme
  README.md
Due: none

Update project version to 1.4.0
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  version/version.go
Due: cli

Incorporate review comments
  core/infrastructure/deployment.go
  core/kogitoinfra/status_test.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/status_test.go
Due: operator

Set condition reason
  api/kogitoinfra_types.go
  api/kogitoservices_types.go
  core/kogitobuild/status.go
  core/kogitoinfra/status.go
  core/kogitoservice/status.go
  core/kogitoservice/status_test.go
  kogito-operator.yaml
Due: operator

undo kogito-operator.yaml file changes
  kogito-operator.yaml
Due: none

Add Kogito operator tested integrations into readme (#799)
  README.md
Due: none

KOGITO-4703 correct bats test
  hack/update_test_config.sh.bats
Due: none

KOGITO-4703 correct bats test (#802)
  hack/update_test_config.sh.bats
Due: none

KOGITO-3756 Added Kafka&MongoDB BDD test
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_travel_agency.feature
Due: none

update
  test/features/deploy_kogito_runtime.feature
Due: none

Incorporate review comments
  api/kogitoservices_types.go
  core/kogitoservice/status.go
  core/kogitoservice/status_test.go
Due: operator

removed test tag
  test/features/deploy_kogito_runtime.feature
Due: none

KOGITO-4635 Allow to override the tag if exists
  Jenkinsfile.promote
Due: none

correction
  Jenkinsfile.promote
Due: none

update
  .jenkins/scripts/helper.groovy
  Jenkinsfile.promote
Due: none

KOGITO-3756 Added Kafka&MongoDB BDD test (#803)
  test/features/deploy_kogito_runtime.feature
  test/features/deploy_travel_agency.feature
Due: none

[KOGITO-4635] Allow to override the tag if exists (#804)
  .jenkins/scripts/helper.groovy
  Jenkinsfile.promote
Due: none

KOGITO-4728 Build process mongodb events example
  test/scripts/examples/process-mongodb-persistence-quarkus-example.feature
  test/scripts/examples/process-mongodb-persistence-springboot-example.feature
Due: none

Apply suggestions from code review
  test/scripts/examples/process-mongodb-persistence-springboot-example.feature
Due: none

small test correction
  test/scripts/examples/process-mongodb-persistence-quarkus-example.feature
Due: none

KOGITO-3344 - Failover scenario for scaling Kafka to 0 using BDD tests
  test/features/deploy_kogito_runtime.feature
  test/framework/graphql.go
  test/framework/kafka.go
  test/steps/kafka.go
Due: none
