Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli, controllers

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
  controllers:
    paths:
      - controllers/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli
      controllers:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - controllers

[KOGITO-4112] Improve steps to test Kogito operator on OpenShift using OLM (#709)
  Makefile
  README.md
  hack/update-bundle.sh
Due: none

[KOGITO-4110] - Single namespaced operator reacts on CRs created in different namespaces See: https://issues.redhat.com/browse/KOGITO-4110
  cmd/manager/main.go
  deploy/operator.yaml
  kogito-operator.yaml
Due: cli

KOGITO-4121 switch PR checks to podman
  Jenkinsfile
Due: none

correction
  Jenkinsfile
Due: none

set back original label
  Jenkinsfile
Due: none

[KOGITO-4110] - Single namespaced operator reacts on CRs created in different namespaces (#713)
  cmd/manager/main.go
  deploy/operator.yaml
  kogito-operator.yaml
Due: cli

[KOGITO-4121] Switch PR checks to podman (#714)
  Jenkinsfile
Due: none

[KOGITO-4110] - Single namespaced operator reacts on CRs created in different namespaces See: https://issues.redhat.com/browse/KOGITO-4110
  RELEASE_NOTES.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  main.go
Due: none

[KOGITO-3777] Separate Quarkus/Spring Boot env/properties
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitoinfras.yaml
  config/crd/bases/app.kiegroup.org_kogitoinfras.yaml
  controllers/infinispan.go
  controllers/kafka.go
  controllers/kogitoinfra_controller_test.go
  controllers/kogitoinfra_manage_status.go
  controllers/mongodb.go
  go.sum
  kogito-operator.yaml
  pkg/infrastructure/services/deployer_resources.go
  pkg/infrastructure/services/deployer_test.go
  pkg/infrastructure/services/messaging_kafka.go
  pkg/infrastructure/services/messaging_kafka_test.go
  pkg/test/kogitoinfra.go
Due: operator, controllers

[KOGITO-4109] Implement OLM based approach for running tests
  Makefile
  README.md
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/framework/operator.go
  test/main_test.go
  test/steps/operator.go
Due: none

[KOGITO-4110] - Single namespaced operator reacts on CRs created in different namespaces (#712)
  RELEASE_NOTES.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  main.go
Due: none

[KOGITO-3777] Separate Quarkus/Spring Boot env/properties (#700)
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitoinfras.yaml
  config/crd/bases/app.kiegroup.org_kogitoinfras.yaml
  controllers/infinispan.go
  controllers/kafka.go
  controllers/kogitoinfra_controller_test.go
  controllers/kogitoinfra_manage_status.go
  controllers/mongodb.go
  go.sum
  kogito-operator.yaml
  pkg/infrastructure/services/deployer_resources.go
  pkg/infrastructure/services/deployer_test.go
  pkg/infrastructure/services/messaging_kafka.go
  pkg/infrastructure/services/messaging_kafka_test.go
  pkg/test/kogitoinfra.go
Due: operator, controllers

[KOGITO-4109] Implement OLM based approach for running tests (#715)
  Makefile
  README.md
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/framework/operator.go
  test/main_test.go
  test/steps/operator.go
Due: none

KOGITO-4004 BDD tests stages in lockable resource
  Jenkinsfile
  Jenkinsfile.deploy
  hack/go-lint.sh
Due: none

KOGITO-4121 disable native options for BDD tests (#711)
  Jenkinsfile
Due: none

[1.1.x][KOGITO-4004][KOGITO-4068][cherry-pick] BDD tests stages in lockable resource (#716)
  Jenkinsfile
  Jenkinsfile.deploy
  hack/go-lint.sh
Due: none

KOGITO-4159 updated BDD tests lock string
  Jenkinsfile
  Jenkinsfile.deploy
Due: none

[KOGITO-4133] - API rule violation when running openapi-gen See: https://issues.redhat.com/browse/KOGITO-4133
  RELEASE_NOTES.md
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/infinispan.go
  controllers/kogitoinfra_controller_test.go
  pkg/infrastructure/services/deployer_resources.go
  pkg/infrastructure/services/deployer_resources_test.go
  pkg/test/kogitoinfra.go
Due: operator, controllers

KOGITO-4159 updated BDD tests lock string (#717)
  Jenkinsfile
  Jenkinsfile.deploy
Due: none

KOGITO-4159 updated BDD tests lock string (#717) (#719)
  Jenkinsfile
  Jenkinsfile.deploy
Due: none

[KOGITO-4173] Appy workaround for Keycloak tests
  RELEASE_NOTES.md
  test/features/keycloak.feature
Due: none

[KOGITO-4173] Appy workaround for Keycloak tests (#721)
  RELEASE_NOTES.md
  test/features/keycloak.feature
Due: none

[KOGITO-4173] Appy workaround for Keycloak tests (#720)
  RELEASE_NOTES.md
  test/features/keycloak.feature
Due: none

Fix to get the OPENSHIFT_API credentials in lock
  Jenkinsfile.deploy
Due: none

Fix to get the OPENSHIFT_API credentials in lock (#722)
  Jenkinsfile.deploy
Due: none

Fix to get the OPENSHIFT_API credentials in lock (#723)
  Jenkinsfile.deploy
Due: none

Update GUIDE_TO_KOGITO_DEVS.md
  docs/GUIDE_TO_KOGITO_DEVS.md
Due: none

Update GUIDE_TO_KOGITO_DEVS.md (#725)
  docs/GUIDE_TO_KOGITO_DEVS.md
Due: none

KOGITO-4180 Setup different lock for BDD
  Jenkinsfile.deploy
Due: none

Update project version to 1.1.0
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/1.1.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/1.1.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.1.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.1.0/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.1.0/kogito-operator.v1.1.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  kogito-operator.yaml
  version/version.go
Due: cli

[KOGITO-4133] - API rule violation when running openapi-gen (#718)
  RELEASE_NOTES.md
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/zz_generated.deepcopy.go
  controllers/infinispan.go
  controllers/kogitoinfra_controller_test.go
  pkg/infrastructure/services/deployer_resources.go
  pkg/infrastructure/services/deployer_resources_test.go
  pkg/test/kogitoinfra.go
Due: operator, controllers

KOGITO-4180 Setup different lock for BDD (#726)
  Jenkinsfile.deploy
Due: none

[KOGITO-4188] [KOGITO-4192] Update Infinispan to 2.0.6
  controllers/infinispan.go
  controllers/kogitoinfra_controller.go
  go.mod
  go.sum
  hack/install-manifest.sh
  pkg/infrastructure/infinispan.go
Due: operator, controllers

Removing Endpoint configuration
  controllers/infinispan.go
Due: controllers

Updating Release Notes
  RELEASE_NOTES.md
Due: none

Small change in the release notes section
  Jenkinsfile.promote
Due: none

Small change in the release notes section (#729)
  Jenkinsfile.promote
Due: none
