Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - api/
      - controllers/
      - internal/
      - core/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

Overwrite all.json to include stats.
  test/pkg/installers/hyperfoil_node_scraper_installer.go
Due: none

Fix truststore issue
  core/framework/volume.go
  core/kogitoinfra/infinispantruststore_reconciler.go
  core/kogitoservice/deployer.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/kogitoinfra_reconciler.go
  core/kogitoservice/truststore.go
  core/kogitoservice/truststore_reconciler.go
  core/kogitoservice/truststore_reconciler_test.go
Due: operator

Update Jenkins deploy jobs (#982)
  Jenkinsfile.deploy
  Jenkinsfile.examples-images.deploy
Due: none

BDD: Removed usage of Maven mirror
  .jenkins/scripts/helper.groovy
Due: none

BDD: Removed usage of Maven mirror (#985)
  .jenkins/scripts/helper.groovy
Due: none

KOGITO-4113 Move all jenkins files to .ci/jenkins
  .ci/jenkins/Jenkinsfile
  .ci/jenkins/Jenkinsfile.deploy
  .ci/jenkins/Jenkinsfile.examples-images.deploy
  .ci/jenkins/Jenkinsfile.examples-images.promote
  .ci/jenkins/Jenkinsfile.profiling
  .ci/jenkins/Jenkinsfile.promote
  .ci/jenkins/dsl/Jenkinsfile.seed
  .ci/jenkins/dsl/jobs.groovy
  .ci/jenkins/dsl/test.sh
  .ci/jenkins/scripts/container.groovy
  .ci/jenkins/scripts/helper.groovy
  .ci/jenkins/scripts/openshift.groovy
  .ci/jenkins/scripts/properties.groovy
  .github/bot-files/reviewers.yml
  .github/workflows/jenkins-tests-PR.yml
Due: none

Fix Infinite reconciliation issue and set Infinispan truststore password in secret
  api/v1beta1/volumereference.go
  bundle/manifests/app.kiegroup.org_kogitoinfras.yaml
  config/crd/bases/app.kiegroup.org_kogitoinfras.yaml
  core/infrastructure/configmap.go
  core/infrastructure/secret.go
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoinfra/infinispan_reconciler_test.go
  core/kogitoinfra/infinispanconfig_reconciler.go
  core/kogitoinfra/infinispantruststore_reconciler.go
  core/kogitoinfra/infinispantruststoresecret_reconciler.go
  core/kogitoinfra/infinispantruststoresecret_reconciler_test.go
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
Due: operator

[KOGITO-3793] Review OLM UI spec descriptors
  RELEASE_NOTES.md
  api/v1beta1/artifact.go
  api/v1beta1/gitsource.go
  api/v1beta1/kogitobuild_types.go
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/kogitoruntime_types.go
  api/v1beta1/kogitoservices.go
  api/v1beta1/kogitosupportingservice_types.go
  api/v1beta1/probe.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitobuilds.yaml
  bundle/manifests/app.kiegroup.org_kogitoinfras.yaml
  bundle/manifests/app.kiegroup.org_kogitoruntimes.yaml
  bundle/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/crd/bases/app.kiegroup.org_kogitobuilds.yaml
  config/crd/bases/app.kiegroup.org_kogitoinfras.yaml
  config/crd/bases/app.kiegroup.org_kogitoruntimes.yaml
  config/crd/bases/app.kiegroup.org_kogitosupportingservices.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
Due: operator

Add custom host field for Route creation
  api/kogitoservices_types.go
  api/v1beta1/kogitoservices.go
  core/infrastructure/route.go
  core/kogitoservice/deployer_resources.go
Due: operator

Add runtime controller custom host tests
  controllers/kogitoruntime_controller_test.go
Due: operator

Add hostname validation for Routes
  core/infrastructure/route.go
Due: operator

Add generated files
  api/v1beta1/kogitoservices.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitoruntimes.yaml
  bundle/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  config/crd/bases/app.kiegroup.org_kogitoruntimes.yaml
  config/crd/bases/app.kiegroup.org_kogitosupportingservices.yaml
  go.sum
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
Due: operator

Update RELEASE_NOTES.md
  RELEASE_NOTES.md
Due: none

Incorporate review comments
  cmd/kogito/command/flag/infraresource_flag.go
Due: cli

KOGITO-5762 BDD: Cleanup crds
  hack/bump-version.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/run-olm-tests.sh
  hack/clean-crds.sh
  hack/clean-stuck-namespaces.sh
  hack/client-gen.sh
  hack/create-olm-manifests.sh
  hack/env.sh
  hack/run-tests.sh
  hack/update_test_config.sh
Due: none

correction
  hack/ci/run-olm-tests.sh
  hack/client-gen.sh
  hack/openapi.sh
Due: none

separate sensitive crds and others
  hack/clean-stuck-namespaces.sh
  hack/env.sh
Due: none

[KOGITO-3793] Review OLM UI spec descriptors (#988)
  RELEASE_NOTES.md
  api/v1beta1/artifact.go
  api/v1beta1/gitsource.go
  api/v1beta1/kogitobuild_types.go
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/kogitoruntime_types.go
  api/v1beta1/kogitoservices.go
  api/v1beta1/kogitosupportingservice_types.go
  api/v1beta1/probe.go
  api/v1beta1/zz_generated.openapi.go
  bundle/manifests/app.kiegroup.org_kogitobuilds.yaml
  bundle/manifests/app.kiegroup.org_kogitoinfras.yaml
  bundle/manifests/app.kiegroup.org_kogitoruntimes.yaml
  bundle/manifests/app.kiegroup.org_kogitosupportingservices.yaml
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/crd/bases/app.kiegroup.org_kogitobuilds.yaml
  config/crd/bases/app.kiegroup.org_kogitoinfras.yaml
  config/crd/bases/app.kiegroup.org_kogitoruntimes.yaml
  config/crd/bases/app.kiegroup.org_kogitosupportingservices.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
Due: operator

Upgrade Kogito Operator tested integrations
  README.md
Due: none

correction
  hack/ci/operator-ensure-manifests.sh
Due: none

KOGITO-4113 Move all jenkins files to .ci/jenkins (#946)
  .ci/jenkins/Jenkinsfile
  .ci/jenkins/Jenkinsfile.deploy
  .ci/jenkins/Jenkinsfile.examples-images.deploy
  .ci/jenkins/Jenkinsfile.examples-images.promote
  .ci/jenkins/Jenkinsfile.profiling
  .ci/jenkins/Jenkinsfile.promote
  .ci/jenkins/dsl/Jenkinsfile.seed
  .ci/jenkins/dsl/jobs.groovy
  .ci/jenkins/dsl/test.sh
  .ci/jenkins/scripts/container.groovy
  .ci/jenkins/scripts/helper.groovy
  .ci/jenkins/scripts/openshift.groovy
  .ci/jenkins/scripts/properties.groovy
  .github/bot-files/reviewers.yml
  .github/workflows/jenkins-tests-PR.yml
Due: none

KOGITO-5762 BDD: Cleanup crds (#990)
  hack/bump-version.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/run-olm-tests.sh
  hack/clean-crds.sh
  hack/clean-stuck-namespaces.sh
  hack/create-olm-manifests.sh
  hack/env.sh
  hack/run-tests.sh
  hack/update_test_config.sh
Due: none

KOGITO-5762 BDD: Cleanup crds (#990) (#992)
  hack/bump-version.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/run-olm-tests.sh
  hack/clean-crds.sh
  hack/clean-stuck-namespaces.sh
  hack/create-olm-manifests.sh
  hack/env.sh
  hack/run-tests.sh
  hack/update_test_config.sh
Due: none

Upgrade Kogito Operator tested integrations (#991)
  README.md
Due: none

Update project version to 1.11.0-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

Add permissions for custom host creation
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/kogitoruntime_controller.go
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
Due: operator

Fix lint issue
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
Due: none

Update project version to 1.11.0-snapshot (#993)
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

KOGITO-5781 Push reduced tag in deploy pipeline
  .ci/jenkins/Jenkinsfile.deploy
  .ci/jenkins/Jenkinsfile.examples-images.deploy
  .ci/jenkins/Jenkinsfile.examples-images.promote
  .ci/jenkins/dsl/jobs.groovy
  .ci/jenkins/scripts/helper.groovy
Due: none

[KOGITO-5811] - no kind is registered for the type v1beta1.KogitoInfra
  controllers/kogitoinfra_controller.go
  core/kogitoinfra/status.go
  core/kogitoinfra/status_test.go
Due: operator

Update release note
  RELEASE_NOTES.md
Due: none

[KOGITO-5811] - no kind is registered for the type v1beta1.KogitoInfra (#996)
  RELEASE_NOTES.md
  controllers/kogitoinfra_controller.go
  core/kogitoinfra/status.go
  core/kogitoinfra/status_test.go
Due: operator

Fix BDD tests
  .github/workflows/Kogito-Operator-OLM-tests.yaml
  .github/workflows/Kogito-Operator-PR-Check.yaml
  .github/workflows/Kogito-Operator-Unit-tests.yaml
  README.md
  RELEASE_NOTES.md
  client/go.mod
  client/go.sum
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  docs/GUIDE_FOR_KOGITO_DEVS.md
  go.mod
  go.sum
  hack/addheaders.sh
  hack/ci/install-operator-sdk.sh
  image.yaml
  profiling/image.yaml
  test/pkg/api/hyperfoil/v1alpha2/hyperfoil_types.go
Due: none

[KOGITO-5390] Support using images without namespace part in KogitoRuntime
  api/image.go
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  core/framework/image.go
  core/framework/image_test.go
  core/infrastructure/image.go
  core/kogitobuild/image_stream.go
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/pkg/framework/kogitobuild.go
  test/pkg/framework/kogitoserviceutils.go
  test/pkg/framework/util.go
Due: operator

Fix openapi-gen issue
  Makefile
  api/go.mod
  api/go.sum
  api/v1beta1/doc.go
  api/v1beta1/kogitobuild_types.go
  api/v1beta1/kogitoinfra_types.go
  api/v1beta1/kogitoruntime_types.go
  api/v1beta1/kogitosupportingservice_types.go
  api/v1beta1/zz_generated.openapi.go
  client/clientset/versioned/clientset.go
  client/clientset/versioned/fake/clientset_generated.go
  client/clientset/versioned/fake/register.go
  client/clientset/versioned/scheme/register.go
  client/clientset/versioned/typed/v1beta1/fake/fake_kogito_client.go
  client/clientset/versioned/typed/v1beta1/fake/fake_kogitobuild.go
  client/clientset/versioned/typed/v1beta1/fake/fake_kogitoinfra.go
  client/clientset/versioned/typed/v1beta1/fake/fake_kogitoruntime.go
  client/clientset/versioned/typed/v1beta1/fake/fake_kogitosupportingservice.go
  client/clientset/versioned/typed/v1beta1/kogito_client.go
  client/clientset/versioned/typed/v1beta1/kogitobuild.go
  client/clientset/versioned/typed/v1beta1/kogitoinfra.go
  client/clientset/versioned/typed/v1beta1/kogitoruntime.go
  client/clientset/versioned/typed/v1beta1/kogitosupportingservice.go
  client/go.mod
  client/go.sum
  client/informers/externalversions/core/v1beta1/kogitobuild.go
  client/informers/externalversions/core/v1beta1/kogitoinfra.go
  client/informers/externalversions/core/v1beta1/kogitoruntime.go
  client/informers/externalversions/core/v1beta1/kogitosupportingservice.go
  client/informers/externalversions/factory.go
  client/informers/externalversions/generic.go
  core/kogitoinfra/infinispancredential_reconciler_test.go
  core/kogitoinfra/infinispantruststore_reconciler_test.go
  core/test/infinispan.go
  go.mod
  go.sum
  hack/openapi.sh
  test/go.mod
  test/go.sum
  test/pkg/framework/keycloak.go
Due: operator

fix permission
  go.mod
  go.sum
  image.yaml
Due: none

Update BUILDER references in make file
  Makefile
Due: none
