Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

Copy manifests version 0.14.0 to master
  deploy/olm-catalog/kogito-operator/0.14.0/0.14.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/0.14.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/0.14.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/0.14.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/0.14.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/0.14.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/0.14.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/0.14.0/kogito-operator.v0.14.0.clusterserviceversion.yaml
Due: none

KOGITO-2997 BDD: Maven native build in container
  Jenkinsfile.deploy
  Makefile
  README.md
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/framework/maven.go
Due: none

Update Jenkinsfile.deploy
  Jenkinsfile.deploy
Due: none

KOGITO-3132 Correct set test config on release (#525)
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

Update Jenkinsfile.copy_csv_files
  Jenkinsfile.copy_csv_files
Due: none

[KOGITO-2860] Pipeline to copy manifests from release branch to master (#526)
  Jenkinsfile.copy_csv_files
Due: none

KOGITO-3149 Correct copy manifest files pipeline
  Jenkinsfile.copy_csv_files
Due: none

Copy manifests version 0.14.0 to master
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/0.14.0/kogito-operator.v0.14.0.clusterserviceversion.yaml
Due: none

KOGITO-3149 Correct copy manifest files pipeline (#529)
  Jenkinsfile.copy_csv_files
Due: none

[KOGITO-3154] Update endpoint path
  test/features/install_trusty.feature
  test/features/olm/cli_install_operator.feature
  test/features/olm/cli_new_project.feature
  test/features/olm/cli_use_project.feature
Due: none

[KOGITO-3154] Update endpoint path (#531)
  test/features/install_trusty.feature
  test/features/olm/cli_install_operator.feature
  test/features/olm/cli_new_project.feature
  test/features/olm/cli_use_project.feature
Due: none

[KOGITO-2960] - Incorporate review comments
  pkg/client/custom_reader.go
  pkg/client/custom_writer.go
  pkg/client/kubernetes/resource.go
  pkg/client/kubernetes/resource_reader.go
  pkg/client/kubernetes/resource_writer.go
  pkg/client/prometheus/servicemonitor.go
  pkg/controller/kogitobuild/build/manager.go
  pkg/controller/kogitobuild/kogitobuild_controller.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/resources.go
Due: operator

[KOGITO-3170] Tests: Concurrent map writes error in pod log collector
  test/framework/logging.go
Due: none

fix crds, rebase
  cmd/kogito/command/install/factory.go
  cmd/kogito/command/shared/install_operator_test.go
  cmd/kogito/command/shared/install_services.go
  deploy/crds/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/crds/app.kiegroup.org_v1alpha1_kogitoexplainability_cr.yaml
  deploy/olm-catalog/kogito-operator/0.13.0/kogito-operator.v0.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoexplainabilities_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitoexplainability_types.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller.go
  pkg/controller/kogitoexplainability/kogitoexplainability_controller_test.go
  test/framework/kogitoexplainability.go
  test/steps/kogitoexplainability.go
Due: operator, cli

KOGITO-1265: Enable Jobs-service integration with Kogito test when blockers are fixed
  test/features/deploy_kogito_runtime.feature
  test/framework/kogitojobsservice.go
  test/framework/kubernetes.go
  test/steps/kogitojobsservice.go
Due: none

[KOGITO-3104] - Missing Resources for Operator CRs See: https://issues.redhat.com/browse/KOGITO-3104
  deploy/crds/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/crds/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/crds/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/crds/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/crds/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/crds/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrusties_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitodataindices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitojobsservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitomgmtconsoles_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrusties_crd.yaml
  pkg/apis/app/v1alpha1/kogitobuild_types.go
  pkg/apis/app/v1alpha1/kogitodataindex_types.go
  pkg/apis/app/v1alpha1/kogitoinfra_types.go
  pkg/apis/app/v1alpha1/kogitojobsservice_types.go
  pkg/apis/app/v1alpha1/kogitomgmtconsole_types.go
  pkg/apis/app/v1alpha1/kogitoruntime_types.go
  pkg/apis/app/v1alpha1/kogitotrusty_types.go
Due: operator

inject kogitoruntime route into kogitoexplainability, implement integration test
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/infrastructure/data_index.go
  pkg/infrastructure/explainability.go
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/trusty.go
  test/features/install_explainability.feature
  test/steps/kogitoexplainability.go
Due: operator

fix getJSON error
  test/steps/kogitoexplainability.go
Due: none

KOGITO-1265: Enable Jobs-service integration with Kogito test when blockers are fixed (#533)
  test/features/deploy_kogito_runtime.feature
  test/framework/kogitojobsservice.go
  test/framework/kubernetes.go
  test/steps/kogitojobsservice.go
Due: none

[KOGITO-3170] Tests: Concurrent map writes error in pod log collector (#532)
  test/framework/logging.go
Due: none

remove env var injection in expl service
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/infrastructure/data_index.go
  pkg/infrastructure/explainability.go
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/trusty.go
Due: operator

fix bats
  hack/run-tests.sh.bats
Due: none

Update kogitoruntime_controller.go
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
Due: operator

[KOGITO-2960] - Incorporate review comments
  pkg/client/client.go
  pkg/client/custom_reader.go
  pkg/client/custom_writer.go
  pkg/client/kubernetes/resource_reader.go
  pkg/client/kubernetes/resource_writer.go
  pkg/client/meta/meta.go
  pkg/controller/kogitobuild/kogitobuild_controller.go
  pkg/controller/kogitodataindex/kogitodataindex_controller.go
  pkg/controller/kogitoinfra/kogitoinfra_controller.go
  pkg/controller/kogitojobsservice/kogitojobsservice_controller.go
  pkg/controller/kogitomgmtconsole/kogitomgmtconsole_controller.go
  pkg/controller/kogitoruntime/deployer.go
  pkg/controller/kogitoruntime/kogitoruntime_controller.go
  pkg/controller/kogitotrusty/kogitotrusty_controller.go
  pkg/framework/comparator.go
Due: operator

[KOGITO-2960] - Incorporate review comments
  cmd/kogito/command/converter/prometheus_converter.go
  cmd/kogito/command/converter/prometheus_converter_test.go
  cmd/kogito/command/flag/prometheus_flag.go
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  pkg/apis/app/v1alpha1/prometheus.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/prometheus.go
Due: operator, cli

add trusty ui controller and tests
  Makefile
  README.md
  cmd/kogito/command/install/factory.go
  cmd/kogito/command/install/trusty_ui.go
  cmd/kogito/command/install/trusty_ui_test.go
  cmd/kogito/command/message/trusty_ui.go
  cmd/kogito/command/shared/install_operator_test.go
  cmd/kogito/command/shared/install_services.go
  deploy/crds/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/crds/app.kiegroup.org_v1alpha1_kogitotrustyui_cr.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitotrustyuis_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  pkg/apis/app/v1alpha1/kogitotrustyui_types.go
  pkg/apis/app/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/add_kogitotrustyui.go
  pkg/controller/kogitotrustyui/kogitotrusty_ui_controller.go
  pkg/controller/kogitotrustyui/kogitotrusty_ui_controller_test.go
  pkg/infrastructure/trusty_ui.go
  test/config/config.go
  test/features/install_trustyui.feature
  test/framework/kogitotrustyui.go
  test/steps/data.go
  test/steps/kogitotrustyui.go
Due: operator, cli

[KOGITO-3148] - Remove third party required dependencies from CSV
  cmd/kogito/command/install/infinispan.go
  cmd/kogito/command/install/kafka.go
  cmd/kogito/command/install/keycloak.go
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
Due: cli

Fixing formatting
  cmd/kogito/command/install/infinispan.go
  cmd/kogito/command/install/kafka.go
  cmd/kogito/command/install/keycloak.go
Due: cli

Cover Service Mesh Capabilities
  go.mod
  go.sum
  pkg/apis/app/v1alpha1/types.go
  pkg/client/meta/meta.go
  test/features/service_mesh.feature
  test/features/test.feature
  test/framework/kubernetes.go
  test/framework/mappers/cr_to_cli.go
  test/framework/service_mesh.go
  test/steps/data.go
  test/steps/kogitoruntime.go
  test/steps/mappers/create_kogito_service.go
  test/steps/service_mesh.go
  test/types/holder.go
Due: operator

custom
  test/features/custom.feature
Due: none

add trusty and trusty-ui remove operation
  cmd/kogito/command/remove/runtime_services.go
Due: cli

add explainability service remove operation
  cmd/kogito/command/remove/runtime_services.go
Due: cli

unit test fix
  .github/workflows/Kogito-Operator-Unit-tests.yaml
  cmd/kogito/command/shared/install_operator_test.go
  controllers/kogitobuild_controller_test.go
  controllers/kogitodataindex_controller_test.go
  controllers/kogitoinfra_controller_test.go
  controllers/kogitojobsservice_controller_test.go
  controllers/kogitomgmtconsole_controller_test.go
  controllers/kogitoruntime_controller_test.go
  controllers/kogitotrusty_controller_test.go
  controllers/test_log.go
Due: cli

unit test fix: comment deployservicecmd
  cmd/kogito/command/deploy/deploy_service_test.go
Due: cli

KOGITO-3000: BDD tests: Enable optaplanner native test
  test/features/deploy_kogito_runtime.feature
  test/scripts/examples/process-optaplanner-quarkus.feature
Due: none

KOGITO-3058: Improve DEBUG option
  test/framework/logging.go
Due: none

KOGITO-3058: Improve DEBUG option (#541)
  test/framework/logging.go
Due: none

Path conditions:
  operator: any of: pkg/
  cli: any of: cmd/
