Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - api/
      - controllers/
      - internal/
      - core/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

little fix on release_notes.md
  RELEASE_NOTES.md
Due: none

[1.5.x] [KOGITO-4453] Fix getAppPropsFromConfigMap (#876)
  RELEASE_NOTES.md
  core/kogitoservice/configmap.go
  core/kogitoservice/configmap_test.go
Due: operator

fix olm tests ?
  hack/ci/ensure-image.sh
  hack/ci/olm-pretest.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/run-olm-tests.sh
Due: none

[KOGITO-5104] - [1.5.x] - RHPAM Kogito operator creates wrong default image tags (#867)
  Makefile
  RELEASE_NOTES.md
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
  controllers/kogitobuild_controller.go
  controllers/kogitobuild_controller_test.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitoruntime_finalizer.go
  controllers/kogitosupportingservice_controller.go
  controllers/kogitosupportingservice_finalizer.go
  core/infrastructure/image.go
  core/infrastructure/image_test.go
  core/kogitobuild/build_config.go
  core/kogitobuild/image_stream.go
  core/kogitobuild/image_stream_test.go
  core/kogitobuild/manager_test.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/deployment_test.go
  core/operator/context.go
  hack/ci/ensure-image.sh
  hack/ci/olm-pretest.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/run-olm-tests.sh
  test/framework/kogitoserviceutils.go
  test/framework/util.go
Due: operator

[KOGITO-5104] - RHPAM Kogito operator creates wrong default image tags (#868)
  RELEASE_NOTES.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  controllers/kogitobuild_controller.go
  controllers/kogitobuild_controller_test.go
  controllers/kogitoinfra_controller.go
  controllers/kogitoruntime_controller.go
  controllers/kogitoruntime_finalizer.go
  controllers/kogitosupportingservice_controller.go
  controllers/kogitosupportingservice_finalizer.go
  core/infrastructure/image.go
  core/infrastructure/image_test.go
  core/kogitobuild/build_config.go
  core/kogitobuild/image_stream.go
  core/kogitobuild/image_stream_test.go
  core/kogitobuild/manager_test.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/deployment_test.go
  core/operator/context.go
  hack/ci/ensure-image.sh
  hack/ci/olm-pretest.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/run-olm-tests.sh
  test/pkg/framework/kogitoserviceutils.go
  test/pkg/framework/util.go
Due: operator

BDD tests: Fix nil pointer error for KogitoInfra check
  test/pkg/framework/kogitoinfra.go
Due: none

BDD tests: Use Strimzi operator channel strimzi-0.22.x
  test/bdd_executor.go
  test/installers/kafka_installer.go
Due: none

BDD tests: Fix nil pointer error for KogitoInfra check
  test/framework/kogitoinfra.go
Due: none

[1.5.x] Use Strimzi operator channel strimzi-0.22.x (#877)
  test/bdd_executor.go
  test/framework/kogitoinfra.go
  test/installers/kafka_installer.go
Due: none

BDD tests: Fix nil pointer error for KogitoInfra check (#878)
  test/pkg/framework/kogitoinfra.go
Due: none

[KOGITO-4722] - Support Job Service MongoDB distribution provisioning in Operator
  RELEASE_NOTES.md
  core/kogitosupportingservice/jobsservice_reconciler.go
  docs/GUIDE_TO_KOGITO_DEVS.md
  examples/jobs-service.yaml
Due: operator

Correct promote examples images
  Jenkinsfile.examples-images.promote
Due: none

Correct promote examples images (#880)
  Jenkinsfile.examples-images.promote
Due: none

[1.7.x] Update project version to 1.7.0-snapshot (#872)
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  hack/ci/ensure-image.sh
  hack/ci/olm-pretest.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/run-olm-tests.sh
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

Correct promote examples images (#881)
  Jenkinsfile.examples-images.promote
Due: none

Add Jobs service persistence with Infinispan DB example
  examples/jobs-service-infinispan.yaml
Due: none

add placeholder `{VERSION}` in place of `8.0.0-SNAPSHOT` in GUIDE_TO_KOGITO_DEVS
  docs/GUIDE_TO_KOGITO_DEVS.md
Due: none

Incorporate review comments
  docs/GUIDE_TO_KOGITO_DEVS.md
Due: none

[KOGITO-4722] - Support Job Service MongoDB distribution provisioning… (#879)
  RELEASE_NOTES.md
  core/kogitosupportingservice/jobsservice_reconciler.go
  docs/GUIDE_TO_KOGITO_DEVS.md
  examples/jobs-service-infinispan.yaml
  examples/jobs-service.yaml
Due: operator

[KOGITO-5182] BDD tests: Fix Grafana test after dashboard name change
  test/features/grafana.feature
Due: none

[KOGITO-4455] Enabling raw redeploy of Kogito Services on CLI
  RELEASE_NOTES.md
  cmd/kogito/command/deploy/delete_service_test.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/deploy/testdata/greetings.sw.json
  cmd/kogito/command/install/kogito_infra_test.go
  cmd/kogito/command/install/supportingservices_test.go
  cmd/kogito/command/project/delete_project_test.go
  cmd/kogito/command/project/display_project_test.go
  cmd/kogito/command/project/new_project_test.go
  cmd/kogito/command/project/use_project_test.go
  cmd/kogito/command/remove/kogitoinfra_test.go
  cmd/kogito/command/remove/supportingservices_test.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/runtime_service.go
  cmd/kogito/command/shared/install_services.go
  cmd/kogito/command/test/common.go
  cmd/kogito/core/doc.go
  cmd/kogito/core/resource_manager.go
  core/client/kubernetes/resource_writer.go
Due: operator, cli

Update certification versions
  README.md
Due: none

Update certification versions (#886)
  README.md
Due: none

Update certification versions (#885)
  README.md
Due: none

Update certification versions (#884)
  README.md
Due: none

[KOGITO-5182] BDD tests: Fix Grafana test after dashboard name change (#882)
  test/features/grafana.feature
Due: none

[KOGITO-5083] - Kogito Runtime Image Stream Fails to Update
  RELEASE_NOTES.md
  core/infrastructure/image.go
  core/infrastructure/imagestream.go
  core/kogitoservice/deployer_resources.go
Due: operator

Incorporate review comments
  core/infrastructure/image.go
  core/infrastructure/imagestream.go
Due: operator

Change log level to debug
  core/infrastructure/image.go
Due: operator

[KOGITO-5083] - Kogito Runtime Image Stream Fails to Update (#887)
  RELEASE_NOTES.md
  core/infrastructure/image.go
  core/infrastructure/imagestream.go
  core/kogitoservice/deployer_resources.go
Due: operator

[KOGITO-5205] - ImageStream tag is not updated when image parameter is changed in KogitoRuntime
  controllers/kogitoruntime_controller_test.go
  core/kogitoservice/deployer_resources.go
  core/kogitosupportingservice/mgmtconsole_reconciler_test.go
  core/kogitosupportingservice/taskconsole_reconciler_test.go
  core/kogitosupportingservice/trustyui_reconciler_test.go
Due: operator

KOGITO-4487 Update to nightly branch for testing
  hack/update_test_config.sh
  test/.default_config
Due: none

Corrected set config script
  hack/update_test_config.sh
  hack/update_test_config.sh.bats
Due: none

Update project version to 1.7.0
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  version/version.go
Due: cli

[KOGITO-4487] Update to nightly branch for testing (#889)
  hack/update_test_config.sh
  hack/update_test_config.sh.bats
  test/.default_config
Due: none

[KOGITO-4455] Enabling raw redeploy of Kogito Services on CLI (#883)
  RELEASE_NOTES.md
  cmd/kogito/command/deploy/delete_service_test.go
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/deploy/testdata/greetings.sw.json
  cmd/kogito/command/install/kogito_infra_test.go
  cmd/kogito/command/install/supportingservices_test.go
  cmd/kogito/command/project/delete_project_test.go
  cmd/kogito/command/project/display_project_test.go
  cmd/kogito/command/project/new_project_test.go
  cmd/kogito/command/project/use_project_test.go
  cmd/kogito/command/remove/kogitoinfra_test.go
  cmd/kogito/command/remove/supportingservices_test.go
  cmd/kogito/command/service/build_service.go
  cmd/kogito/command/service/runtime_service.go
  cmd/kogito/command/shared/install_services.go
  cmd/kogito/command/test/common.go
  cmd/kogito/core/doc.go
  cmd/kogito/core/resource_manager.go
  core/client/kubernetes/resource_writer.go
Due: operator, cli
