Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

[KOGITO-3938] Add option to run tests with Kogito cluster wide operator (#694)
  Jenkinsfile
  Jenkinsfile.deploy
  Makefile
  hack/run-tests.sh
  hack/run-tests.sh.bats
  test/config/config.go
  test/framework/namespace.go
  test/framework/operator.go
  test/main_test.go
  test/steps/operator.go
Due: none

[KOGITO-4016] Don't deploy Kogito operator when building example images
  Jenkinsfile
  Jenkinsfile.deploy
Due: none

[KOGITO-4016] Don't deploy Kogito operator when building example images (#696)
  Jenkinsfile
  Jenkinsfile.deploy
Due: none

KOGITO-3908 Don't commit go.mod&go.sum in pipeline
  Jenkinsfile.deploy
Due: none

KOGITO-3863 Setup timeout to pipelines
  Jenkinsfile.copy_csv_files
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

[KOGITO-4046] - Deploying a new Kogito service from files in CLI not reading all files in the directory See: https://issues.redhat.com/browse/KOGITO-4046
  cmd/kogito/command/iozip/zip_files.go
Due: cli

KOGITO-3908 Don't commit go.mod&go.sum in pipeline (#697)
  Jenkinsfile.deploy
Due: none

KOGITO-3863 Setup timeout to pipelines (#698)
  Jenkinsfile.copy_csv_files
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

review comments
  RELEASE_NOTES.md
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/iozip/zip_files.go
Due: cli

Adjust BDD tests for operator-sdk changes
  Makefile
  README.md
  hack/run-tests.sh
  hack/run-tests.sh.bats
  pkg/infrastructure/operator.go
  test/config/config.go
  test/framework/operator.go
  test/framework/util.go
  test/main_test.go
  test/steps/operator.go
Due: operator

[KOGITO-4046] - Deploying a new Kogito service from files in CLI not … (#699)
  RELEASE_NOTES.md
  cmd/kogito/command/deploy/deploy_service.go
  cmd/kogito/command/iozip/zip_files.go
Due: cli

adjust Makefile for buildah
  Makefile
Due: none

KOGITO-4068 set kogito version 1.1.0-snapshot
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/1.1.0-snapshot/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/1.1.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.1.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.1.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.1.0-snapshot/kogito-operator.v1.1.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  kogito-operator.yaml
  test/.default_config
  version/version.go
Due: cli

KOGITO-3878 copy_csv_files to set replace field
  Jenkinsfile.deploy
  hack/bump-version.sh
  hack/bump-version.sh.bats
  hack/ci/load-operator-image.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/operator-olm-test.sh
  hack/env.sh
  hack/export-version.sh
  hack/update_test_config.sh
Due: none

KOGITO-4068 set kogito version 1.1.0-snapshot (#701)
  .osdk-scorecard.yaml
  README.md
  cmd/kogito/version/version.go
  deploy/olm-catalog/kogito-operator/1.1.0-snapshot/app.kiegroup.org_kogitobuilds_crd.yaml
  deploy/olm-catalog/kogito-operator/1.1.0-snapshot/app.kiegroup.org_kogitoinfras_crd.yaml
  deploy/olm-catalog/kogito-operator/1.1.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.1.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.1.0-snapshot/kogito-operator.v1.1.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/custom-subscription-example.yaml
  deploy/olm-catalog/kogito-operator/kogito-operator.package.yaml
  deploy/operator.yaml
  kogito-operator.yaml
  test/.default_config
  version/version.go
Due: cli

updated tests
  hack/bump-version.sh
  hack/bump-version.sh.bats
  hack/env.sh
  hack/update_test_config.sh.bats
Due: none

KOGITO-4074 Extract update-test-config into a script
  Jenkinsfile.deploy
  hack/bump-version.sh
  hack/bump-version.sh.bats
  hack/ci/load-operator-image.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/operator-olm-test.sh
  hack/env.sh
  hack/export-version.sh
  hack/update_test_config.sh
  hack/update_test_config.sh.bats
Due: none

review comments
  hack/env.sh
Due: none

updated calls to bump-version.sh
  Jenkinsfile.deploy
  Jenkinsfile.promote
  Makefile
Due: none

use make command in Jenkinsfiles
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

Update RELEASE_NOTES.md
  RELEASE_NOTES.md
Due: none

Update RELEASE_NOTES.md (#703)
  RELEASE_NOTES.md
Due: none

remove kogito-application.proto ref
  pkg/framework/comparator_test.go
Due: operator

[KOGITO-4074] Extract update-test-config into a script (#702)
  Jenkinsfile.deploy
  Jenkinsfile.promote
  Makefile
  hack/bump-version.sh
  hack/bump-version.sh.bats
  hack/ci/load-operator-image.sh
  hack/ci/operator-ensure-manifests.sh
  hack/ci/operator-olm-test.sh
  hack/env.sh
  hack/export-version.sh
  hack/update_test_config.sh
  hack/update_test_config.sh.bats
Due: none

change trusty infinispan default image name
  pkg/infrastructure/trusty.go
Due: operator

KOGITO-4004 BDD tests stages in lockable resource
  Jenkinsfile.deploy
Due: none

setup also Jenkinsfile
  Jenkinsfile
Due: none

KOGITO-4111 Use docker in deploy/promote pipelines
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

updated lint timeout
  hack/go-lint.sh
Due: none

[KOGITO-4004] Encapsulate BDD tests stages into a lockable resource (#706)
  Jenkinsfile
  Jenkinsfile.deploy
  hack/go-lint.sh
Due: none

KOGITO-4111 Use docker in deploy/promote pipelines (#708)
  Jenkinsfile.deploy
  Jenkinsfile.promote
Due: none

remove kogito-application.proto ref (#704)
  pkg/framework/comparator_test.go
Due: operator

KOGITO-4121 disable native options for BDD tests
  Jenkinsfile
Due: none

KOGITO-4121 disable native options for BDD tests (#711)
  Jenkinsfile
Due: none

[KOGITO-4112] Improve steps to test Kogito operator on OpenShift using OLM
  Makefile
  README.md
  hack/update-bundle.sh
Due: none
