Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - pkg/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

Update pkg/infrastructure/services/messaging_test.go
  pkg/infrastructure/services/messaging_test.go
Due: operator

Update pkg/infrastructure/services/mock_svc_test.go
  pkg/infrastructure/services/mock_svc_test.go
Due: operator

refactoring
  pkg/infrastructure/services/dashboards_test.go
  pkg/infrastructure/services/messaging_test.go
Due: operator

Revert "KOGITO-3514 BDD: switch to docker container engine (#594)"
  Jenkinsfile.deploy
Due: none

Adjust Jenkisfile to execute all non native tests
  Jenkinsfile
Due: none

set grafanadashboards owner
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/dashboards_test.go
  pkg/infrastructure/services/deployer.go
Due: operator

make grafana functions private
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/dashboards_test.go
Due: operator

change grafana dashboard app label
  pkg/infrastructure/services/dashboards.go
Due: operator

Revert "change grafana dashboard app label"
  pkg/infrastructure/services/dashboards.go
Due: operator

Remote Debug Kogito Operator using Intellij IDEA
  README.md
Due: none

KOGITO-3711: BDD tests: Unable to find latest tagged image
  test/steps/openshift.go
Due: none

refactoring
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/dashboards_test.go
  pkg/infrastructure/services/deployer.go
Due: operator

Update pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/dashboards.go
Due: operator

refactoring
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/messaging.go
  pkg/infrastructure/services/prometheus.go
Due: operator

refactoring
  pkg/infrastructure/services/dashboards.go
Due: operator

refactoring
  pkg-coverage.txt
  pkg/infrastructure/kogito_service.go
Due: operator

remove generated file
  pkg-coverage.txt
Due: none

fix typo
  pkg/infrastructure/kogito_service.go
Due: operator

[KOGITO-816] - Operator provisioning for Task Console
  cmd/kogito/command/install/kogito_infra.go
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/message/task_console.go
  cmd/kogito/command/message/trusty.go
  cmd/kogito/command/message/trusty_ui.go
  cmd/kogito/command/remove/supportingservices.go
  cmd/kogito/command/shared/install_services.go
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  pkg/apis/app/v1alpha1/kogitosupportingservice_types.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
  pkg/controller/kogitosupportingservice/taskconsole_reconciler.go
  pkg/controller/kogitosupportingservice/taskconsole_reconciler_test.go
  pkg/infrastructure/data_index.go
  pkg/infrastructure/kogitosupporting_service.go
  pkg/infrastructure/mgmt_console.go
  pkg/infrastructure/task_console.go
Due: operator, cli

[KOGITO-3094] - Provide data-index-infinispan/mongodb as independent images (#621)
  RELEASE_NOTES.md
  examples/data-index-mongodb.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  pkg/infrastructure/data_index.go
Due: operator

[KOGITO-816] - Incorporate review comments
  RELEASE_NOTES.md
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/remove/supportingservices.go
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  examples/kubernetes/travel-agency/task-console.yaml
  examples/task-console.yaml
  pkg/apis/app/v1alpha1/kogitosupportingservice_types.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller.go
  pkg/controller/kogitosupportingservice/kogitosupportingservice_controller.go
  pkg/infrastructure/data_index.go
Due: operator, cli

make vet
  go.sum
Due: none

update release notes
  RELEASE_NOTES.md
Due: none

Update kogito_service_test.go
  pkg/infrastructure/kogito_service_test.go
Due: operator

[KOGITO-3715] Kogito Operator installer bundle
  Jenkinsfile.promote
  hack/bump-version.sh
  hack/go-vet.sh
  kogito-operator.yaml
Due: none

Fixing grammar errors
  .github/pull_request_template.md
Due: none

KOGITO-3624 - Fetch and deploy grafana dashboards (#623)
  RELEASE_NOTES.md
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/kogito-operator.v1.0.0-snapshot.clusterserviceversion.yaml
  deploy/olm-catalog/kogito-operator/manifests/kogito-operator.clusterserviceversion.yaml
  deploy/role.yaml
  go.mod
  go.sum
  pkg/client/meta/meta.go
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/kogito_service_test.go
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/dashboards_test.go
  pkg/infrastructure/services/deployer.go
  pkg/infrastructure/services/deployer_test.go
  pkg/infrastructure/services/deployment.go
  pkg/infrastructure/services/messaging.go
  pkg/infrastructure/services/messaging_test.go
  pkg/infrastructure/services/mock_svc_test.go
  pkg/infrastructure/services/prometheus.go
Due: operator

Deleted update_httpport.feature file
  test/features/update_httpport.feature
Due: none

enter details in RELEASE_NOTES.md
  RELEASE_NOTES.md
Due: none

review comments
  cmd/kogito/command/flag/install_flag.go
  cmd/kogito/command/install/supportingservices_test.go
  examples/data-index-mongodb.yaml
  examples/data-index.yaml
  examples/explainability.yaml
  examples/trusty.yaml
  pkg/infrastructure/services/deployment.go
  pkg/infrastructure/services/probe.go
Due: operator, cli

review comments
  examples/explainability.yaml
Due: none

rebase issue
  pkg/infrastructure/services/deployment.go
Due: operator

KOGITO-3711: BDD tests: Unable to find latest tagged image (#629)
  test/steps/openshift.go
Due: none

Updating install script
  README.md
  hack/install.sh
Due: none

Documentation and removing from bump version
  README.md
  hack/bump-version.sh
Due: none

Fixing TOC
  README.md
Due: none

[KOGITO-3568] - Remove spec.httpPort attribute from Operator and HTTP… (#630)
  RELEASE_NOTES.md
  cmd/kogito/command/deploy/deploy_service_test.go
  cmd/kogito/command/flag/install_flag.go
  cmd/kogito/command/install/supportingservices.go
  cmd/kogito/command/install/supportingservices_test.go
  cmd/kogito/command/service/runtime_service.go
  deploy/crds/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/crds/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/1.0.0-snapshot/app.kiegroup.org_kogitosupportingservices_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitoruntimes_crd.yaml
  deploy/olm-catalog/kogito-operator/manifests/app.kiegroup.org_kogitosupportingservices_crd.yaml
  examples/data-index-mongodb.yaml
  examples/data-index.yaml
  examples/explainability.yaml
  examples/trusty.yaml
  pkg/apis/app/v1alpha1/kogitoservices_types.go
  pkg/apis/app/v1alpha1/zz_generated.openapi.go
  pkg/controller/kogitosupportingservice/explainability_reconciler_test.go
  pkg/controller/kogitosupportingservice/kogitodataindex_controller_test.go
  pkg/controller/kogitosupportingservice/trustyai_reconciler_test.go
  pkg/infrastructure/services/deployment.go
  pkg/infrastructure/services/deployment_test.go
  pkg/infrastructure/services/probe.go
  test/features/update_httpport.feature
  test/framework/kubernetes.go
  test/framework/mappers/cr_to_cli.go
  test/steps/mappers/create_kogito_service.go
Due: operator, cli

adding missing link
  README.md
Due: none

[KOGITO-3376] Update protobuf ConfigMap using fetched files
  RELEASE_NOTES.md
  pkg/controller/kogitoruntime/deployer.go
  pkg/controller/kogitoruntime/kogitoruntime_controller_test.go
  pkg/infrastructure/kogito_service.go
  pkg/infrastructure/kogito_service_test.go
  pkg/infrastructure/services/dashboards.go
  pkg/infrastructure/services/deployment.go
  pkg/infrastructure/services/messaging.go
  pkg/infrastructure/services/prometheus.go
Due: operator
