Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

codecov.yml:

comment:
  require_changes: true
flags:
  operator:
    paths:
      - api/
      - controllers/
      - internal/
      - core/
  cli:
    paths:
      - cmd/
coverage:
  status:
    project:
      operator:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - operator
      cli:
        target: auto
        base: auto
        threshold: 5%
        flags:
          - cli

Set multiple owner to imageStream
  controllers/kogitoruntime_finalizer.go
  controllers/kogitoruntime_finalizer_test.go
  core/framework/owner.go
  core/framework/owner_test.go
  core/framework/util/arrays.go
  core/framework/util/arrays_test.go
  core/infrastructure/image_test.go
  core/infrastructure/imagestream.go
  core/infrastructure/imagestream_test.go
  core/kogitoruntime/imagestream_finalizer.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/infra_finalizer.go
  core/kogitoservice/infra_finalizer_test.go
  core/test/imagestream.go
Due: operator

Update project version to 1.7.0
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  version/version.go
Due: cli

[KOGITO-5256] - Fix Knative Trigger creation
  core/kogitoservice/messaging_knative.go
  core/kogitoservice/messaging_knative_test.go
  core/test/env.go
Due: operator

Adding Release Notes...
  RELEASE_NOTES.md
Due: none

[KOGITO-5263] BDD tests: Ignore Keycloak URL difference in retrieved token
  test/features/keycloak.feature
Due: none

[KOGITO-5263] BDD tests: Ignore Keycloak URL difference in retrieved token (#895)
  test/features/keycloak.feature
Due: none

[KOGITO-5263] BDD tests: Ignore Keycloak URL difference in retrieved token (#894)
  test/features/keycloak.feature
Due: none

KOGITO-5246 Correct ns cleanup
  Jenkinsfile
  Jenkinsfile.deploy
  Jenkinsfile.profiling
  test/pkg/framework/namespace.go
  test/pkg/installers/service_installer.go
Due: none

correction
  test/pkg/framework/namespace.go
Due: none

[KOGITO-5256] - Fix Knative Trigger creation (#893)
  RELEASE_NOTES.md
  core/kogitoservice/messaging_knative.go
  core/kogitoservice/messaging_knative_test.go
  core/test/env.go
Due: operator

[1.7.x] Update snapshot version to 1.7.1-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  version/version.go
Due: cli

KOGITO-5297 Enable process-timer native test
  test/features/deploy_kogito_runtime.feature
Due: none

KOGITO-5297 Enable process-timer native test (#901)
  test/features/deploy_kogito_runtime.feature
Due: none

[KOGITO-5215] Document setting up Infinispan server
  docs/SETTING_UP_INFRA.md
  examples/infinispan-server.yaml
  examples/process-quarkus-example-persistence-nobuild.yaml
Due: none

KOGITO-5303 BDD: Disable SSL on Git option
  hack/run-tests.sh
  test/Makefile
  test/pkg/config/config.go
  test/pkg/steps/kogitobuild.go
Due: none

correction
  test/pkg/config/config.go
Due: none

test
  test/features/deploy_kogito_build.feature
Due: none

KIECLOUD-542 Conscious Language on KieCloud repos
  .github/bot-files/comments.yml
  .github/pull_request_template.md
  .github/workflows/jenkins-tests-PR.yml
  .jenkins/dsl/test.sh
  Jenkinsfile.deploy
  Jenkinsfile.examples-images.deploy
  Jenkinsfile.examples-images.promote
  Jenkinsfile.profiling
  Jenkinsfile.promote
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/command/install/supportingservices.go
  config/crd/bases/app.kiegroup.org_kogitobuilds.yaml
  config/crd/bases/app.kiegroup.org_kogitoinfras.yaml
  config/crd/bases/app.kiegroup.org_kogitoruntimes.yaml
  config/crd/bases/app.kiegroup.org_kogitosupportingservices.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  examples/data-index-mongodb.yaml
  examples/data-index.yaml
  examples/explainability.yaml
  examples/kogitoinfra-kafka.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  examples/process-quarkus-example-persistence.yaml
  examples/springboot.yaml
  examples/travelapp-kogito-travel-agency.yaml
  examples/travelapp-kogito-visas.yaml
  examples/trusty.yaml
  hack/run-tests.sh
  hack/update_test_config.sh
  hack/update_test_config.sh.bats
  test/.default_config
Due: cli

Change source folder BDD test to use dmn project
  test/features/deploy_source_files.feature
Due: none

KOGITO-5303 BDD: Disable SSL on Git option (#904)
  hack/run-tests.sh
  test/Makefile
  test/features/deploy_kogito_build.feature
  test/pkg/config/config.go
  test/pkg/steps/kogitobuild.go
Due: none

Change source folder BDD test to use dmn project (#907)
  test/features/deploy_source_files.feature
Due: none

[KOGITO-5312] BDD tests: Implement service installer for Prometheus
  test/pkg/installers/prometheus_installer.go
  test/pkg/steps/prometheus.go
Due: none

[KOGITO-5312] BDD tests: Implement service installer for Prometheus (#908)
  test/pkg/installers/prometheus_installer.go
  test/pkg/steps/prometheus.go
Due: none

[KOGITO-5316] BDD tests: Wrong Jobs service image is used for Infinispan test
  core/kogitosupportingservice/jobsservice_reconciler.go
  test/features/install_jobs_service.feature
  test/pkg/steps/kogitojobsservice.go
Due: operator

[KOGITO-5316] BDD tests: Wrong Jobs service image is used for Infinispan test (#909)
  core/kogitosupportingservice/jobsservice_reconciler.go
  test/features/install_jobs_service.feature
  test/pkg/steps/kogitojobsservice.go
Due: operator

reconcile image stream before moving to other resources
  controllers/kogitoruntime_controller.go
  controllers/kogitoruntime_controller_test.go
  controllers/kogitoruntime_finalizer.go
  controllers/kogitosupportingservice_controller_test.go
  core/framework/util/arrays.go
  core/framework/util/arrays_test.go
  core/infrastructure/image.go
  core/infrastructure/imagestream.go
  core/infrastructure/imagestream_reconciler.go
  core/kogitoruntime/imagestream_finalizer.go
  core/kogitoservice/configmap.go
  core/kogitoservice/configmap_test.go
  core/kogitoservice/dashboards.go
  core/kogitoservice/deployer.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/deployer_test.go
  core/kogitoservice/errors.go
  core/kogitoservice/infra_finalizer.go
  core/kogitoservice/prometheus.go
  core/kogitosupportingservice/dataindex_reconciler_test.go
  core/kogitosupportingservice/explainability_reconciler_test.go
  core/kogitosupportingservice/jobsservice_reconciler_test.go
  core/kogitosupportingservice/mgmtconsole_reconciler_test.go
  core/kogitosupportingservice/taskconsole_reconciler_test.go
  core/kogitosupportingservice/trustyai_reconciler_test.go
  core/kogitosupportingservice/trustyui_reconciler_test.go
Due: operator

Fix logger
  core/infrastructure/imagestream.go
Due: operator

Fix testcase
  controllers/kogitoruntime_controller_test.go
Due: operator

Implement VSCode part of the scenario
  test/features/deploy_kogito_build_vs_code.feature
  test/pkg/steps/data.go
  test/pkg/steps/kie_asset_library.go
Due: none

Clarify feature steps
  test/features/deploy_kogito_build_vs_code.feature
  test/pkg/steps/kie_asset_library.go
Due: none

Incorporate review feedback - 2
  test/pkg/steps/data.go
  test/pkg/steps/kie_asset_library.go
Due: none

Keep 'mvn clean package' ouptut loging
  test/pkg/steps/maven.go
Due: none

Helper methods for obtaining resultBody and contentType
  test/pkg/framework/http.go
Due: none

Incorporate review feedback
  test/features/deploy_kogito_build_vs_code.feature
  test/pkg/steps/data.go
  test/pkg/steps/deploy_files.go
  test/pkg/steps/git.go
  test/pkg/steps/image_registry.go
  test/pkg/steps/kie_asset_library.go
  test/pkg/steps/kogitobuild.go
  test/pkg/steps/maven.go
  test/pkg/steps/openshift.go
Due: none

Update test/pkg/steps/data.go
  test/pkg/steps/data.go
Due: none

Fix lint check
  test/pkg/framework/decision.go
  test/pkg/framework/http.go
Due: none
