Repository apache/incubator-kie-kogito-operator: changes, and which Codecov flags are due for each by the changed paths.
All: operator, cli

Setup QE production cluster for tests
  .jenkins/dsl/jobs.groovy
  .jenkins/scripts/helper.groovy
  Jenkinsfile.deploy
  Jenkinsfile.profiling
Due: none

[KOGITO-5478] - Management console does not work on OpenShift (#925)
  RELEASE_NOTES.md
  api/v1beta1/kogitosupportingservice_types.go
  api/v1beta1/kogitosupportingservice_types_test.go
  core/manager/supportingservice_manager.go
  go.sum
  internal/kogitosupportingservice.go
Due: operator

[KOGITO-5478] - [1.9.x] - Management console does not work on OpenShift
  RELEASE_NOTES.md
  api/v1beta1/kogitosupportingservice_types.go
  api/v1beta1/kogitosupportingservice_types_test.go
  core/manager/supportingservice_manager.go
  go.sum
  internal/kogitosupportingservice.go
Due: operator

[KOGITO-5478]- [1.8.x] - Management console does not work on OpenShift (#926)
  RELEASE_NOTES.md
  api/v1beta1/kogitosupportingservice_types.go
  api/v1beta1/kogitosupportingservice_types_test.go
  core/manager/supportingservice_manager.go
  internal/kogitosupportingservice.go
Due: operator

[KOGITO-5478] - [1.9.x] - Management console does not work on OpenShift (#933)
  RELEASE_NOTES.md
  api/v1beta1/kogitosupportingservice_types.go
  api/v1beta1/kogitosupportingservice_types_test.go
  core/manager/supportingservice_manager.go
  go.sum
  internal/kogitosupportingservice.go
Due: operator

KOGITO-5480 Reorganized seed jobs & trigger automatically (#929)
  .jenkins/dsl/Jenkinsfile.seed
Due: none

Setup QE production cluster for tests (#932)
  .jenkins/dsl/jobs.groovy
  .jenkins/scripts/helper.groovy
  Jenkinsfile.deploy
  Jenkinsfile.profiling
Due: none

KOGITO-5480 Reorganized seed jobs & trigger automatically (#929) (#934)
  .jenkins/dsl/Jenkinsfile.seed
Due: none

KOGITO-5480 Reorganized seed jobs & trigger automatically (#929) (#936)
  .jenkins/dsl/Jenkinsfile.seed
Due: none

KOGITO-5480 Reorganized seed jobs & trigger automatically (#929) (#935)
  .jenkins/dsl/Jenkinsfile.seed
Due: none

Update project version to 1.9.0-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

Update project version to 1.8.0
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

Update project version to 1.9.0-snapshot (#937)
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

[1.8.x] Update snapshot version to 1.8.1-snapshot
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

Setup QE production cluster for tests (#932) (#939)
  .jenkins/dsl/jobs.groovy
  .jenkins/scripts/helper.groovy
  Jenkinsfile.deploy
  Jenkinsfile.profiling
Due: none

[KOGITO-5512] controller-gen doesn't generate CRD's
  Makefile
  RELEASE_NOTES.md
  go.sum
Due: none

increased timeout
  Jenkinsfile.deploy
Due: none

[KOGITO-4699] BDD tests for Jobs Service with PostgreSQL persistence
  README.md
  core/kogitosupportingservice/jobsservice_reconciler.go
  test/features/install_jobs_service.feature
  test/pkg/steps/data.go
  test/pkg/steps/kogitojobsservice.go
  test/pkg/steps/mappers/create_postgresql_instance.go
  test/pkg/steps/postgresql.go
Due: operator

[KOGITO-4699] BDD tests for Jobs Service with PostgreSQL persistence (#942)
  README.md
  core/kogitosupportingservice/jobsservice_reconciler.go
  test/features/install_jobs_service.feature
  test/pkg/steps/data.go
  test/pkg/steps/kogitojobsservice.go
  test/pkg/steps/mappers/create_postgresql_instance.go
  test/pkg/steps/postgresql.go
Due: operator

[KOGITO-5512] controller-gen doesn't generate CRD's (#941)
  Makefile
  RELEASE_NOTES.md
  go.sum
Due: none

test
  Jenkinsfile.deploy
  README.md
Due: none

[KOGITO-4470] - ConfigMap required ownerReference as controller
  api/v1beta1/kogitoruntime_types.go
  cmd/kogito/command/converter/config_converter.go
  cmd/kogito/command/deploy/deploy_service_test.go
  controllers/kogitoruntime_controller.go
  controllers/kogitoruntime_controller_test.go
  controllers/runtime_deployer.go
  core/connector/protobuf.go
  core/connector/protobuf_configmap.go
  core/connector/protobuf_configmap_reconciler.go
  core/connector/protobuf_test.go
  core/framework/file_permissions.go
  core/infrastructure/configmap.go
  core/kogitoinfra/infinispan_reconciler.go
  core/kogitoservice/app_configmap.go
  core/kogitoservice/app_configmap_reconciler.go
  core/kogitoservice/app_configmap_reconciler_test.go
  core/kogitoservice/app_configmap_test.go
  core/kogitoservice/configmap.go
  core/kogitoservice/configmap_reconciler.go
  core/kogitoservice/configmap_test.go
  core/kogitoservice/delta_processor.go
  core/kogitoservice/deployer.go
  core/kogitoservice/deployer_resources.go
  core/kogitoservice/deployer_resources_test.go
  core/kogitoservice/truststore.go
  core/kogitoservice/userprovided_configmap_reconciler.go
  core/kogitoservice/userprovided_configmap_reconciler_test.go
  core/kogitoservice/volume.go
  core/kogitosupportingservice/dataindex_reconciler.go
  core/manager/infra_manager.go
  core/manager/supportingservice_manager.go
  core/test/kogitosupportingservice.go
  go.mod
  go.sum
  internal/kogitoruntime.go
Due: operator, cli

KOGITO-5326 Setup deploy/promote notifications on demand
  .jenkins/dsl/jobs.groovy
  Jenkinsfile.deploy
  Jenkinsfile.examples-images.deploy
  Jenkinsfile.examples-images.promote
  Jenkinsfile.profiling
  Jenkinsfile.promote
Due: none

Update of tested certification matrix
  README.md
Due: none

Add owner reference in user provided configmap
  core/kogitoservice/userprovided_configmap_reconciler.go
Due: operator

Update OLM retrieval + version
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  go.sum
  hack/env.sh
Due: none

Update OLM retrieval + version (#947)
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  go.sum
  hack/env.sh
Due: none

Changed Strimzi link
  .github/pull_request_template.md
  README.md
  core/framework/image.go
  docs/GUIDE_FOR_KOGITO_DEVS.md
  examples/data-index-mongodb.yaml
  examples/data-index.yaml
  examples/explainability.yaml
  examples/kogitoinfra-kafka.yaml
  examples/kubernetes/travel-agency/data-index.yaml
  examples/process-quarkus-example-persistence.yaml
  examples/travelapp-kogito-travel-agency.yaml
  examples/travelapp-kogito-visas.yaml
  examples/trusty.yaml
Due: operator

conscious lang: Setup main branch
  .github/bot-files/comments.yml
  .github/pull_request_template.md
  .github/workflows/jenkins-tests-PR.yml
  .jenkins/dsl/test.sh
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/command/install/supportingservices.go
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  examples/springboot.yaml
  examples/travelapp-kogito-travel-agency.yaml
  examples/travelapp-kogito-visas.yaml
  hack/run-tests.sh
  hack/update_test_config.sh
  hack/update_test_config.sh.bats
  test/.default_config
Due: cli

Correct Maven repository handling
  .jenkins/scripts/helper.groovy
Due: none

Correct Maven repository handling (#948)
  .jenkins/scripts/helper.groovy
Due: none

Update Jenkinsfile.profiling
  Jenkinsfile.profiling
Due: none

Update project version to 1.9.0
  Makefile
  README.md
  bundle/manifests/kogito-operator.clusterserviceversion.yaml
  cmd/kogito/version/version.go
  config/manager/kustomization.yaml
  config/manifests/bases/kogito-operator.clusterserviceversion.yaml
  kogito-operator.yaml
  profiling/kogito-operator-profiling.yaml
  test/.default_config
  version/version.go
Due: cli

Update of tested certification matrix (#945)
  README.md
Due: none

[KOGITO-5326] Setup deploy/promote notifications on demand (#944)
  .jenkins/dsl/jobs.groovy
  Jenkinsfile.deploy
  Jenkinsfile.examples-images.deploy
  Jenkinsfile.examples-images.promote
  Jenkinsfile.profiling
  Jenkinsfile.promote
Due: none

Path conditions:
  operator: any of: api/, controllers/, internal/, core/
  cli: any of: cmd/
